<html>
<head>
	<title>Strona Główna</title>

	<!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/pracazaliczeniowa/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- style CSS -->
    <link href="{{ asset('bundles/pracazaliczeniowa/css/style.css') }}" rel="stylesheet">
	
</head>
<body>
	<div id="top">
	</div>

{% block content %}
{% endblock %}
	
</body>
</html>