{% extends "MickiewiczTadeuczBundle::layout.html.twig" %}
{% block title %}
    <title>Księga Dwunasta | {{ parent() }}</title>
{%endblock%}
{%block header %}
    <h1>{{ parent() }} - Księga Dwunasta</h1>
{%endblock%}
{%block menu%}
	<ul>
		<li class="list-group-item" class="active"><a href="k1">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2">Księga druga</a></li>
		<li class="list-group-item"><a href="k3">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12">Księga dwunasta</a></li>
    </ul>
{%endblock%}
{% block content %}
<blockquote>
  <hr>
  <font SIZE="4"><h1 ALIGN="center">KSIĘGA DWUNASTA<br>
  </font><font size="5">KOCHAJMY SIĘ</font></h1>
  <font SIZE="4"><h2 ALIGN="center">Treść:</h2>
  <h2 ALIGN="center">Ostatnia uczta staropolska - Arcyserwis - Objaśnienie jego figur -
  Jego ruchy - Dąbrowski udarowany - Jeszcze o Scyzoryku. - Kniaziewicz udarowany. -
  Pierwszy akt urzędowy Tadeusza przy objęciu dziedzictwa - Uwagi Gerwazego - Koncert nad
  koncertami - Polonez - Kochajmy się!</font></h2>
  <hr width="50%" size="1">
  <p ALIGN="JUSTIFY"><font SIZE="4">&nbsp;</p>
  <p ALIGN="JUSTIFY">Na koniec z trzaskiem sali drzwi na wściąż otwarto.</p>
  <p ALIGN="JUSTIFY">Wchodzi pan Wojski w czapce i z głową zadartą,</p>
  <p ALIGN="JUSTIFY">Nie wita się i miejsca za stołem nie bierze,</p>
  <p ALIGN="JUSTIFY">Bo Wojski występuje w nowym charakterze,</p>
  <p ALIGN="JUSTIFY">Marszałka dworu; laskę ma na znak urzędu</p>
  <p ALIGN="JUSTIFY">I tą laską z kolei, jako mistrz obrzędu,</p>
  <p ALIGN="JUSTIFY">Wskazuje wszystkim miejsca i gości usadza.</p>
  <p ALIGN="JUSTIFY">Naprzód, jako najpierwsza województwa władza,</p>
  <p ALIGN="JUSTIFY">Podkomorzy-Marszałek wziął miejsce zaszczytne:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ze słoniowym poręczem krzesło aksamitne;</p>
  <p ALIGN="JUSTIFY">Obok na prawej stronie jenerał Dąbrowski,</p>
  <p ALIGN="JUSTIFY">Na lewej siadł Kniaziewicz, Pac i Małachowski.</p>
  <p ALIGN="JUSTIFY">Śród nich Podkomorzyna, dalej inne panie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oficerowie, pany, szlachta i ziemianie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mężczyźni i kobiety, na przemian po parze</p>
  <p ALIGN="JUSTIFY">Usiadają porządkiem, gdzie Wojski ukaże.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pan Sędzia skłoniwszy się opuścił biesiadę;</p>
  <p ALIGN="JUSTIFY">On na dziedzińcu włościan traktował gromadę;</p>
  <p ALIGN="JUSTIFY">Zebrawszy ich za stołem na dwa staje długim,</p>
  <p ALIGN="JUSTIFY">Sam siadł na jednym końcu, a pleban na drugim.</p>
  <p ALIGN="JUSTIFY">Tadeusz i Zofija do stołu nie siedli;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zajęci częstowaniem włościan, chodząc jedli.</p>
  <p ALIGN="JUSTIFY">Starożytny był zwyczaj, iż dziedzice nowi</p>
  <p ALIGN="JUSTIFY">Na pierwszej uczcie sami służyli ludowi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tymczasem goście, potraw czekający w sali,</p>
  <p ALIGN="JUSTIFY">Z zadziwieniem na wielki serwis poglądali,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Którego równie drogi kruszec jak robota.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest podanie, że książę Radziwiłł-Sierota</p>
  <p ALIGN="JUSTIFY">Kazał ten sprzęt na urząd w Wenecyi zrobić</p>
  <p ALIGN="JUSTIFY">I wedle własnych planów po polsku ozdobić.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Serwis, potem zabrany czasu wojny szwedzki?j,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przeszedł, nie wiedzieć jaką drogą, w dom
  szlachecki.</p>
  <p ALIGN="JUSTIFY">Dziś ze skarbca dobyty zajął środek stoła</p>
  <p ALIGN="JUSTIFY">Ogromnym kręgiem na kształt karetnego koła.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Serwis ten był nalany ode dna po brzegi</p>
  <p ALIGN="JUSTIFY">Piankami i cukrami białemi jak śniegi:</p>
  <p ALIGN="JUSTIFY">Udawał przewybornie krajobraz zimowy;</p>
  <p ALIGN="JUSTIFY">W środku czerniał ogromny bór konfiturowy:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stronami domy, niby wioski i zaścianki,</p>
  <p ALIGN="JUSTIFY">Okryte zamiast śronu cukrowwemi pianki;</p>
  <p ALIGN="JUSTIFY">Na krawędziach naczynia, stoją dla ozdoby</p>
  <p ALIGN="JUSTIFY">Niewielkie, z porcelany wydęte osoby</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W polskich strojach; jakoby aktory na scenie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zdawały się przedstawiać jakoweś zdarzenie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gest ich sztucznie wydany, farby osobliwe,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tylko głosu im braknie, zresztą gdyby żywe.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cóż przedstawiają? - goście pytali ciekawi,</p>
  <p ALIGN="JUSTIFY">Zaczem Wojski podnosi laskę i tak prawi</p>
  <p ALIGN="JUSTIFY">(Tymczasem podawano wódkę przed jedzeniem):</p>
  <p ALIGN="JUSTIFY">&quot;Za mych Wielce Mościwych Panów pozwoleniem:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Te persony, których tu widzicie bez liku,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przedstawiają polskiego historią sejmiku,</p>
  <p ALIGN="JUSTIFY">Narady, wotowanie, tryumfy i waśnie;</p>
  <p ALIGN="JUSTIFY">Sam tę scenę odgadłem i Państwu objaśnię.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Oto na prawo widać liczne szlachty grono:</p>
  <p ALIGN="JUSTIFY">Pewnie ich przed sejmikiem na ucztę sproszono.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czeka nakryty stolik; nikt gości nie sadza,</p>
  <p ALIGN="JUSTIFY">Stoją kupkami, każda kupka się naradza.</p>
  <p ALIGN="JUSTIFY">Patrzcie, iż w każdej kupce stoi w środku człowiek,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z którego ust otwartych, z podniesionych powiek,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rąk niespokojnych, widać - mówca; cóś tłomaczy,</p>
  <p ALIGN="JUSTIFY">I palcem eksplikuje, i na dłoni znaczy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ci mowcy zalecają swoich kandydatów</p>
  <p ALIGN="JUSTIFY">Z różnym skutkiem, jak widać z miny szlachty bratów.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wprawdzie tam w drugiej kupie szlachta pilnie słucha,</p>
  <p ALIGN="JUSTIFY">Ten ręce za pas zatknął i przyłożył ucha,</p>
  <p ALIGN="JUSTIFY">Ów dłoń przy uchu trzyma i milczkiem wąs kręci,</p>
  <p ALIGN="JUSTIFY">Zapewne słowa zbiera i niże w pamięci;</p>
  <p ALIGN="JUSTIFY">Cieszy się mowca, widząc, że są nawróceni,</p>
  <p ALIGN="JUSTIFY">Gładzi kieszeń, bo kreski ich już ma w kieszeni.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz za to w trzeciem gronie dzieje się inacz?j;</p>
  <p ALIGN="JUSTIFY">Tu mówca musi łowić za pasy słuchaczy.</p>
  <p ALIGN="JUSTIFY">Patrzcie! wyrywają się i cofają uszy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Patrzcie, jako ten słuchacz od gniewu się puszy,</p>
  <p ALIGN="JUSTIFY">Wzniosł ręce, grozi mówcy, usta mu zatyka,</p>
  <p ALIGN="JUSTIFY">Pewnie słyszał pochwały swego przeciwnika;</p>
  <p ALIGN="JUSTIFY">Ten drugi, pochyliwszy czoło na kształt byka,</p>
  <p ALIGN="JUSTIFY">Powiedziałbyś, że mówcę pochwyci na rogi;</p>
  <p ALIGN="JUSTIFY">Ci biorą się do szabel, tamci poszli w nogi.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jeden między kupkami szlachcic cichy stoi,</p>
  <p ALIGN="JUSTIFY">Widać, że człek bezstronny, waha się i boi;</p>
  <p ALIGN="JUSTIFY">Za kim dać kreskę? nie wie i sam z sobą w walce,</p>
  <p ALIGN="JUSTIFY">Pyta losu, wzniosł ręce, wytknął wielkie palce,</p>
  <p ALIGN="JUSTIFY">Zmrużył oczy, paznokciem do paznokcia mierzy,</p>
  <p ALIGN="JUSTIFY">Widać, że kreskę swoję kabale powierzy:</p>
  <p ALIGN="JUSTIFY">Jeśli palce trafią się, da afirmatywę,</p>
  <p ALIGN="JUSTIFY">A jeżeli się chybią, rzuci negatywę.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Na lewej druga scena: refektarz klasztoru,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Obrócony na salę szlacheckiego zboru.</p>
  <p ALIGN="JUSTIFY">Starsi rzędem na ławach siedzą, młodsi stają</p>
  <p ALIGN="JUSTIFY">I ciekawi przez głowy w środek zaglądają;</p>
  <p ALIGN="JUSTIFY">W środku marszałek stoi, wazon w ręku trzyma,</p>
  <p ALIGN="JUSTIFY">Liczy gałki, szlachta je pożera oczyma.</p>
  <p ALIGN="JUSTIFY">Właśnie wytrząsł ostatnią; woźni ręce wznoszą</p>
  <p ALIGN="JUSTIFY">I imię obranego urzędnika głoszą.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jeden szlachcic na zgodę powszechną nie zważa.</p>
  <p ALIGN="JUSTIFY">Patrz, wytknął głowę oknem z kuchni refektarza,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Patrz, jak oczy wytrzeszczył, jak pogląda śmiało,</p>
  <p ALIGN="JUSTIFY">Usta otworzył, jakby chciał zjeść izbę całą:</p>
  <p ALIGN="JUSTIFY">Łatwo zgadnąć, że szlachcic ten zawołał: &lt;&lt;Veto!&gt;&gt;</p>
  <p ALIGN="JUSTIFY">Patrzcie, jak za tą nagłą do kłótni podnietą</p>
  <p ALIGN="JUSTIFY">Tłoczy się do drzwi ciżba, pewnie idą w kuchnię;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dostali szable, pewnie krwawy bój wybuchnie.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz tam, na korytarzu, Państwo uważacie</p>
  <p ALIGN="JUSTIFY">Tego starego księdza, co idzie w ornacie -</p>
  <p ALIGN="JUSTIFY">To przeor; Sanctissimum z ołtarza wynosi,</p>
  <p ALIGN="JUSTIFY">A chłopiec w komży dzwoni i na ustąp prosi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szlachta wnet szable chowa, żegna się i klęka,</p>
  <p ALIGN="JUSTIFY">A ksiądz tam się obraca, gdzie jeszcze broń szczęka;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skoro przyjdzie, wnet wszystkich uciszy i zgodzi.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ach! wy nie pamiętacie tego, Państwo młodzi,</p>
  <p ALIGN="JUSTIFY">Jak wśród naszej burzliwej szlachty samowładnej,</p>
  <p ALIGN="JUSTIFY">Zbrojnej, nie trzeba było policyi żadnej;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dopóki wiara kwitła, szanowano prawa,</p>
  <p ALIGN="JUSTIFY">Była wolność z porządkiem i z dostatkiem sława!</p>
  <p ALIGN="JUSTIFY">W innych krajach, jak słyszę, trzyma urząd drabów,</p>
  <p ALIGN="JUSTIFY">Policyjantów różnych, żandarmów, konstabów;</p>
  <p ALIGN="JUSTIFY">Ale jeśli miecz tylko bezpieczeństwa strzeże,</p>
  <p ALIGN="JUSTIFY">Żeby w tych krajach była wolność - nie uwierzę&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem dzwoniąc w tabakierę rzekł pan Podkomorzy:</p>
  <p ALIGN="JUSTIFY">&quot;Panie Wojski, niech Wasze na potem odłoży</p>
  <p ALIGN="JUSTIFY">Te historyje; prawda, że sejmik ciekawy,</p>
  <p ALIGN="JUSTIFY">Ale my głodni, każ Wać przynosić potrawy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na to Wojski, skłaniając aż do ziemi laskę:</p>
  <p ALIGN="JUSTIFY">&quot;Jaśnie Wielmożny Panie, zróbże mi tę łaskę,</p>
  <p ALIGN="JUSTIFY">Zaraz dokończę scenę ostatnią sejmików:</p>
  <p ALIGN="JUSTIFY">Oto nowy marszałek na ręku stronników</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyniesion z refektarza; patrz, jak szlachta braty</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzucają czapki, usta otwarli - wiwaty!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A tam po drugiej stronie pan przekreskowany,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sam jeden, czapkę wcisnął na łeb zadumany,</p>
  <p ALIGN="JUSTIFY">Żona przed domem czeka, zgadła, co się dzieje,</p>
  <p ALIGN="JUSTIFY">Biedna! oto na ręku pokojowej mdleje.</p>
  <p ALIGN="JUSTIFY">Biedna! Jaśnie Wielmożnej tytuł przybrać miała,</p>
  <p ALIGN="JUSTIFY">A znów tylko Wielmożną na lat trzy została!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tu Wojski skończył opis i laską znak daje,</p>
  <p ALIGN="JUSTIFY">I wnet zaczęli wchodzić parami lokaje</p>
  <p ALIGN="JUSTIFY">Roznoszący potrawy: barszcz królewskim zwany</p>
  <p ALIGN="JUSTIFY">I rosoł staropolski sztucznie gotowany,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Do którego pan Wojski z dziwnemi sekrety</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wrzucił kilka perełek i sztukę monety</p>
  <p ALIGN="JUSTIFY">(Taki rosoł krew czyści i pokrzepia zdrowie).</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dalej inne potrawy, a któż je wypowie!</p>
  <p ALIGN="JUSTIFY">Kto zrozumie nie znane już za naszych czasów</p>
  <p ALIGN="JUSTIFY">Te półmiski kontuzów, arkasów, blemasów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z ingredyjencyjami pomuchl, figatelów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cybetów, piżm, dragantów, pinelów, brunelów;</p>
  <p ALIGN="JUSTIFY">Owe ryby! łososie suche, dunajeckie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyzyny, kawijary weneckie, tureckie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szczuki główne i szczuki podgłówne, łokietne,</p>
  <p ALIGN="JUSTIFY">Flądry i karpie ćwiki, i karpie szlachetne!</p>
  <p ALIGN="JUSTIFY">W końcu sekret kucharski: ryba nie krojona,</p>
  <p ALIGN="JUSTIFY">U głowy przysmażona, we środku pieczona,</p>
  <p ALIGN="JUSTIFY">A mająca potrawkę z sosem u ogona.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Goście ani pytali nazwiska potrawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ani ich zastanowił ów sekret ciekawy;</p>
  <p ALIGN="JUSTIFY">Wszystko prędko z żołnierskim jedli apetytem,</p>
  <p ALIGN="JUSTIFY">Kieliszki napełniając węgrzynem obfitym.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale tymczasem wielki serwis barwę zmienił</p>
  <p ALIGN="JUSTIFY">I odarty ze śniegu już się zazielenił,</p>
  <p ALIGN="JUSTIFY">Bo lekka, ciepłem letnim powoli rozgrzana,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Roztopiła się lodu cukrowego piana</p>
  <p ALIGN="JUSTIFY">I dno odkryła, dotąd zatajone oku;</p>
  <p ALIGN="JUSTIFY">Więc krajobraz przedstawił nową porę roku,</p>
  <p ALIGN="JUSTIFY">Zabłysnąwszy zieloną, różnofarbną wiosną.</p>
  <p ALIGN="JUSTIFY">Wychodzą różne zboża, jak na drożdżach rosną,</p>
  <p ALIGN="JUSTIFY">Pszenicy szafranowej buja kłos złocisty,</p>
  <p ALIGN="JUSTIFY">Żyto ubrane w srebra malarskiego listy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I gryka wyrabiana sztucznie z czokolady,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I kwitnące gruszkami i jabłkami sady.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ledwie mają czas goście darów lata użyć.</p>
  <p ALIGN="JUSTIFY">Darmo proszą Wojskiego, żeby je przedłużyć:</p>
  <p ALIGN="JUSTIFY">Już serwis, jak planeta koniecznym obrotem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zmienia porę, już zboża malowane złotem,</p>
  <p ALIGN="JUSTIFY">Nabrawszy ciepła w izbie powoli topnieją,</p>
  <p ALIGN="JUSTIFY">Już trawy pożółkniały, liścia czerwienieją,</p>
  <p ALIGN="JUSTIFY">Sypią się, rzekłbyś, iż wiatr jesienny powiewa;</p>
  <p ALIGN="JUSTIFY">Na koniec owe chwilę przedtem strojne drzewa -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Teraz, jakby odarte od wichrów i śronu,</p>
  <p ALIGN="JUSTIFY">Stoją nagie; były to laski cynamonu</p>
  <p ALIGN="JUSTIFY">Lub udające sosnę gałązki wawrzynu,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Odziane zamiast kolców ziarenkami kminu.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Goście pijący wino zaczęli gałązki,</p>
  <p ALIGN="JUSTIFY">Pnie i korzenie zrywać i gryźć dla zakąski.</p>
  <p ALIGN="JUSTIFY">Wojski obchodził serwis i, pełen radości,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tryumfujące oczy obracał na gości.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Henryk Dąbrowski udał wielkie zadziwienie</p>
  <p ALIGN="JUSTIFY">I rzekł: &quot;Mój Panie Wojski, czy to chińskie cienie?</p>
  <p ALIGN="JUSTIFY">Czy to Pinety Panu dał w służbę swe bisy?</p>
  <p ALIGN="JUSTIFY">Czy dotąd u was w Litwie są takie serwisy</p>
  <p ALIGN="JUSTIFY">I wszyscy takim starym ucztują zwyczajem?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Powiedz mi, bo ja życie strawiłem za krajem&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski rzekł, kłaniając się: &quot;Nie, Jaśnie
  Wielmożny</p>
  <p ALIGN="JUSTIFY">Jenerale, nie jest to żaden kunszt bezbożny!</p>
  <p ALIGN="JUSTIFY">Jest to pamiątka tylko owych biesiad sławnych,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Które dawano w domach panów starodawnych,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy Polska używała szczęścia i potęgi!</p>
  <p ALIGN="JUSTIFY">Com zrobił, tom wyczytał z tej tu oto księgi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pytasz, czy wszędzie w Litwie ten się zwyczaj chowa?</p>
  <p ALIGN="JUSTIFY">Niestety! Już i do nas włazi moda nowa.</p>
  <p ALIGN="JUSTIFY">Niejeden panicz krzyczy, że nie cierpi zbytków,</p>
  <p ALIGN="JUSTIFY">Je jak Żyd, skąpi gościom potraw i napitków,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Węgrzyna pożałuje, a pije szatańskie</p>
  <p ALIGN="JUSTIFY">Fałszywe wino modne, moskiewskie, szampańskie;</p>
  <p ALIGN="JUSTIFY">Potem w wieczor na karty tyle złota straci,</p>
  <p ALIGN="JUSTIFY">Że za nie dałbyś ucztę na stu szlachty braci.</p>
  <p ALIGN="JUSTIFY">Nawet (bo co na sercu mam, dziś powiem szczerze,</p>
  <p ALIGN="JUSTIFY">Niech tego Podkomorzy za złe mi nie bierze)</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kiedym ten serwis cudny ze skarbca dobywał,</p>
  <p ALIGN="JUSTIFY">To nawet Podkomorzy, i on mnie przedrwiwał,</p>
  <p ALIGN="JUSTIFY">Mówiąc, że to machina zmudna, staroświecka,</p>
  <p ALIGN="JUSTIFY">Że to ma pozor niby zabawki dla dziecka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nieprzyzwoitej dla tak znakomitych ludzi!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sędzio! i Sędzia mówił, że to gości znudzi!</p>
  <p ALIGN="JUSTIFY">A przecież, ile wnoszę z Panów zadziwienia,</p>
  <p ALIGN="JUSTIFY">Widzę, iż ten kunszt piękny godzien był widzenia!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie wiem, czy się podobna okazyja zdarzy</p>
  <p ALIGN="JUSTIFY">Częstować w Soplicowie takich dygnitarzy.</p>
  <p ALIGN="JUSTIFY">Widzę, że Pan Jenerał na biesiadach zna się.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niechaj przyjmie tę książkę, ona Panu zda się,</p>
  <p ALIGN="JUSTIFY">Gdy będziesz dla monarchów zagranicznych grona</p>
  <p ALIGN="JUSTIFY">Dawał ucztę, ba, nawet dla Napoleona.</p>
  <p ALIGN="JUSTIFY">Ale pozwól, nim księgę tę Panu poświęcę,</p>
  <p ALIGN="JUSTIFY">Niech powiem, jakim trafem wpadła w moje ręce&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem szmer powstał za drzwiami; razem głosów wiele</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zawołało: &quot;Niech żyje Kurek na kościele!&quot;</p>
  <p ALIGN="JUSTIFY">Ciżba tłoczy się w salę, a Maciej na czele.</p>
  <p ALIGN="JUSTIFY">Sędzia gościa za rękę do stołu prowadził</p>
  <p ALIGN="JUSTIFY">I wysoko pomiędzy wodzami posadził,</p>
  <p ALIGN="JUSTIFY">Mówiąc: &quot;Panie Macieju, niedobry sąsiedzie,</p>
  <p ALIGN="JUSTIFY">Przyjeżdżasz bardzo późno, prawie po obiedzie&quot;.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jem wcześnie - rzekł Dobrzyński - ja tu nie dla
  jadła</p>
  <p ALIGN="JUSTIFY">Przybyłem, tylko że mnie ciekawość napadła</p>
  <p ALIGN="JUSTIFY">Obejrzeć z bliska naszą armię narodową.</p>
  <p ALIGN="JUSTIFY">Wiele by gadać - jest to ani to, ni owo!</p>
  <p ALIGN="JUSTIFY">Szlachta mnie obaczyła i gwałtem tu wiedzie,</p>
  <p ALIGN="JUSTIFY">A Waszeć za stół sadzasz - dziękuję, sąsiedzie&quot;.</p>
  <p ALIGN="JUSTIFY">To wyrzekłszy, przewrócił talerz dnem do góry</p>
  <p ALIGN="JUSTIFY">Na znak, że jeść nie będzie, i milczał ponury.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Panie Dobrzyński - rzekł mu jenerał Dąbrowski
  -</p>
  <p ALIGN="JUSTIFY">Tyż to jesteś ów sławny rębacz Kościuszkowski,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ów Maciej, zwany Rózga! Znam ciebie ze sławy.</p>
  <p ALIGN="JUSTIFY">I proszę, takiś dotąd czerstwy, taki żwawy!</p>
  <p ALIGN="JUSTIFY">Ileż to lat minęło! Patrz, jam się podstarzał,</p>
  <p ALIGN="JUSTIFY">Patrz, i Kniaziewiczowi już się włos poszarzał,</p>
  <p ALIGN="JUSTIFY">A ty jeszcze z młodszymi mógłbyś pójść w zapasy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I Rózga twoja kwitnie pono jak przed czasy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Słyszałem, żeś niedawno Moskalów oćwiczył.</p>
  <p ALIGN="JUSTIFY">Lecz gdzie są bracia twoi? Niezmiernie bym życzył</p>
  <p ALIGN="JUSTIFY">Widzieć te Scyzoryki i te wasze Brzytwy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ostatnie egzemplarze starodawnej Litwy&quot;.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jenerale - rzekł Sędzia - po owem zwycięstwie</p>
  <p ALIGN="JUSTIFY">Prawie wszyscy Dobrzyńscy schronili się w Księstwie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zapewne do którego weszli legijonu!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;W istocie - odpowiedział młody szef szwadronu -</p>
  <p ALIGN="JUSTIFY">Mam w drugiej kompaniji wąsate straszydło,</p>
  <p ALIGN="JUSTIFY">Wachmistrza Dobrzyńskiego, co się zwie Kropidło,</p>
  <p ALIGN="JUSTIFY">A Mazury zowią go litewskim niedźwiedziem.</p>
  <p ALIGN="JUSTIFY">Jeśli Jenerał każe, to go tu przywiedziem&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jest - rzekł porucznik - kilku innych rodem z
  Litwy,</p>
  <p ALIGN="JUSTIFY">Jeden żołnierz znajomy pod imieniem Brzytwy</p>
  <p ALIGN="JUSTIFY">I drugi, co z tromblonem jeździ na flankiery;</p>
  <p ALIGN="JUSTIFY">Są także w pułku strzelców dwa grenadyjery</p>
  <p ALIGN="JUSTIFY">Dobrzyńscy&quot;. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Ale, ale, o ich naczelniku -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzekł Jenerał - chcę wiedzieć, o tym Scyzoryku,</p>
  <p ALIGN="JUSTIFY">O którym mnie Pan Wojski tyle prawił cudów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jakby o jednym z owych dawnych wielkoludów&quot;.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Scyzoryk - rzecze Wojski - choć nie egzulował,</p>
  <p ALIGN="JUSTIFY">Ale bojąc się śledztwa, przed Moskwą się schował;</p>
  <p ALIGN="JUSTIFY">Całą zimę nieborak tułał się po lasach,</p>
  <p ALIGN="JUSTIFY">Teraz dopiero wyszedł; w tych wojennych czasach</p>
  <p ALIGN="JUSTIFY">Mógłby się na co przydać, jest rycerskim człekiem,</p>
  <p ALIGN="JUSTIFY">Szkoda tylko, że trochę przyciśniony wiekiem.</p>
  <p ALIGN="JUSTIFY">Lecz owóż on!...&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tu Wojski palcem wskazał w sieni,</p>
  <p ALIGN="JUSTIFY">Gdzie czeladź i wieśniacy stali natłoczeni,</p>
  <p ALIGN="JUSTIFY">A nad wszystkich głowami łysina błyszcząca</p>
  <p ALIGN="JUSTIFY">Ukazała się nagle jak pełnia miesiąca,</p>
  <p ALIGN="JUSTIFY">Trzykroć weszła i trzykroć znikła w głów obłoku;</p>
  <p ALIGN="JUSTIFY">Klucznik idąc kłaniał się, aż dobył się z tłoku</p>
  <p ALIGN="JUSTIFY">I rzekł : </font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Jaśnie Wielmożny Koronny Hetmanie</p>
  <p ALIGN="JUSTIFY">Czy Jenerale, mniejsza o tytułowanie,</p>
  <p ALIGN="JUSTIFY">Jam jest Rębajło, staję na twe zawołanie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z tym moim Scyzorykiem, który nie z oprawy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ani z napisów, ale z hartu nabył sławy,</p>
  <p ALIGN="JUSTIFY">Że nawet o nim Jaśnie Wielmożny Pan wiedział.</p>
  <p ALIGN="JUSTIFY">Gdyby on gadać umiał, może by powiedział</p>
  <p ALIGN="JUSTIFY">Cokolwiek na pochwałę i tej starej ręki,</p>
  <p ALIGN="JUSTIFY">Która służyła długo, wiernie, Bogu dzięki,</p>
  <p ALIGN="JUSTIFY">Ojczyźnie tudzież panów Horeszków rodzinie,</p>
  <p ALIGN="JUSTIFY">Czego pamięć dotychczas między ludźmi słynie.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mopanku! rzadko który pisarz prowentowy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak zręcznie temperuje pióra, jak on głowy.</p>
  <p ALIGN="JUSTIFY">Długo liczyć! A nosów i uszu bez liku!</p>
  <p ALIGN="JUSTIFY">A nie ma żadnej szczerby na tym Scyzoryku</p>
  <p ALIGN="JUSTIFY">I żaden go nie splamił zbojecki uczynek,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tylko otwarta wojna albo pojedynek.</p>
  <p ALIGN="JUSTIFY">Raz tylko! Panie, daj mu wieczny odpoczynek,</p>
  <p ALIGN="JUSTIFY">Bezbronnego człowieka, niestety, sprzątniono!</p>
  <p ALIGN="JUSTIFY">A i to, Bóg mi świadkiem, pro publico bono&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Pokaż no - rzekł śmiejąc się jenerał
  Dąbrowski -</p>
  <p ALIGN="JUSTIFY">A to piękny scyzoryk, istny miecz katowski!&quot;</p>
  <p ALIGN="JUSTIFY">I z zadziwieniem wielki rapier opatrywał,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I innym oficerom w kolej pokazywał;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Probowali go wszyscy, ale ledwie który</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z oficerów mógł podnieść ten rapier do góry.</p>
  <p ALIGN="JUSTIFY">Mówiono, że Dembiński, sławny ręki siłą,</p>
  <p ALIGN="JUSTIFY">Podźwignąłby szablicę, lecz go tam nie było.</p>
  <p ALIGN="JUSTIFY">Z obecnych zaś tylko szef szwadronu, Dwernicki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I dowódca plutonu, porucznik Różycki,</p>
  <p ALIGN="JUSTIFY">Potrafili obracać tym żelaznym drągiem;</p>
  <p ALIGN="JUSTIFY">I tak rapier na probę szedł z rąk do rąk ciągiem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz jenerał Kniaziewicz, wzrostem najsłuszniejszy,</p>
  <p ALIGN="JUSTIFY">Pokazało się, iż był w ręku najsilniejszy.</p>
  <p ALIGN="JUSTIFY">Ująwszy rapier, lekko jakby szpadę dźwignął</p>
  <p ALIGN="JUSTIFY">I nad głowami gości błyskawicą mignął,</p>
  <p ALIGN="JUSTIFY">Przypominając polskie fechtarskie wykręty:</p>
  <p ALIGN="JUSTIFY">K r z y ż o w ą s z t u k ę, m ł y ń c a,</p>
  <p ALIGN="JUSTIFY">c i o s k r z y w y, r a z c i ę t y,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">C i o s k r a d z i o n y i t e m p y</p>
  <p ALIGN="JUSTIFY">k o n t r p u n k t ó w, t e r c e t ó w,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Które też umiał, bo był ze Szkoły Kadetów.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy śmiejąc się fechtował, Rębajło już klęczał,</p>
  <p ALIGN="JUSTIFY">Objął go za kolana i ze łzami jęczał</p>
  <p ALIGN="JUSTIFY">Za każdym zwrotem miecza: &quot;Pięknie! Jenerale,</p>
  <p ALIGN="JUSTIFY">Czyś był konfederatem? Pięknie, doskonale!</p>
  <p ALIGN="JUSTIFY">To sztych Puławskich! Tak się Dzierżanowski składał!</p>
  <p ALIGN="JUSTIFY">To sztych Sawy! Któż Panu tak rękę układał?</p>
  <p ALIGN="JUSTIFY">Chyba Maciej Dobrzyński! A to, Jenerale,</p>
  <p ALIGN="JUSTIFY">Mój wynalazek, dalbóg mój, ja się nie chwalę,</p>
  <p ALIGN="JUSTIFY">To cięcie znane tylko w Rębajłów zaścianku,</p>
  <p ALIGN="JUSTIFY">Od mojego imienia zwane c i o s m o p a n k u.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Któż to Pana nauczył? To jest moje cięcie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Moje!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wstał, Jenerała porwawszy w objęcie.</p>
  <p ALIGN="JUSTIFY">&quot;Teraz umrę spokojnie! Jest przecie na świecie</p>
  <p ALIGN="JUSTIFY">Człowiek, który przytuli moje drogie dziecię;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo wszak nad tem od dawna dzień i noc boleję,</p>
  <p ALIGN="JUSTIFY">Czy po śmierci ten rapier mój nie zerdzewieje!</p>
  <p ALIGN="JUSTIFY">Otóż nie zerdzewieje! Mój Jaśnie Wielmożny</p>
  <p ALIGN="JUSTIFY">Jenerale, wybacz mi, porzućcie te rożny,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niemieckie szpadki, to wstyd szlacheckiemu dziecku</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nosić ten kijek; weźmij szablę po szlachecku!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oto ten mój Scyzoryk u nóg Twoich składam,</p>
  <p ALIGN="JUSTIFY">To jest, co najdroższego na świecie posiadam.</p>
  <p ALIGN="JUSTIFY">Nie miałem nigdy żony, nie miałem dziecięcia,</p>
  <p ALIGN="JUSTIFY">On był żoną i dzieckiem; z mojego objęcia</p>
  <p ALIGN="JUSTIFY">Nigdy on nie wychodził; od rana do mroku</p>
  <p ALIGN="JUSTIFY">Pieściłem go, on w nocy sypiał przy mym boku!</p>
  <p ALIGN="JUSTIFY">A kiedym się zestarzał, nad łóżkiem na ścianie</p>
  <p ALIGN="JUSTIFY">Wisiał, jako nad Żydem Boże przykazanie!</p>
  <p ALIGN="JUSTIFY">Myśliłem zakopać go razem z ręką w grobie,</p>
  <p ALIGN="JUSTIFY">Lecz znalazłem dziedzica! - Niechaj służy Tobie!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jenerał wpół śmiejąc się, a na wpół wzruszony:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Kolego - rzekł - jeżeli ustąpisz mnie żony</p>
  <p ALIGN="JUSTIFY">I dziecka, to zostaniesz przez resztę żywota</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bardzo samotny, stary, wdowiec i sierota!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Powiedz, czem ci ten drogi dar mam wynagrodzić</p>
  <p ALIGN="JUSTIFY">I czem twoje sieroctwo i wdowstwo osłodzić?&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Czy ja Cybulski? - rzecze na to Klucznik z żalem -</p>
  <p ALIGN="JUSTIFY">Co żonę przegrał, grając w mariasza z Moskalem,</p>
  <p ALIGN="JUSTIFY">Jak o tem pieśń powiada? - Ja mam dosyć na tem,</p>
  <p ALIGN="JUSTIFY">Że mój Scyzoryk jeszcze zabłyśnie przed światem</p>
  <p ALIGN="JUSTIFY">W takim ręku! - Niech tylko Jenerał pamięta,</p>
  <p ALIGN="JUSTIFY">Aby tasiemka była długa, rozciągnięta,</p>
  <p ALIGN="JUSTIFY">Bo to długie; a zawsze od lewego ucha</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ciąć oburącz, to przetniesz od głowy do
  brzucha&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jenerał wziął Scyzoryk, lecz że bardzo długi,</p>
  <p ALIGN="JUSTIFY">Nie mógł nosić, w furgonie schowały go sługi.</p>
  <p ALIGN="JUSTIFY">Co się z nim stało, różnie powiadają o tem,</p>
  <p ALIGN="JUSTIFY">Lecz nikt pewnie nie wiedział ni wtenczas, ni potem.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dąbrowski rzekł do Maćka: &quot;A ty co, Kolego?</p>
  <p ALIGN="JUSTIFY">Zdaje się, żeś ty nierad z przybycia naszego?</p>
  <p ALIGN="JUSTIFY">Milczysz kwaśny? I jakże, serce ci nie skacze,</p>
  <p ALIGN="JUSTIFY">Gdy widzisz orły złote, srebrne? gdy trębacze</p>
  <p ALIGN="JUSTIFY">Pobudkę Kościuszkowską trąbią ci nad uchem?</p>
  <p ALIGN="JUSTIFY">Maćku, myśliłem, że ty większym jesteś zuchem;</p>
  <p ALIGN="JUSTIFY">Jeśli szabli nie weźmiesz i na koń nie siędziesz,</p>
  <p ALIGN="JUSTIFY">Przynajmniej z kolegami wesoło pić będziesz</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zdrowie Napoleona i Polski nadzieje!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Ha! - rzekł Maciej - słyszałem, widzę, co się
  dzieje!</p>
  <p ALIGN="JUSTIFY">Ale, Panie, dwóch orłów razem się nie gnieździ!</p>
  <p ALIGN="JUSTIFY">Łaska pańska, Hetmanie, na pstrym koniu jeździł</p>
  <p ALIGN="JUSTIFY">Cesarz wielki bohater! gadać o tem wiele!</p>
  <p ALIGN="JUSTIFY">Pamiętam, że Puławscy, moi przyjaciele,</p>
  <p ALIGN="JUSTIFY">Mawiali, poglądając na Dymuryjera,</p>
  <p ALIGN="JUSTIFY">Że dla Polski polskiego trzeba bohatera,</p>
  <p ALIGN="JUSTIFY">Nie Francuza, ani też Włocha, ale Piasta,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jana albo Józefa, lub Maćka - i basta.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojsko! Mówią, że polskie! Lecz te fizyliery,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sapery, grenadiery i kanonijery!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Więcej słychać niemieckich tytułów w tym tłumie</p>
  <p ALIGN="JUSTIFY">Niżeli narodowych! Kto to już zrozumie!</p>
  <p ALIGN="JUSTIFY">A muszą też być z wami Turki czy Tartary,</p>
  <p ALIGN="JUSTIFY">Czy syzmatyki, co ni Boga, ani wiary!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sam widziałem: kobiety w wioskach napastują,</p>
  <p ALIGN="JUSTIFY">Przechodniów odzierają, kościoły rabują!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cesarz idzie do Moskwy! daleka to droga,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jeśli Cesarz Jegomość wybrał się bez Boga!</p>
  <p ALIGN="JUSTIFY">Słyszałem, że już podpadł pod klątwy biskupie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszystko to jest...&quot; Tu Maciej chleb umoczył w
  supie</p>
  <p ALIGN="JUSTIFY">I jedząc nie dokończył ostatniego słowa.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie w smak Podkomorzemu poszła Maćka mowa.</p>
  <p ALIGN="JUSTIFY">Młodzież zaczęła szemrać; Sędzia przerwał swary,</p>
  <p ALIGN="JUSTIFY">Głosząc przybycie trzeciej narzeczonej pary.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Był to Rejent; sam siebie Rejentem ogłosił;</p>
  <p ALIGN="JUSTIFY">Nikt go nie poznał; dotąd polskie suknie nosił,</p>
  <p ALIGN="JUSTIFY">Lecz teraz Telimena, przyszła żona, zmusza</p>
  <p ALIGN="JUSTIFY">Warunkiem intercyzy wyrzec się kontusza;</p>
  <p ALIGN="JUSTIFY">Więc się Rejent rad nierad po francusku przebrał.</p>
  <p ALIGN="JUSTIFY">Widno, że mu frak duszy połowę odebrał.</p>
  <p ALIGN="JUSTIFY">Stąpa, jakby kij połknął, prosto, nieruchawo,</p>
  <p ALIGN="JUSTIFY">Jak żóraw; nie śmie spójrzeć ni w lewo, ni w prawo;</p>
  <p ALIGN="JUSTIFY">Mina gęsta, lecz z miny widać, że jest w męce,</p>
  <p ALIGN="JUSTIFY">Nie wie, jak się pokłonić, gdzie ma podziać ręce,</p>
  <p ALIGN="JUSTIFY">On, co tak gesty lubił! ręce za pas sadził -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie masz pasa - tylko się po żołądku gładził;</p>
  <p ALIGN="JUSTIFY">Postrzegł omyłkę; bardzo zmięszał się, spiekł raka</p>
  <p ALIGN="JUSTIFY">I ręce obie schował w jedną kieszeń fraka.</p>
  <p ALIGN="JUSTIFY">Idzie jakby przez rózgi śród szeptów i drwinek,</p>
  <p ALIGN="JUSTIFY">Wstydząc się za frak, jakby za niecny uczynek;</p>
  <p ALIGN="JUSTIFY">Aż spotkał oczy Maćka i zadrżał z bojaźni.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Maciej dotąd z Rejentem żył w wielkiej przyjaźni.</p>
  <p ALIGN="JUSTIFY">Teraz wzrok nań obrócił tak ostry i dziki,</p>
  <p ALIGN="JUSTIFY">Że Rejent zbladnął, zaczął zapinać guziki,</p>
  <p ALIGN="JUSTIFY">Myśląc, że Maciej wzrokiem suknie z niego złupi;</p>
  <p ALIGN="JUSTIFY">Dobrzyński tylko dwakroć wyrzekł głośno: &quot;Głupi!&quot; -</p>
  <p ALIGN="JUSTIFY">I tak strasznie zgorszył się z Rejenta przebrania,</p>
  <p ALIGN="JUSTIFY">Że zaraz wstał od stołu i bez pożegnania</p>
  <p ALIGN="JUSTIFY">Wymknąwszy się, wsiadł na koń, wrócił do zaścianka.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">A tymczasem Rejenta nadobna kochanka,</p>
  <p ALIGN="JUSTIFY">Telimena, roztacza blaski swej urody</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I ubior od stóp do głów co najświeższej mody.</p>
  <p ALIGN="JUSTIFY">Jaką miała sukienkę, jaki strój na głowie,</p>
  <p ALIGN="JUSTIFY">Daremnie pisać, pióro tego nie wypowie,</p>
  <p ALIGN="JUSTIFY">Chyba pędzel by skreślił te tiule, ptyfenie,</p>
  <p ALIGN="JUSTIFY">Blondyny, kaszemiry, perły i kamienie,</p>
  <p ALIGN="JUSTIFY">I oblicze różane, i żywe wejrzenie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Poznał ją zaraz Hrabia, z zadziwienia blady,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wstał od stołu i szukał koło siebie szpady:</p>
  <p ALIGN="JUSTIFY">&quot;I tyżeś to! - zawołał - czy mnie oczy łudzą?</p>
  <p ALIGN="JUSTIFY">Ty? w obecności mojej? ściskasz rękę cudzą?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">O, niewierna istoto, o, duszo zmiennicza!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I nie skryjesz ze wstydu pod ziemię oblicza?</p>
  <p ALIGN="JUSTIFY">Takeś twojej tak świeżej niepomna przysięgi?</p>
  <p ALIGN="JUSTIFY">O łatwowierny! Po cóż nosiłem te wstęgi!</p>
  <p ALIGN="JUSTIFY">Lecz biada rywalowi, co mię tak znieważa!</p>
  <p ALIGN="JUSTIFY">Po moim chyba trupie pójdzie do ołtarza!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Goście powstali, Rejent okropnie się zmieszał,</p>
  <p ALIGN="JUSTIFY">Podkomorzy rywalów zagodzić pośpieszał;</p>
  <p ALIGN="JUSTIFY">Lecz Telimena wziąwszy Hrabiego na stronę:</p>
  <p ALIGN="JUSTIFY">&quot;Jeszcze - szepnęła - Rejent nie wziął mię za żonę;</p>
  <p ALIGN="JUSTIFY">Jeżeli Pan przeszkadzasz, odpowiedzże na to,</p>
  <p ALIGN="JUSTIFY">A odpowiedz mi zaraz, krótko, węzłowato:</p>
  <p ALIGN="JUSTIFY">Czy mnie kochasz, czyś dotąd serca nie odmienił,</p>
  <p ALIGN="JUSTIFY">Czyś gotów, żebyś ze mną zaraz się ożenił?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaraz, dziś? - Jeśli zechcesz, odstąpię
  Rejenta&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia rzekł: &quot;O, kobieto, dla mnie niepojęta!</p>
  <p ALIGN="JUSTIFY">Dawniej w uczuciach twoich byłaś poetyczną,</p>
  <p ALIGN="JUSTIFY">A teraz mi się zdajesz całkiem prozaiczną;</p>
  <p ALIGN="JUSTIFY">Cóż są wasze małżeństwa, jeśli nie łańcuchy,</p>
  <p ALIGN="JUSTIFY">Które związują tylko ręce, a nie duchy?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wierzaj, są oświadczenia, nawet bez wyznania,</p>
  <p ALIGN="JUSTIFY">Są obowiązki nawet bez obowiązania!</p>
  <p ALIGN="JUSTIFY">Dwa serca, pałające na dwóch końcach ziemi,</p>
  <p ALIGN="JUSTIFY">Rozmawiają jak gwiazdy promieńmi drżącemi:</p>
  <p ALIGN="JUSTIFY">Kto wie! może dlatego ziemia tak do słońca</p>
  <p ALIGN="JUSTIFY">Dąży i tak jest zawsze miłą dla miesiąca,</p>
  <p ALIGN="JUSTIFY">Że wiecznie patrzą na się i najkrótszą drogą</p>
  <p ALIGN="JUSTIFY">Biegą do siebie - ale zbliżyć się nie mogą!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Dość już tego - przerwała - nie jestem planetą</p>
  <p ALIGN="JUSTIFY">Z łaski Bożej! Dość, Hrabio, ja jestem kobietą;</p>
  <p ALIGN="JUSTIFY">Już wiem resztę, przestań mi pleść ni to, ni owo.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Teraz ostrzegam: jeśli piśniesz jedno słowo,</p>
  <p ALIGN="JUSTIFY">Ażeby ślub mój zerwać, to jak Bóg na niebie,</p>
  <p ALIGN="JUSTIFY">Że z temi paznokciami przyskoczę do ciebie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I...&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Nie będę - rzekł Hrabia - szczęścia Pani
  kłócił!&quot;</p>
  <p ALIGN="JUSTIFY">I oczy pełne smutku i wzgardy odwrócił,</p>
  <p ALIGN="JUSTIFY">I ażeby ukarać niewierną kochankę,</p>
  <p ALIGN="JUSTIFY">Za przedmiot stałych ogniów wziął Podkomorzankę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski pragnął młodzieńców poróżnionych zgodzić</p>
  <p ALIGN="JUSTIFY">Przykładami mądremi, więc zaczął wywodzić</p>
  <p ALIGN="JUSTIFY">Historyję o dziku nalibockich lasów</p>
  <p ALIGN="JUSTIFY">I o kłótni Rejtana z książęciem Denassów,</p>
  <p ALIGN="JUSTIFY">Ale goście tymczasem skończyli jeść lody</p>
  <p ALIGN="JUSTIFY">I z zamku na dziedziniec wyszli dla ochłody.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam włość już kończy ucztę, krążą miodu dzbany,</p>
  <p ALIGN="JUSTIFY">Muzyka już się stroi i wzywa na tany;</p>
  <p ALIGN="JUSTIFY">Szukają Tadeusza, który stał na stronie</p>
  <p ALIGN="JUSTIFY">I coś pilnego szeptał swojej przyszłej żonie.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Zofijo! muszę ciebie w bardzo ważnej rzeczy</p>
  <p ALIGN="JUSTIFY">Radzić się; już pytałem stryja, on nie przeczy.</p>
  <p ALIGN="JUSTIFY">Wiesz, iż znaczna część wiosek, które mam posiadać,</p>
  <p ALIGN="JUSTIFY">Wedle prawa na ciebie powinna by spadać.</p>
  <p ALIGN="JUSTIFY">A chłopi nie są moi, lecz twoi poddani,</p>
  <p ALIGN="JUSTIFY">Nie śmiałbym ich urządzić bez woli ich pani.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Teraz, kiedy już mamy Ojczyznę kochaną,</p>
  <p ALIGN="JUSTIFY">Czyliż wieśniacy zyszczą z tą szczęśliwą zmianą</p>
  <p ALIGN="JUSTIFY">Tyle tylko, że pana innego dostaną?</p>
  <p ALIGN="JUSTIFY">Prawda, że byli dotąd rządzeni łaskawie,</p>
  <p ALIGN="JUSTIFY">Lecz po mej śmierci Bóg wie komu ich zostawię;</p>
  <p ALIGN="JUSTIFY">Jestem żołnierz, jesteśmy śmiertelni oboje,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jestem człowiek, sam własnych kaprysów się boję;</p>
  <p ALIGN="JUSTIFY">Bezpieczniej zrobię, kiedy władzy się wyrzekę</p>
  <p ALIGN="JUSTIFY">I oddam los włościanów pod prawa opiekę.</p>
  <p ALIGN="JUSTIFY">Sami wolni, uczyńmy i włościan wolnemi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oddajmy im w dziedzictwo posiadanie ziemi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na której się zrodzili, którą krwawą pracą</p>
  <p ALIGN="JUSTIFY">Zdobyli, z której wszystkich żywią i bogacą.</p>
  <p ALIGN="JUSTIFY">Lecz muszę ciebie ostrzec, że tych ziem nadanie</p>
  <p ALIGN="JUSTIFY">Zmniejszy nasz dochod; w miernym musimy żyć stanie.</p>
  <p ALIGN="JUSTIFY">Ja przywykłem do życia oszczędnego z młodu;</p>
  <p ALIGN="JUSTIFY">Lecz ty, Zofijo, jesteś z wysokiego rodu,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W stolicy przepędziłaś twoje młode lata;</p>
  <p ALIGN="JUSTIFY">Czyż zgodzisz się żyć na wsi? z daleka od świata!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak ziemianka!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A na to Zosia rzekła skromnie:</p>
  <p ALIGN="JUSTIFY">&quot;Jestem kobietą, rządy nie należą do mnie.</p>
  <p ALIGN="JUSTIFY">Wszakże Pan będziesz mężem; ja do rady młoda.</p>
  <p ALIGN="JUSTIFY">Co Pan urządzisz, na to całym sercem zgoda!</p>
  <p ALIGN="JUSTIFY">Jeśli włość uwalniając, zostaniesz uboższy,</p>
  <p ALIGN="JUSTIFY">To, Tadeuszu, będziesz sercu memu droższy.</p>
  <p ALIGN="JUSTIFY">O moim rodzie mało wiem i nie dbam o to;</p>
  <p ALIGN="JUSTIFY">Tyle pomnę, że byłam ubogą, sierotą,</p>
  <p ALIGN="JUSTIFY">Że od Sopliców byłam za córkę przybrana,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W ich domu hodowana i za mąż wydana.</p>
  <p ALIGN="JUSTIFY">Wsi nie lękam się; jeśli w wielkim mieście żyłam,</p>
  <p ALIGN="JUSTIFY">To dawno; zapomniałam, wieś zawsze lubiłam;</p>
  <p ALIGN="JUSTIFY">I wierz mi, że mnie moje kogutki i kurki</p>
  <p ALIGN="JUSTIFY">Więcej bawiły niżli owe Peterburki;</p>
  <p ALIGN="JUSTIFY">Jeśli czasem tęskniłam do zabaw, do ludzi,</p>
  <p ALIGN="JUSTIFY">To z dzieciństwa; wiem teraz, że mnie miasto nudzi;</p>
  <p ALIGN="JUSTIFY">Przekonałam się zimą po krótkim pobycie</p>
  <p ALIGN="JUSTIFY">W Wilnie, że ja na wiejskie urodzona życie;</p>
  <p ALIGN="JUSTIFY">Pośród zabaw tęskniłam znów do Soplicowa.</p>
  <p ALIGN="JUSTIFY">Pracy też nie lękam się, bom młoda i zdrowa,</p>
  <p ALIGN="JUSTIFY">Umiem chodzić około domu, nosić klucze;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gospodarstwa, obaczysz, jak ja się wyuczę!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy Zosia domawiała ostatnie wyrazy,</p>
  <p ALIGN="JUSTIFY">Podszedł ku niej zdziwiony i kwaśny Gerwazy:</p>
  <p ALIGN="JUSTIFY">&quot;Już wiem! - rzekł. - Sędzia mówił już o tej wolności!</p>
  <p ALIGN="JUSTIFY">Lecz nie pojmuję, co to ściąga się do włości!</p>
  <p ALIGN="JUSTIFY">Boję się, żeby to coś nie było z niemiecka!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszak wolność nie jest chłopska rzecz, ale
  szlachecka!</p>
  <p ALIGN="JUSTIFY">Prawda, że się wywodzim wszyscy od Adama,</p>
  <p ALIGN="JUSTIFY">Alem słyszał, że chłopi pochodzą od Chama,</p>
  <p ALIGN="JUSTIFY">Żydowie od Jafeta, my szlachta od Sema,</p>
  <p ALIGN="JUSTIFY">A więc panujem jako starsi nad obiema.</p>
  <p ALIGN="JUSTIFY">Jużci pleban inaczej uczy na ambonie...</p>
  <p ALIGN="JUSTIFY">Powiada, że to było tak w Starym Zakonie,</p>
  <p ALIGN="JUSTIFY">Ale skoro Chrystus Pan, choć z krolów pochodził,</p>
  <p ALIGN="JUSTIFY">Między Żydami w chłopskiej stajni się urodził,</p>
  <p ALIGN="JUSTIFY">Odtąd więc wszystkie stany porównał i zgodził.</p>
  <p ALIGN="JUSTIFY">Niech i tak będzie, kiedy inaczej nie można!</p>
  <p ALIGN="JUSTIFY">Zwłaszcza że, jako słyszę, i Jaśnie Wielmożna</p>
  <p ALIGN="JUSTIFY">Pani moja, Zofija, na wszystko się zgadza;</p>
  <p ALIGN="JUSTIFY">Jej rozkazać, mnie słuchać; jużci przy niej władza.</p>
  <p ALIGN="JUSTIFY">Tylko ostrzegam, byśmy wolności nie dali</p>
  <p ALIGN="JUSTIFY">Pustej i słownej tylko, jako za Moskali,</p>
  <p ALIGN="JUSTIFY">Kiedy pan Karp nieboszczyk włościan wyswobodził,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A Moskal ich podatkiem potrójnym ogłodził.</p>
  <p ALIGN="JUSTIFY">Radzę więc, aby chłopów starym obyczajem</p>
  <p ALIGN="JUSTIFY">Uszlachcić i ogłosić, że im herb nasz dajem,</p>
  <p ALIGN="JUSTIFY">Pani udzieli jednym wioskom Półkozica,</p>
  <p ALIGN="JUSTIFY">Drugim niech swą Leliwę nada Pan Soplica.</p>
  <p ALIGN="JUSTIFY">Natenczas i Rębajło uzna chłopa rownym,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy go ujrzy szlachcicem wielmożnym, herbownym,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sejm potwierdzi. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A niech się mąż Pani nie trwoży,</p>
  <p ALIGN="JUSTIFY">Iż oddanie ziem Państwo tak bardzo zuboży;</p>
  <p ALIGN="JUSTIFY">Nie da Bóg, abym rączki córy dygnitarskiej</p>
  <p ALIGN="JUSTIFY">Widział umozolone w pracy gospodarskiej.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest na to sposób. - W zamku wiem ja pewną skrzynię,</p>
  <p ALIGN="JUSTIFY">W której jest Horeszkowskie stołowe naczynie,</p>
  <p ALIGN="JUSTIFY">Przytem różne sygnety, kanaki, manele,</p>
  <p ALIGN="JUSTIFY">Kity bogate, rzędy, cudne karabele,</p>
  <p ALIGN="JUSTIFY">Skarbczyk Stolnika, w ziemi skryty od grabieży;</p>
  <p ALIGN="JUSTIFY">Pani Zofiji jako dziedziczce należy;</p>
  <p ALIGN="JUSTIFY">Pilnowałem go w zamku jako oka w głowie</p>
  <p ALIGN="JUSTIFY">Od Moskalów i od was, Państwo Soplicowie.</p>
  <p ALIGN="JUSTIFY">Mam także spory worek mych własnych talarów,</p>
  <p ALIGN="JUSTIFY">Uzbieranych z wysługi tudzież z pańskich darów.</p>
  <p ALIGN="JUSTIFY">Myśliłem, gdy nam zamek wróconym zostanie,</p>
  <p ALIGN="JUSTIFY">Obrócić grosz na murów wyreperowanie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nowemu gospodarstwu dziś zda się w potrzebie; </p>
  <p ALIGN="JUSTIFY">A więc, Panie Soplico, wnoszę się do ciebie,</p>
  <p ALIGN="JUSTIFY">Będę żył u mej Pani na łaskawym chlebie</p>
  <p ALIGN="JUSTIFY">I kołysząc Horeszków pokolenie trzecie,</p>
  <p ALIGN="JUSTIFY">Wprawiać do Scyzoryka Pani mojej dziecię,</p>
  <p ALIGN="JUSTIFY">Jeśli syn - a syn będzie, bo wojny nadchodzą,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A w czasie wojny zawżdy synowie się rodzą&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ledwie ostatnie słowa domówił Gerwazy,</p>
  <p ALIGN="JUSTIFY">Gdy poważnemi kroki przystąpił Protazy,</p>
  <p ALIGN="JUSTIFY">Skłonił się i wydobył z zanadrza kontusza</p>
  <p ALIGN="JUSTIFY">Panegiryk ogromny w półtrzecia arkusza.</p>
  <p ALIGN="JUSTIFY">Skomponował go rymem podoficer młody,</p>
  <p ALIGN="JUSTIFY">Który niegdyś w stolicy sławne pisał ody,</p>
  <p ALIGN="JUSTIFY">Potem wdział mundur, lecz i w wojsku beletrysta,</p>
  <p ALIGN="JUSTIFY">Wiersze rabiał. - Już Woźny przeczytał ich trzysta,</p>
  <p ALIGN="JUSTIFY">Aż gdy przyszedł do miejsca: &quot;O ty, której wdzięki</p>
  <p ALIGN="JUSTIFY">Budzą bolesną radość i rozkoszne męki!</p>
  <p ALIGN="JUSTIFY">Która na szyk Bellony gdy zwrócisz twarz piękną,</p>
  <p ALIGN="JUSTIFY">Złamią się wnet oszczepy i tarcze rozpękną,</p>
  <p ALIGN="JUSTIFY">Zwalcz dziś Marsa Hymenem; srogiej niezgod hydrze</p>
  <p ALIGN="JUSTIFY">Niech dłoń twoja syczące z czoła zmije wydrze!&quot; -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tadeusz i Zofija ustawnie klaskali,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niby chwaląc, w istocie nie chcąc słuchać dal?j.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Już z rozkazu Sędziego pleban stał na stole</p>
  <p ALIGN="JUSTIFY">I ogłaszał włościanom Tadeusza wolę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaledwie usłyszeli nowinę poddani,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skoczyli do panicza, padli do nóg pani,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Zdrowie Państwu naszemu!&quot; - ze łzami
  krzyknęli;</p>
  <p ALIGN="JUSTIFY">Tadeusz krzyknął: &quot;Zdrowie Spółobywateli,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wolnych, równych, Polaków!&quot;</p>
  </font><p ALIGN="JUSTIFY"><font SIZE="4">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Wnoszę Ludu zdrowie!&quot; -</p>
  <p ALIGN="JUSTIFY">Rzekł Dąbrowski; lud krzyknął: &quot;Niech żyją Wodzowie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wiwat Wojsko!&quot; &quot;Wiwat Lud, wiwat wszystkie
  Stany!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tysiącem głosów zdrowia grzmiały na przemiany.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tylko Buchman radości podzielać nie raczył,</p>
  <p ALIGN="JUSTIFY">Pochwalał projekt, lecz go rad by przeinaczył,</p>
  <p ALIGN="JUSTIFY">A naprzód komisyją legalną wyznaczył,</p>
  <p ALIGN="JUSTIFY">Która by... Krótkość czasu była na zawadzie,</p>
  <p ALIGN="JUSTIFY">Że nie stało się zadość Buchmanowej radzie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo na dziedzińcu zamku już stali parami</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oficery z damami, wiara z wieśniaczkami:</p>
  <p ALIGN="JUSTIFY">&quot;Poloneza!&quot; - krzyknęli wszyscy w jedno słowo.</p>
  <p ALIGN="JUSTIFY">Oficerowie wiodą muzykę wojskową;</p>
  <p ALIGN="JUSTIFY">Ale pan Sędzia w ucho rzekł do Jenerała:</p>
  <p ALIGN="JUSTIFY">&quot;Każ Pan, żeby się jeszcze kapela wstrzymała;</p>
  <p ALIGN="JUSTIFY">Wiesz, że dzisiaj synowca mego zaręczyny,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A dawnym obyczajem jest naszej rodziny</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaręczać się i żenić przy wiejskiej muzyce.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Patrz, stoi cymbalista, skrzypak i kozice;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Poczciwi muzykanci - już się skrzypak zżyma,</p>
  <p ALIGN="JUSTIFY">A kobeźnik kłania się i żebrze oczyma;</p>
  <p ALIGN="JUSTIFY">Jeżeli ich odprawię, biedni będą płakać;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lud przy innej muzyce nie potrafi skakać;</p>
  <p ALIGN="JUSTIFY">Niechaj ci zaczną, niech się i lud podweseli,</p>
  <p ALIGN="JUSTIFY">Potem będziem wybornej twej słuchać kapeli&quot;.</p>
  <p ALIGN="JUSTIFY">Dał znak. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skrzypak u sukni zakasał rękawek,</p>
  <p ALIGN="JUSTIFY">Ścisnął gryf krzepko, oparł brodę o podstawek</p>
  <p ALIGN="JUSTIFY">I smyk jak konia w zawód puścił po skrzypicy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na to hasło stojący obok kobeźnicy,</p>
  <p ALIGN="JUSTIFY">Jak gdyby w skrzydła bijąc, częstym ramion ruchem</p>
  <p ALIGN="JUSTIFY">Dmą w miechy i oblicza wypełniają duchem;</p>
  <p ALIGN="JUSTIFY">Myśliłbyś, że ta para w powietrze uleci,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podobna do pyzatych Boreasza dzieci.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Brakło cymbałów. </font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">&nbsp;</p>
  <p ALIGN="JUSTIFY">Było cymbalistów wielu,</p>
  <p ALIGN="JUSTIFY">Ale żaden z nich nie śmiał zagrać przy Jankielu</p>
  <p ALIGN="JUSTIFY">(Jankiel przez całą zimę nie wiedzieć gdzie bawił,</p>
  <p ALIGN="JUSTIFY">Teraz się nagle z głównym sztabem wojska zjawił).</p>
  <p ALIGN="JUSTIFY">Wiedzą wszyscy, że mu nikt na tym instrumencie</p>
  <p ALIGN="JUSTIFY">Nie wyrówna w biegłości, w guście i w talencie.</p>
  <p ALIGN="JUSTIFY">Proszą, ażeby zagrał, podają cymbały;</p>
  <p ALIGN="JUSTIFY">Żyd wzbrania się, powiada, że ręce zgrubiały,</p>
  <p ALIGN="JUSTIFY">Odwykł od grania, nie śmie i panów się wstydzi;</p>
  <p ALIGN="JUSTIFY">Kłaniając się umyka; gdy to Zosia widzi,</p>
  <p ALIGN="JUSTIFY">Podbiega i na białej podaje mu dłoni</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Drążki, któremi zwykle mistrz we stróny dzwoni;</p>
  <p ALIGN="JUSTIFY">Drugą rączką po siwej brodzie starca głaska</p>
  <p ALIGN="JUSTIFY">I dygając: &quot;Jankielu - mówi - jeśli łaska,</p>
  <p ALIGN="JUSTIFY">Wszak to me zaręczyny, zagrajże, Jankielu!</p>
  <p ALIGN="JUSTIFY">Wszak nieraz przyrzekałeś grać na mym weselu!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jankiel nieźmiernie Zosię lubił; kiwnął brodą</p>
  <p ALIGN="JUSTIFY">Na znak, że nie odmawia; więc go w środek wiodą,</p>
  <p ALIGN="JUSTIFY">Podają krzesło, usiadł, cymbały przynoszą,</p>
  <p ALIGN="JUSTIFY">Kładą mu na kolanach. On patrzy z rozkoszą</p>
  <p ALIGN="JUSTIFY">I z dumą; jak weteran w służbę powołany,</p>
  <p ALIGN="JUSTIFY">Gdy wnuki ciężki jego miecz ciągną ze ściany,</p>
  <p ALIGN="JUSTIFY">Dziad śmieje się, choć miecza dawno nie miał w dłoni,</p>
  <p ALIGN="JUSTIFY">Lecz uczuł, że dłoń jeszcze nie zawiedzie broni.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tymczasem dwaj uczniowie przy cymbałach klęczą,</p>
  <p ALIGN="JUSTIFY">Stroją na nowo struny i probując brzęczą;</p>
  <p ALIGN="JUSTIFY">Jankiel z przymrużonemi na poły oczyma</p>
  <p ALIGN="JUSTIFY">Milczy i nieruchome drążki w palcach trzyma.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Spuścił je, zrazu bijąc taktem tryumfalnym,</p>
  <p ALIGN="JUSTIFY">Potem gęściej siekł stróny jak deszczem nawalnym;</p>
  <p ALIGN="JUSTIFY">Dziwią się wszyscy - lecz to była tylko proba,</p>
  <p ALIGN="JUSTIFY">Bo wnet przerwał i w górę podniosł drążki oba.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Znowu gra: już drżą drążki tak lekkiemi ruchy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak gdyby zadzwoniło w stronę skrzydło muchy,</p>
  <p ALIGN="JUSTIFY">Wydając ciche, ledwie słyszalne brzęczenia.</p>
  <p ALIGN="JUSTIFY">Mistrz zawsze patrzył w niebo, czekając natchnienia.</p>
  <p ALIGN="JUSTIFY">Spójrzał z góry, instrument dumnym okiem zmierzył,</p>
  <p ALIGN="JUSTIFY">Wzniosł ręce, spuścił razem, w dwa drążki uderzył:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zdumieli się słuchacze... </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Razem ze strón wiela</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Buchnął dźwięk, jakby cała janczarska kapela</p>
  <p ALIGN="JUSTIFY">Ozwała się z dzwonkami, z zelami, z bębenki.</p>
  <p ALIGN="JUSTIFY">Brzmi Polonez Trzeciego Maja! - Skoczne dźwięki</p>
  <p ALIGN="JUSTIFY">Radością oddychają, radością słuch poją,</p>
  <p ALIGN="JUSTIFY">Dziewki chcą tańczyć, chłopcy w miejscu nie dostoją -</p>
  <p ALIGN="JUSTIFY">Lecz starców myśli z dźwiękiem w przeszłość się uniosły,</p>
  <p ALIGN="JUSTIFY">W owe lata szczęśliwe, gdy senat i posły</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po dniu Trzeciego Maja w ratuszowej sali</p>
  <p ALIGN="JUSTIFY">Zgodzonego z narodem króla fetowali;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy przy tańcu śpiewano: &quot;Wiwat Król kochany!</p>
  <p ALIGN="JUSTIFY">Wiwat Sejm, wiwat Naród, wiwat wszystkie Stany!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mistrz coraz takty nagli i tony natęża;</p>
  <p ALIGN="JUSTIFY">A wtem puścił fałszywy akord jak syk węża,</p>
  <p ALIGN="JUSTIFY">Jak zgrzyt żelaza po szkle - przejął wszystkich dreszczem</p>
  <p ALIGN="JUSTIFY">I wesołość pomięszał przeczuciem złowieszczem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zasmuceni, strwożeni, słuchacze zwątpili:</p>
  <p ALIGN="JUSTIFY">Czy instrument niestrojny? czy się muzyk myli?</p>
  <p ALIGN="JUSTIFY">Nie zmylił się mistrz taki! On umyślnie trąca</p>
  <p ALIGN="JUSTIFY">Wciąż tę zdradziecką stronę, melodyję zmąca,</p>
  <p ALIGN="JUSTIFY">Coraz głośniej targając akord rozdąsany,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przeciwko zgodzie tonów skonfederowany;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Aż Klucznik pojął mistrza, zakrył ręką lica</p>
  <p ALIGN="JUSTIFY">I krzyknął: &quot;Znam! znam głos ten! </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">to jest T a r g o w i c a!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I wnet pękła ze świstem strona złowróżąca.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Muzyk bieży do prymów, urywa takt, zmąca,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Porzuca prymy, bieży z drążkami do basów.</p>
  <p ALIGN="JUSTIFY">Słychać tysiące coraz głośniejszych hałasów,</p>
  <p ALIGN="JUSTIFY">Takt marszu, wojna, atak, szturm, słychać wystrzały,</p>
  <p ALIGN="JUSTIFY">Jęk dzieci, płacze matek. - Tak mistrz doskonały</p>
  <p ALIGN="JUSTIFY">Wydał okropność szturmu, że wieśniaczki drżały,</p>
  <p ALIGN="JUSTIFY">Przypominając sobie ze łzami boleści</p>
  <p ALIGN="JUSTIFY">R z e ź P r a g i, którą znały z pieśni i z powieści,</p>
  <p ALIGN="JUSTIFY">Rade, że mistrz na koniec strónami wszystkiemi</p>
  <p ALIGN="JUSTIFY">Zagrzmiał i głosy zdusił, jakby wbił do ziemi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ledwie słuchacze mieli czas wyjść z zadziwienia,</p>
  <p ALIGN="JUSTIFY">Znowu muzyka inna - znów zrazu brzęczenia</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lekkie i ciche, kilka cienkich strónek jęczy,</p>
  <p ALIGN="JUSTIFY">Jak kilka much, gdy z siatki wyrwą się pajęcz?j.</p>
  <p ALIGN="JUSTIFY">Lecz strón coraz przybywa, już rozpierzchłe tony</p>
  <p ALIGN="JUSTIFY">Łączą się i akordów wiążą legijony,</p>
  <p ALIGN="JUSTIFY">I już w takt postępują zgodzonemi dźwięki,</p>
  <p ALIGN="JUSTIFY">Tworząc nutę żałosną tej sławnej piosenki:</p>
  <p ALIGN="JUSTIFY">O żołnierzu tułaczu, który borem, lasem</p>
  <p ALIGN="JUSTIFY">Idzie, z biedy i z głodu przymierając czasem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na koniec pada u nóg konika wiernego,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A konik nogą grzebie mogiłę dla niego.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Piosenka stara, wojsku polskiemu tak miła!</p>
  <p ALIGN="JUSTIFY">Poznali ją żołnierze, wiara się skupiła</p>
  <p ALIGN="JUSTIFY">Wkoło mistrza; słuchają, wspominają sobie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ów czas okropny, kiedy na Ojczyzny grobie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zanucili tę piosnkę i poszli w kraj świata;</p>
  <p ALIGN="JUSTIFY">Przywodzą na myśl długie swej wędrówki lata</p>
  <p ALIGN="JUSTIFY">Po lądach, morzach, piaskach gorących i mrozie,</p>
  <p ALIGN="JUSTIFY">Pośrodku obcych ludów, gdzie często w obozie</p>
  <p ALIGN="JUSTIFY">Cieszył ich i rozrzewniał ten śpiew narodowy.</p>
  <p ALIGN="JUSTIFY">Tak rozmyślając, smutnie pochylili głowy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale je wnet podnieśli, bo mistrz tony wznosi,</p>
  <p ALIGN="JUSTIFY">Natęża, takty zmienia, cóś innego głosi.</p>
  <p ALIGN="JUSTIFY">I znowu spójrzał z góry, okiem struny zmierzył,</p>
  <p ALIGN="JUSTIFY">Złączył ręce, oburącz w dwa drążki uderzył:</p>
  <p ALIGN="JUSTIFY">Uderzenie tak sztuczne, tak było potężne,</p>
  <p ALIGN="JUSTIFY">Że stróny zadzwoniły jak trąby mosiężne</p>
  <p ALIGN="JUSTIFY">I z trąb znana piosenka ku niebu wionęła,</p>
  <p ALIGN="JUSTIFY">Marsz tryumfalny: &quot;Jeszcze Polska nie zginęła!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Marsz, Dąbrowski, do Polski!&quot; - I wszyscy klasnęli,</p>
  <p ALIGN="JUSTIFY">I wszyscy &quot;Marsz Dąbrowski&quot; chorem okrzyknęli!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Muzyk, jakby sam swojej dziwił się piosence,</p>
  <p ALIGN="JUSTIFY">Upuścił drążki z palców, podniosł w górę ręce,</p>
  <p ALIGN="JUSTIFY">Czapka lisia spadła mu z głowy na ramiona,</p>
  <p ALIGN="JUSTIFY">Powiewała poważnie broda podniesiona,</p>
  <p ALIGN="JUSTIFY">Na jagodach miał kręgi dziwnego rumieńca,</p>
  <p ALIGN="JUSTIFY">We wzroku, ducha pełnym, błyszczał żar młodzieńca,</p>
  <p ALIGN="JUSTIFY">Aż gdy na Dąbrowskiego starzec oczy zwrócił,</p>
  <p ALIGN="JUSTIFY">Zakrył rękami, spod rąk łez potok się rzucił:</p>
  <p ALIGN="JUSTIFY">&quot;Jenerale! - rzekł - ciebie długo Litwa nasza</p>
  <p ALIGN="JUSTIFY">Czekała... długo, jak my Żydzi Mesyjasza.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ciebie prorokowali dawno między ludem</p>
  <p ALIGN="JUSTIFY">Śpiewaki, ciebie niebo obwieściło cudem.</p>
  <p ALIGN="JUSTIFY">Żyj i wojuj, o, ty nasz!...&quot;</p>
  <p ALIGN="JUSTIFY">Mówiąc, ciągle szlochał.</p>
  <p ALIGN="JUSTIFY">Żyd poczciwy Ojczyznę jako Polak kochał!</p>
  <p ALIGN="JUSTIFY">Dąbrowski mu podawał rękę i dziękował,</p>
  <p ALIGN="JUSTIFY">On, czapkę zdjąwszy, wodza rękę ucałował.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Poloneza czas zacząć. - Podkomorzy rusza</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I z lekka zarzuciwszy wyloty kontusza,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I wąsa podkręcając, podał rękę Zosi,</p>
  <p ALIGN="JUSTIFY">I skłoniwszy się grzecznie, w pierwszą parę prosi.</p>
  <p ALIGN="JUSTIFY">Za Podkomorzym szereg w pary się gromadzi;</p>
  <p ALIGN="JUSTIFY">Dano hasło, zaczęto taniec - on prowadzi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nad murawą czerwone połyskają buty,</p>
  <p ALIGN="JUSTIFY">Bije blask z karabeli, świeci się pas suty,</p>
  <p ALIGN="JUSTIFY">A on stąpa powoli, niby od niechcenia;</p>
  <p ALIGN="JUSTIFY">Ale z każdego kroku, z każdego ruszenia</p>
  <p ALIGN="JUSTIFY">Można tancerza czucia i myśli wyczytać: </p>
  <p ALIGN="JUSTIFY">Oto stanął, jak gdyby chciał swą damę pytać,</p>
  <p ALIGN="JUSTIFY">Pochyla ku niej głowę, chce szepnąć do ucha;</p>
  <p ALIGN="JUSTIFY">Dama głowę odwraca, wstydzi się, nie słucha,</p>
  <p ALIGN="JUSTIFY">On zdjął konfederatkę, kłania się pokornie,</p>
  <p ALIGN="JUSTIFY">Dama raczyła spójrzeć, lecz milczy upornie;</p>
  <p ALIGN="JUSTIFY">On krok zwalnia, oczyma jej spójrzenie śledzi</p>
  <p ALIGN="JUSTIFY">I zaśmiał się na koniec - rad z jej odpowiedzi,</p>
  <p ALIGN="JUSTIFY">Stąpa prędzej, pogląda na rywalów z góry</p>
  <p ALIGN="JUSTIFY">I swą konfederatkę z czaplinymi pióry</p>
  <p ALIGN="JUSTIFY">To na czole zawiesza, to nad czołem wstrząsa,</p>
  <p ALIGN="JUSTIFY">Aż włożył ją na bakier i podkręcił wąsa.</p>
  <p ALIGN="JUSTIFY">Idzie; wszyscy zazdroszczą, biegą w jego ślady,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">On by rad ze swą damą wymknąć się z gromady;</p>
  <p ALIGN="JUSTIFY">Czasem staje na miejscu, rękę grzecznie wznosi</p>
  <p ALIGN="JUSTIFY">I żeby mimo przeszli, pokornie ich prosi;</p>
  <p ALIGN="JUSTIFY">Czasem zamyśla zręcznie na bok się uchylić,</p>
  <p ALIGN="JUSTIFY">Odmienia drogę, rad by towarzyszów zmylić,</p>
  <p ALIGN="JUSTIFY">Lecz go szybkimi kroki ścigają natręty</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I zewsząd obwijają tanecznemi skręty;</p>
  <p ALIGN="JUSTIFY">Więc gniewa się, prawicę na rękojeść składa,</p>
  <p ALIGN="JUSTIFY">Jakby rzekł: &quot;Nie dbam o was, zazdrośnikom biada!&quot;</p>
  <p ALIGN="JUSTIFY">Zwraca się z dumą w czole i z wyzwaniem w oku</p>
  <p ALIGN="JUSTIFY">Prosto w tłum; tłum tancerzy nie śmie dostać w kroku;</p>
  <p ALIGN="JUSTIFY">Ustępują mu z drogi i - zmieniwszy szyki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Puszczają się znów za nim. </p>
  <p ALIGN="JUSTIFY">Brzmią zewsząd okrzyki:</p>
  <p ALIGN="JUSTIFY">&quot;Ach, to może ostatni! patrzcie, patrzcie, młodzi,</p>
  <p ALIGN="JUSTIFY">Może ostatni, co tak poloneza wodzi!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I szły pary po parach hucznie i wesoło,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rozkręcało się, znowu skręcało się koło,</p>
  <p ALIGN="JUSTIFY">Jak wąż olbrzymi, w tysiąc łamiący się zwojów;</p>
  <p ALIGN="JUSTIFY">Mieni się cętkowata, różna barwa strojów</p>
  <p ALIGN="JUSTIFY">Damskich, pańskich, żołnierskich, jak łuska błyszcząca,</p>
  <p ALIGN="JUSTIFY">Wyzłocona promieńmi zachodniego słońca</p>
  <p ALIGN="JUSTIFY">I odbita o ciemne murawy węzgłowia.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wre taniec, brzmi muzyka, oklaski i zdrowia!</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tylko kapral Dobrzyński Sak ani kapeli</p>
  <p ALIGN="JUSTIFY">Nie słucha, ani tańczy, ani się weseli.</p>
  <p ALIGN="JUSTIFY">Ręce w tył założywszy stoi zły, ponury,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wspomina swe dawniejsze do Zosi konkury:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak lubił dla niej nosić kwiaty, pleść koszyczki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wybierać gniazda ptasie, robić zauszniczki.</p>
  <p ALIGN="JUSTIFY">Niewdzięczna! chociaż tyle pięknych darów strwonił,</p>
  <p ALIGN="JUSTIFY">Choć przed nim uciekała, choć mu ojciec bronił,</p>
  <p ALIGN="JUSTIFY">On jeszcze!... Ile razy na parkanie siadał,</p>
  <p ALIGN="JUSTIFY">By ją dójrzeć przez okna! w konopie się wkradał,</p>
  <p ALIGN="JUSTIFY">Żeby patrzeć, jak ona pleła swe ogródki,</p>
  <p ALIGN="JUSTIFY">Rwała ogórki albo karmiła kogutki.</p>
  <p ALIGN="JUSTIFY">Niewdzięczna! Spuścił głowę, i na koniec świsnął</p>
  <p ALIGN="JUSTIFY">Mazurka, potem kaszkiet na uszy nacisnął</p>
  <p ALIGN="JUSTIFY">I szedł w obóz, gdzie stała przy armatach warta;</p>
  <p ALIGN="JUSTIFY">Tam dla rozerwania się zaczął grać w drużbarta</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z wiarusami, kielichem osładzając żałość.</p>
  <p ALIGN="JUSTIFY">Taka była dla Zosi Dobrzyńskiego stałość.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zosia tańczy wesoło; lecz choć w pierwszej parze,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ledwie widna z daleka; na wielkim obszarze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zarosłego dziedzińca, w zielonej sukience,</p>
  <p ALIGN="JUSTIFY">Ustrojona w równianki i w kwieciste wieńce,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Śród traw i kwiatów krąży niewidzialnym lotem,</p>
  <p ALIGN="JUSTIFY">Rządząc tańcem, jak anioł nocnych gwiazd obrotem:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zgadniesz, gdzie jest, bo ku niej obrócone oczy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyciągnięte ramiona, ku niej zgiełk się tłoczy.</p>
  <p ALIGN="JUSTIFY">Darmo się Podkomorzy zostać przy niej sili;</p>
  <p ALIGN="JUSTIFY">Zazdrośnicy już z pierwszej pary go odbili;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I szczęśliwy Dąbrowski niedługo się cieszył,</p>
  <p ALIGN="JUSTIFY">Ustąpił ją drugiemu, a już trzeci śpieszył;</p>
  <p ALIGN="JUSTIFY">I ten, zaraz odbity, odszedł bez nadziei.</p>
  <p ALIGN="JUSTIFY">Aż Zosia, już strudzona, spotkała z kolei</p>
  <p ALIGN="JUSTIFY">Tadeusza, i dalszej lękając się zmiany,</p>
  <p ALIGN="JUSTIFY">I chcąc przy nim pozostać, zakończyła tany.</p>
  <p ALIGN="JUSTIFY">Idzie do stołu gościom nalewać kielichy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Słońce już gasło, wieczór był ciepły i cichy;</p>
  <p ALIGN="JUSTIFY">Okrąg niebios gdzieniegdzie chmurkami zasłany,</p>
  <p ALIGN="JUSTIFY">U góry błękitnawy, na zachód różany;</p>
  <p ALIGN="JUSTIFY">Chmurki wróżą pogodę, lekkie i świecące,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam jako trzody owiec na murawie śpiące,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ówdzie nieco drobniejsze, jak stada cyranek.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na zachód obłok na kształt rąbkowych firanek,</p>
  <p ALIGN="JUSTIFY">Przejrzysty, sfałdowany, po wierzchu perłowy,</p>
  <p ALIGN="JUSTIFY">Po brzegach pozłacany, w głębi purpurowy,</p>
  <p ALIGN="JUSTIFY">Jeszcze blaskiem zachodu tlił się i rozżarzał,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Aż powoli pożółkniał, zbladnął i poszarzał;</p>
  <p ALIGN="JUSTIFY">Słońce spuściło głowę, obłok zasunęło</p>
  <p ALIGN="JUSTIFY">I raz ciepłym powiewem westchnąwszy - usnęło.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A szlachta ciągle pije i wiwaty wznosi:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Napoleona, Wodzów, Tadeusza, Zosi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wreszcie z kolei wszystkich trzech par zaręczonych,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszystkich gości obecnych, wszystkich zaproszonych,</p>
  <p ALIGN="JUSTIFY">Wszystkich przyjaciół, których kto żywych spamięta</p>
  <p ALIGN="JUSTIFY">I których zmarłych pamięć pozostała święta!</p>
  <p ALIGN="JUSTIFY">I ja tam z gośćmi byłem, miód i wino piłem,</p>
  <p ALIGN="JUSTIFY">A com widział i słyszał, w księgi umieściłem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="center">KONIEC</font></p>
  <hr>
  <div align="center"><center><table border="0" cellpadding="0" width="100%">
    <tr>

	<td width="33%"><p align="center"><a href="k11"><strong>KSIĘGA JEDENASTA</strong></a></td>
    <td width="33%"><p align="center"><a href="{{ path('index') }}"><strong>PAN TADEUSZ</strong></a></td>
    </tr>
  </table>
  </center></div>
</blockquote>
{% endblock %}