{% extends "MickiewiczTadeuczBundle::layout.html.twig" %}
{% block title %}
    <title>Księga Trzecia | {{ parent() }}</title>
{%endblock%}
{%block header %}
    <h1>{{ parent() }} - Księga Trzecia</h1>
{%endblock%}
{%block menu%}
	<ul>
		<li class="list-group-item"><a href="k1">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2">Księga druga</a></li>
		<li class="list-group-item"><a href="k3">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12">Księga dwunasta</a></li>
    </ul>
{%endblock%}
{% block content %}
<blockquote>
  <hr>
  <font SIZE="4"><h1 ALIGN="center">KSIĘGA TRZECIA <br>
  </font><font size="5">UMIZGI</font></h1>
  <h2 ALIGN="center"><font SIZE="4">Treść:</font></h2>
  <font SIZE="4"><h2 ALIGN="center">Wyprawa Hrabi na sad - Tajemnicza nimfa gęsi pasie -
  Podobieństwo grzybobrania do przechadzki cieniów elizejskich - Gatunki grzybów -
  Telimena w Świątyni dumania - Narady tyczące się postanowienia Tadeusza - Hrabia
  pejzażysta - Tadeusza uwagi malarskie nad drzewami i obłokami - Hrabiego myśli o sztuce
  - Dzwon - Bilecik - Niedźwiedź, Mospanie!</font></h2>
  <hr width="50%" size="1">
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia wracał do siebie, lecz konia wstrzymywał,</p>
  <p ALIGN="JUSTIFY">Głową coraz w tył kręcił, w ogród się wpatrywał;</p>
  <p ALIGN="JUSTIFY">I raz mu się zdawało, że znowu z okienka</p>
  <p ALIGN="JUSTIFY">Błysnęła tajemnicza bieluchna sukienka</p>
  <p ALIGN="JUSTIFY">I coś lekkiego znowu upadło z wysoka,</p>
  <p ALIGN="JUSTIFY">I przeleciawszy cały ogród w mgnieniu oka,</p>
  <p ALIGN="JUSTIFY">Pomiędzy zielonymi świeciło ogórki:</p>
  <p ALIGN="JUSTIFY">Jako promień słoneczny, wykradłszy się z chmurki,</p>
  <p ALIGN="JUSTIFY">Kiedy śród roli padnie na krzemienia skibę</p>
  <p ALIGN="JUSTIFY">Lub śród zielonej łąki w drobną wody szybę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia zsiadł z konia, sługi odprawił do domu,</p>
  <p ALIGN="JUSTIFY">A sam ku ogrodowi ruszył po kryjomu;</p>
  <p ALIGN="JUSTIFY">Dobiegł wkrótce parkanu, znalazł w nim otwory</p>
  <p ALIGN="JUSTIFY">I wcisnął się po cichu jak wilk do obory;</p>
  <p ALIGN="JUSTIFY">Nieszczęściem, trącił krzaki suchego agrestu.</p>
  <p ALIGN="JUSTIFY">Ogrodniczka, jak gdyby zlękła się szelestu,</p>
  <p ALIGN="JUSTIFY">Oglądała się wkoło, lecz nic nie spostrzegła;</p>
  <p ALIGN="JUSTIFY">Przecież ku drugiej stronie ogrodu pobiegła.</p>
  <p ALIGN="JUSTIFY">A Hrabia bokiem, między wielkie końskie szczawie,</p>
  <p ALIGN="JUSTIFY">Między liście łopuchu, na rękach, po trawie,</p>
  <p ALIGN="JUSTIFY">Skacząc jak żaba, cicho, przyczołgał się blisko,</p>
  <p ALIGN="JUSTIFY">Wytknął głowę - i ujrzał cudne widowisko.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W tej części sadu rosły tu i ówdzie wiśnie,</p>
  <p ALIGN="JUSTIFY">Śród nich zboże, w gatunkach zmieszanych umyślnie:</p>
  <p ALIGN="JUSTIFY">Pszenica, kukuruza, bob, jęczmień wąsaty,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Proso, groszek, a nawet krzewiny i kwiaty.</p>
  <p ALIGN="JUSTIFY">Domowemu to ptastwu taki ochmistrzyni</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wymyśliła ogródek: sławna gospodyni.</p>
  <p ALIGN="JUSTIFY">Zwała się Kokosznicka, z domu Jendykowi-</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">czówna; jej wynalazek epokę stanowi</p>
  <p ALIGN="JUSTIFY">W domowym gospodarstwie; dziś powszechnie znany,</p>
  <p ALIGN="JUSTIFY">Lecz w owych czasach jeszcze za nowość podany,</p>
  <p ALIGN="JUSTIFY">Przyjęty pod sekretem od niewielu osób,</p>
  <p ALIGN="JUSTIFY">Nim go wydał kalendarz, pod tytułem: <i>Sposób</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na jastrzębie i kanie, albo nowy środek</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wychowywania drobiu</i> - był to ów ogrodek.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jakoż zaledwie kogut, co odprawia warty,</p>
  <p ALIGN="JUSTIFY">Stanie i nieruchomie dzierżąc dziob zadarty,</p>
  <p ALIGN="JUSTIFY">I głowę grzebieniastą pochyliwszy bokiem,</p>
  <p ALIGN="JUSTIFY">Aby tym łacniej w niebo mógł celować okiem,</p>
  <p ALIGN="JUSTIFY">Dostrzeże wiszącego jastrzębia śród chmury,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Krzyknie - zaraz w ten ogród chowają się kury,</p>
  <p ALIGN="JUSTIFY">Nawet gęsi i pawie, i w nagłym przestrachu</p>
  <p ALIGN="JUSTIFY">Gołębie, gdy nie mogą schronić się na dachu.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Teraz w niebie żadnego nie widziano wroga,</p>
  <p ALIGN="JUSTIFY">Tylko skwarzyła słońca letniego pożoga,</p>
  <p ALIGN="JUSTIFY">Od niej ptaki w zbożowym ukryły się lasku;</p>
  <p ALIGN="JUSTIFY">Tamte leżą w murawie, te kąpią się w piasku.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Śród ptaszych głów sterczały główki ludzkie
  małe,</p>
  <p ALIGN="JUSTIFY">Odkryte; włosy na nich krótkie, jak len białe;</p>
  <p ALIGN="JUSTIFY">Szyje nagie do ramion; a pomiędzy niemi</p>
  <p ALIGN="JUSTIFY">Dziewczyna głową wyższa, z włosami dłuższemi;</p>
  <p ALIGN="JUSTIFY">Tuż za dziećmi paw siedział i piór swych obręcze</p>
  <p ALIGN="JUSTIFY">Szeroko rozprzestrzenił w różnofarbną tęczę,</p>
  <p ALIGN="JUSTIFY">Na której główki białe, jak na tle obrazku,</p>
  <p ALIGN="JUSTIFY">Rzucone w ciemny błękit, nabierały blasku,</p>
  <p ALIGN="JUSTIFY">Obrysowane wkoło kręgiem pawich oczu</p>
  <p ALIGN="JUSTIFY">Jak wiankiem gwiazd, świeciły w zbożu jak w przezroczu,</p>
  <p ALIGN="JUSTIFY">Pomiędzy kukuruzy złocistymi laski</p>
  <p ALIGN="JUSTIFY">I angielską trawicą posrebrzaną w paski,</p>
  <p ALIGN="JUSTIFY">I szczyrem koralowym, i zielonym ślazem,</p>
  <p ALIGN="JUSTIFY">Których kształty i barwy mieszały się razem</p>
  <p ALIGN="JUSTIFY">Niby krata ze srebra i złota pleciona,</p>
  <p ALIGN="JUSTIFY">A powiewna od wiatru jak lekka zasłona.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nad gęstwą różnofarbnych kłosów i badylów</p>
  <p ALIGN="JUSTIFY">Wisiała jak baldakim jasna mgła motylów</p>
  <p ALIGN="JUSTIFY">Zwanych babkami, których poczwórne skrzydełka,</p>
  <p ALIGN="JUSTIFY">Lekkie jak pajęczyna, przejrzyste jak szkiełka,</p>
  <p ALIGN="JUSTIFY">Gdy w powietrzu zawisną, zaledwo widome,</p>
  <p ALIGN="JUSTIFY">I chociaż brzęczą, myślisz, że są nieruchome.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziewczyna powiewała podniesioną w ręku</p>
  <p ALIGN="JUSTIFY">Szarą kitką, podobną do piór strusich pęku;</p>
  <p ALIGN="JUSTIFY">Nią zdała się oganiać główki niemowlęce</p>
  <p ALIGN="JUSTIFY">Od złotego motylów deszczu. W drugiej ręce</p>
  <p ALIGN="JUSTIFY">Coś u niej rogatego, złocistego świeci,</p>
  <p ALIGN="JUSTIFY">Zdaje się, że naczynie do karmienia dzieci,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo je zbliżała dzieciom do ust po kolei,</p>
  <p ALIGN="JUSTIFY">Miało zaś kształt złotego rogu Amaltei.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak zatrudniona, przecież obracała głowę</p>
  <p ALIGN="JUSTIFY">Na pamiętne szelestem krzaki agrestowe,</p>
  <p ALIGN="JUSTIFY">Nie wiedząc, że napastnik już z przeciwnej strony</p>
  <p ALIGN="JUSTIFY">Zbliżył się, czołgając się jak wąż przez zagony;</p>
  <p ALIGN="JUSTIFY">Aż wyskoczył z łopucha. Spójrzała - stał blisko,</p>
  <p ALIGN="JUSTIFY">O cztery grzędy od niej, i kłaniał się nisko.</p>
  <p ALIGN="JUSTIFY">Już głowę odwróciła i wzniosła ramiona,</p>
  <p ALIGN="JUSTIFY">I zrywała się lecieć jak kraska spłoszona,</p>
  <p ALIGN="JUSTIFY">I już lekkie jej stopy wionęły nad liściem,</p>
  <p ALIGN="JUSTIFY">Kiedy dzieci, przelękłe podróżnego wniściem</p>
  <p ALIGN="JUSTIFY">I ucieczką dziewczyny, wrzasnęły okropnie;</p>
  <p ALIGN="JUSTIFY">Posłyszała, uczuła, że jest nieroztropnie</p>
  <p ALIGN="JUSTIFY">Dziatwę małą, przelękłą i samą porzucić:</p>
  <p ALIGN="JUSTIFY">Wracała wstrzymując się, lecz musiała wrócić,</p>
  <p ALIGN="JUSTIFY">Jak niechętny duch, wróżka przyzwany zaklęciem;</p>
  <p ALIGN="JUSTIFY">Przybiegła z najkrzykliwszym bawić się dziecięciem,</p>
  <p ALIGN="JUSTIFY">Siadła przy niem na ziemi, wzięła je na łono,</p>
  <p ALIGN="JUSTIFY">Drugie głaskała ręką i mową pieszczoną;</p>
  <p ALIGN="JUSTIFY">Aż się uspokoiły, objąwszy w rączęta</p>
  <p ALIGN="JUSTIFY">Jej kolana i tuląc główki jak pisklęta</p>
  <p ALIGN="JUSTIFY">Pod skrzydło matki. Ona rzekła: &quot;Czy to pięknie</p>
  <p ALIGN="JUSTIFY">Tak krzyczeć? czy to grzecznie? Ten pan was się zlęknie.</p>
  <p ALIGN="JUSTIFY">Ten pan nie przyszedł straszyć; to nie dziad szkaradny.</p>
  <p ALIGN="JUSTIFY">To gość, dobry pan, patrzcie tylko, jaki ładny&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sama spójrzała: Hrabia uśmiechnął się mile</p>
  <p ALIGN="JUSTIFY">I widocznie był wdzięczen jej za pochwał tyle;</p>
  <p ALIGN="JUSTIFY">Postrzegła się, umilkła, oczy opuściła</p>
  <p ALIGN="JUSTIFY">I jako róży pączek cała się spłoniła.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W istocie był to piękny pan: słusznej urody,</p>
  <p ALIGN="JUSTIFY">Twarz miał pociągłą, blade, lecz świeże jagody,</p>
  <p ALIGN="JUSTIFY">Oczy modre, łagodne, włos długi, białawy;</p>
  <p ALIGN="JUSTIFY">Na włosach listki ziela i kosmyki trawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Które Hrabia oberwał pełznąc przez zagony,</p>
  <p ALIGN="JUSTIFY">Zieleniły się jako wieniec rozpleciony.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;O ty! - rzekł - jakimkolwiek uczczę cię
  imieniem,</p>
  <p ALIGN="JUSTIFY">Bóstwem jesteś czy nimfą, duchem czy widzeniem!</p>
  <p ALIGN="JUSTIFY">Mów! własna-li cię wola na ziemię sprowadza,</p>
  <p ALIGN="JUSTIFY">Obca-li więzi ciebie na padole władza?</p>
  <p ALIGN="JUSTIFY">Ach, domyślam się - pewnie wzgardzony miłośnik,</p>
  <p ALIGN="JUSTIFY">Jaki pan możny albo opiekun zazdrośnik</p>
  <p ALIGN="JUSTIFY">W tym cię parku zamkowym jak zaklętą strzeże!</p>
  <p ALIGN="JUSTIFY">Godna, by o cię bronią walczyli rycerze,</p>
  <p ALIGN="JUSTIFY">Byś została romansów heroiną smutnych!</p>
  <p ALIGN="JUSTIFY">Odkryj mi, Piękna, tajnie twych losów okrutnych!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Znajdziesz wybawiciela - odtąd twem skinieniem,</p>
  <p ALIGN="JUSTIFY">Jak rządzisz sercem mojem, tak rządź mym ramieniem&quot;.</p>
  <p ALIGN="JUSTIFY">Wyciągnął ramię. </p>
  <p ALIGN="JUSTIFY">Ona z rumieńcem dziewiczym,</p>
  <p ALIGN="JUSTIFY">Ale z rozweselonym słuchała obliczem.</p>
  <p ALIGN="JUSTIFY">Jak dziecię lubi widzieć obrazki jaskrawe</p>
  <p ALIGN="JUSTIFY">I w liczmanach błyszczących znajduje zabawę,</p>
  <p ALIGN="JUSTIFY">Nim rozezna ich wartość, tak się słuch jej pieści</p>
  <p ALIGN="JUSTIFY">Z dźwięcznemi słowy, których nie pojęła treści.</p>
  <p ALIGN="JUSTIFY">Na koniec zapytała: &quot;Skąd tu Pan przychodzi?</p>
  <p ALIGN="JUSTIFY">I czego tu po grzędach szuka Pan Dobrodzi?j?&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Hrabia oczy roztworzył, zmieszany, zdziwiony,</p>
  <p ALIGN="JUSTIFY">Milczał, wreszcie, zniżając swej rozmowy tony:</p>
  <p ALIGN="JUSTIFY">&quot;Przepraszam - rzekł - Panienko! Widzę, żem pomieszał</p>
  <p ALIGN="JUSTIFY">Zabawy! Ach, przepraszam, jam właśnie pośpieszał</p>
  <p ALIGN="JUSTIFY">Na śniadanie; już późno, chciałem na czas zdążyć;</p>
  <p ALIGN="JUSTIFY">Panienka wie, że drogą trzeba wkoło krążyć,</p>
  <p ALIGN="JUSTIFY">Przez ogród, zdaje mi się, jest do dworu prości?j&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziewczyna rzekła: &quot;Tędy droga Jegomości;</p>
  <p ALIGN="JUSTIFY">Tylko grząd psuć nie trzeba; tam między murawą</p>
  <p ALIGN="JUSTIFY">Ścieżka&quot;. - &quot;W lewo - zapytał Hrabia - czy na prawo?&quot;</p>
  <p ALIGN="JUSTIFY">Ogrodniczka, podniosłszy błękitne oczęta,</p>
  <p ALIGN="JUSTIFY">Zdawała się go badać, ciekawością zdjęta:</p>
  <p ALIGN="JUSTIFY">Bo dom o tysiąc kroków widny jak na dłoni,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A Hrabia drogi pyta? Ale Hrabia do ni?j</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chciał koniecznie coś mówić i szukał powodu</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rozmowy.</p>
  <p ALIGN="JUSTIFY">&quot;Panna mieszka tu? blisko ogrodu?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy na wsi? Jak to było, żem Panny we dworze</p>
  <p ALIGN="JUSTIFY">Nie widział? Czy niedawno tu? przyjezdna może?&quot;</p>
  <p ALIGN="JUSTIFY">Dziewczę wstrząsnęło głową. - &quot;Przepraszam, Panienko,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy nie tam pokoj Panny, gdzie owe okienko?&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Myślił zaś w duchu: Jeśli nie jest heroiną</p>
  <p ALIGN="JUSTIFY">Romansów, jest młodziuchną, prześliczną dziewczyną.</p>
  <p ALIGN="JUSTIFY">Zbyt często wielka dusza, myśl wielka ukryta</p>
  <p ALIGN="JUSTIFY">W samotności, jak róża śród lasów rozkwita;</p>
  <p ALIGN="JUSTIFY">Dosyć ją wynieść na świat, postawić przed słońcem,</p>
  <p ALIGN="JUSTIFY">Aby widzów zdziwiła jasnych barw tysiącem!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ogrodniczka tymczasem powstała w milczeniu,</p>
  <p ALIGN="JUSTIFY">Podniosła jedno dziecię źwisłe na ramieniu,</p>
  <p ALIGN="JUSTIFY">Drugie wzięła za rękę, a kilkoro przodem</p>
  <p ALIGN="JUSTIFY">Zaganiając jak gąski, szła dalej ogrodem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Odwróciwszy się rzekła: &quot;Czy też Pan nie może</p>
  <p ALIGN="JUSTIFY">Rozbiegłe moje ptastwo wpędzić nazad w zboże?&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Ja ptastwo pędzać?&quot; - krzyknął Hrabia z zadziwieniem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ona tymczasem znikła, zakryta drzew cieniem.</p>
  <p ALIGN="JUSTIFY">Chwilę jeszcze z szpaleru przez majowe zwoje</p>
  <p ALIGN="JUSTIFY">Przeświecało coś na wskróś, jakby oczu dwoje.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Samotny Hrabia długo jeszcze stał w ogrodzie;</p>
  <p ALIGN="JUSTIFY">Dusza jego, jak ziemia po słońca zachodzie,</p>
  <p ALIGN="JUSTIFY">Ostygała powoli, barwy brała ciemne;</p>
  <p ALIGN="JUSTIFY">Zaczął marzyć, lecz sny miał bardzo nieprzyjemne.</p>
  <p ALIGN="JUSTIFY">Zbudził się, sam nie wiedząc, na kogo się gniewał;</p>
  <p ALIGN="JUSTIFY">Niestety, mało znalazł! nadto się spodziewał!</p>
  <p ALIGN="JUSTIFY">Bo gdy zagonem pełznął ku owej pasterce,</p>
  <p ALIGN="JUSTIFY">Paliło mu się w głowie, skakało w nim serce;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tyle wdzięków w tajemnej nimfie upatrywał,</p>
  <p ALIGN="JUSTIFY">W tyle ją cudów ubrał, tyle odgadywał!</p>
  <p ALIGN="JUSTIFY">Wszystko znalazł inaczej. Prawda, że twarz ładną,</p>
  <p ALIGN="JUSTIFY">Kibić miała wysmukłą, ale jak nieskładną!</p>
  <p ALIGN="JUSTIFY">A owa pulchność liców i rumieńca żywość,</p>
  <p ALIGN="JUSTIFY">Malująca zbyteczną, prostacką szczęśliwość!</p>
  <p ALIGN="JUSTIFY">Znak, że myśl jeszcze drzemie, że serce nieczynne.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I owe odpowiedzi, tak wiejskie, tak gminne!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Po cóż się łudzić? - krzyknął - zgaduję po
  czasie!</p>
  <p ALIGN="JUSTIFY">Moja nimfa tajemna pono gęsi pasie!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z nimfy zniknieniem całe czarowne przezrocze</p>
  <p ALIGN="JUSTIFY">Zmieniło się: te wstęgi, te kraty urocze,</p>
  <p ALIGN="JUSTIFY">Złote, srebrne, niestety! więc to była słoma?</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia z załamanemi poglądał rękoma</p>
  <p ALIGN="JUSTIFY">Na snopek uwiązanej trawami mietlicy,</p>
  <p ALIGN="JUSTIFY">Którą brał za pęk strusich piór w ręku dziewicy.</p>
  <p ALIGN="JUSTIFY">Nie zapomniał naczynia: złocista konewka,</p>
  <p ALIGN="JUSTIFY">Ów różek Amaltei, była to marchewka!</p>
  <p ALIGN="JUSTIFY">Widział ją w ustach dziecka pożeraną chciwie:</p>
  <p ALIGN="JUSTIFY">Więc było po uroku! po czarach! po dziwie!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak chłopiec, kiedy ujrzy cykoryi kwiaty,</p>
  <p ALIGN="JUSTIFY">Wabiące dłoń miękkiemi, lekkiemi bławaty,</p>
  <p ALIGN="JUSTIFY">Chce je pieścić, zbliża się, dmuchnie, i z podmuchem</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cały kwiat na powietrzu rozleci się puchem,</p>
  <p ALIGN="JUSTIFY">A w ręku widzi tylko badacz zbyt ciekawy</p>
  <p ALIGN="JUSTIFY">Nagą łodygę szarozielonawej trawy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia wcisnął na oczy kapelusz i wracał</p>
  <p ALIGN="JUSTIFY">Tamtędy, kędy przyszedł, ale drogę skracał,</p>
  <p ALIGN="JUSTIFY">Stąpając po jarzynach, kwiatach i agreście,</p>
  <p ALIGN="JUSTIFY">Aż przeskoczywszy parkan, odetchnął nareście!</p>
  <p ALIGN="JUSTIFY">Przypomniał, że dziewczynie mówił o śniadaniu;</p>
  <p ALIGN="JUSTIFY">Może już wszyscy wiedzą o jego spotkaniu;</p>
  <p ALIGN="JUSTIFY">W ogrodzie, blisko domu? może szukać wyślą?</p>
  <p ALIGN="JUSTIFY">Postrzegli, że uciekał? Kto wie, co pomyślą?</p>
  <p ALIGN="JUSTIFY">Więc wypadało wrócić. </font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">Chyląc się u płotów,</p>
  <p ALIGN="JUSTIFY">Około miedz i zielska, po tysiącach zwrotów</p>
  <p ALIGN="JUSTIFY">Rad był przecież, że wyszedł w końcu na gościniec,</p>
  <p ALIGN="JUSTIFY">Który prosto prowadził na dworski dziedziniec.</p>
  <p ALIGN="JUSTIFY">Szedł przy płocie, a głowę odwracał od sadu,</p>
  <p ALIGN="JUSTIFY">Jak złodziej od śpichlerza, aby nie dać śladu,</p>
  <p ALIGN="JUSTIFY">Że go myśli nawiedzić albo już nawiedził.</p>
  <p ALIGN="JUSTIFY">Tak Hrabia był ostróżny, choć go nikt nie śledził;</p>
  <p ALIGN="JUSTIFY">Patrzył w stronę przeciwną ogrodu, na prawo.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Był gaj z rzadka zarosły, wysłany murawą;</p>
  <p ALIGN="JUSTIFY">Po jej kobiercach, na wskroś białych pniów brzozowych,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pod namiotem obwisłych gałęzi majowych,</p>
  <p ALIGN="JUSTIFY">Snuło się mnóstwo kształtów, których dziwne ruchy,</p>
  <p ALIGN="JUSTIFY">Niby tańce, i dziwny ubior: istne duchy</p>
  <p ALIGN="JUSTIFY">Błądzące po księżycu. Tamci w czarnych, ciasnych,</p>
  <p ALIGN="JUSTIFY">Ci w długich, rozpuszczonych szatach, jak śnieg jasnych;</p>
  <p ALIGN="JUSTIFY">Tamten pod kapeluszem jak obręcz szerokim,</p>
  <p ALIGN="JUSTIFY">Ten z gołą głową; inni, jak gdyby obłokiem</p>
  <p ALIGN="JUSTIFY">Obwiani, idąc, na wiatr puszczają zasłony,</p>
  <p ALIGN="JUSTIFY">Ciągnące się za głową jak komet ogony.</p>
  <p ALIGN="JUSTIFY">Każdy w innej postawie: ten przyrósł do ziemi,</p>
  <p ALIGN="JUSTIFY">Tylko oczyma kręci na dół spuszczonemi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ów patrząc wprost przed siebie, niby senny kroczy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak po linie, ni w prawo, ni w lewo nie zboczy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszyscy zaś ciągle w różne schylają się strony</p>
  <p ALIGN="JUSTIFY">Aż do ziemi, jak gdyby wybijać pokłony.</p>
  <p ALIGN="JUSTIFY">Jeżeli się przybliżą albo się spotkają,</p>
  <p ALIGN="JUSTIFY">Ani mówią do siebie, ani się witają,</p>
  <p ALIGN="JUSTIFY">Głęboko zadumani, w sobie pogrążeni.</p>
  <p ALIGN="JUSTIFY">Hrabia widział w nich obraz elizejskich cieni,</p>
  <p ALIGN="JUSTIFY">Które chociaż boleściom, troskom niedostępne,</p>
  <p ALIGN="JUSTIFY">Błąkają się spokojne, ciche, lecz posępne.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Któż by zgadnął, że owi, tak mało ruchomi,</p>
  <p ALIGN="JUSTIFY">Owi milczący ludzie - są nasi znajomi?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sędziowscy towarzysze! z hucznego śniadania</p>
  <p ALIGN="JUSTIFY">Wyszli na uroczysty obrzęd grzybobrania.</p>
  <p ALIGN="JUSTIFY">Jako ludzie rozsądni, umieją miarkować</p>
  <p ALIGN="JUSTIFY">Mowy i ruchy swoje, aby je stosować</p>
  <p ALIGN="JUSTIFY">W każdej okoliczności do miejsca i czasu.</p>
  <p ALIGN="JUSTIFY">Dlatego, nim ruszyli za Sędzią do lasu,</p>
  <p ALIGN="JUSTIFY">Wzięli postawy tudzież ubiory odmienne:</p>
  <p ALIGN="JUSTIFY">Służące do przechadzki opończe płócienne,</p>
  <p ALIGN="JUSTIFY">Którymi osłaniają po wierzchu kontusze,</p>
  <p ALIGN="JUSTIFY">A na głowy słomiane wdziali kapelusze,</p>
  <p ALIGN="JUSTIFY">Stąd biali wyglądają jak czyscowe dusze.</p>
  <p ALIGN="JUSTIFY">Młodzież także przebrana, oprocz Telimeny</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I kilku po francusku chodzących. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tej sceny</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia nie pojął, nie znał wiejskiego zwyczaju,</p>
  <p ALIGN="JUSTIFY">Więc zdziwiony nieźmiernie biegł pędem do gaju.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Grzybów było w bród: chłopcy biorą krasnolice,</p>
  <p ALIGN="JUSTIFY">Tyle w pieśniach litewskich sławione l i s i c e,</p>
  <p ALIGN="JUSTIFY">Co są godłem panieństwa, bo czerw ich nie zjada,</p>
  <p ALIGN="JUSTIFY">I dziwna; żaden owad na nich nie usiada.</p>
  <p ALIGN="JUSTIFY">Panienki za wysmukłym gonią b o r o w i k i e m,</p>
  <p ALIGN="JUSTIFY">Którego pieśń nazywa grzybów półkownikiem.</p>
  <p ALIGN="JUSTIFY">Wszyscy dybią na r y d z a; ten wzrostem skromniejszy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I mniej sławny w piosenkach, za to najsmaczniejszy,</p>
  <p ALIGN="JUSTIFY">Czy świeży, czy solony, czy jesiennej pory,</p>
  <p ALIGN="JUSTIFY">Czy zimą. Ale Wojski zbierał m u c h o m o r y.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Inne pospólstwo grzybów pogardzone w braku</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dla szkodliwości albo niedobrego smaku,</p>
  <p ALIGN="JUSTIFY">Lecz nie są bez użytku: one zwierza pasą</p>
  <p ALIGN="JUSTIFY">I gniazdem są owadów, i gajów okrasą.</p>
  <p ALIGN="JUSTIFY">Na zielonym obrusie łąk jako szeregi</p>
  <p ALIGN="JUSTIFY">Naczyń stołowych sterczą: tu z krągłymi brzegi</p>
  <p ALIGN="JUSTIFY">S u r o j a d k i srebrzyste, żółte i czerwone,</p>
  <p ALIGN="JUSTIFY">Niby czareczki rożnem winem napełnione;</p>
  <p ALIGN="JUSTIFY">K o ź l a k, jak przewrocone kubka dno wypukłe,</p>
  <p ALIGN="JUSTIFY">L e j k i, jako szampańskie kieliszki wysmukłe,</p>
  <p ALIGN="JUSTIFY">B i e 1 a k i krągłe, białe, szerokie i płaskie,</p>
  <p ALIGN="JUSTIFY">Jakby mlekiem nalane filiżanki saskie,</p>
  <p ALIGN="JUSTIFY">I kulista, czarniawym pyłkiem napełniona</p>
  <p ALIGN="JUSTIFY">P u r c h a w k a, jak pieprzniczka - zaś innych imiona</p>
  <p ALIGN="JUSTIFY">Znane tylko w zajęczym lub wilczym języku,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Od ludzi nie ochrzczone; a jest ich bez liku.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ni wilczych, ni zajęczych nikt dotknąć nie raczy,</p>
  <p ALIGN="JUSTIFY">A kto schyla się ku nim, gdy błąd swój obaczy,</p>
  <p ALIGN="JUSTIFY">Zagniewany, grzyb złamie albo nogą kopnie;</p>
  <p ALIGN="JUSTIFY">Tak szpecąc trawę, czyni bardzo nieroztropnie.</p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Telimena ni wilczych, ni ludzkich nie zbiera.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Roztargniona, znudzona, dokoła spoziera</p>
  <p ALIGN="JUSTIFY">Z głową w górę zadartą. Więc pan Rejent w gniewie</p>
  <p ALIGN="JUSTIFY">Mówił o niej, że grzybów szukała na drzewie;</p>
  <p ALIGN="JUSTIFY">Asesor ją złośliwiej równał do samicy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Która miejsca na gniazdo szuka w okolicy.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jakoż zdała się szukać samotności, ciszy,</p>
  <p ALIGN="JUSTIFY">Oddalała się z wolna od swych towarzyszy</p>
  <p ALIGN="JUSTIFY">I szła lasem na wzgórek pochyło wyniosły,</p>
  <p ALIGN="JUSTIFY">Ocieniony, bo drzewa gęściej na nim rosły.</p>
  <p ALIGN="JUSTIFY">W środku szarzał się kamień; strumień spod kamienia</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szumiał, tryskał i zaraz, jakby szukał cienia,</p>
  <p ALIGN="JUSTIFY">Chował się między gęste i wysokie zioła,</p>
  <p ALIGN="JUSTIFY">Które wodą pojone bujały dokoła;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam ów bystry swawolnik, spowijany w trawy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I liściem podesłany, bez ruchu, bez wrzawy,</p>
  <p ALIGN="JUSTIFY">Niewidzialny i ledwie dosłyszany szepce,</p>
  <p ALIGN="JUSTIFY">Jako dziecię krzykliwe złożone w kolebce,</p>
  <p ALIGN="JUSTIFY">Gdy matka nad nim zwiąże firanki majowe</p>
  <p ALIGN="JUSTIFY">I liścia makowego nasypie pod głowę.</p>
  <p ALIGN="JUSTIFY">Miejsce piękne i ciche; tu się często schrania</p>
  <p ALIGN="JUSTIFY">Telimena, zowiąc je Ś w i ą t y n i ą d u m a n i a.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stanąwszy nad strumieniem, rzuciła na trawnik</p>
  <p ALIGN="JUSTIFY">Z ramion swój szal powiewny, czerwony jak krwawnik,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I podobna pływaczce, która do kąpieli</p>
  <p ALIGN="JUSTIFY">Zimnej schyla się, nim się zanurzyć ośmieli,</p>
  <p ALIGN="JUSTIFY">Klęknęła i powoli chyliła się bokiem;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wreszcie, jakby porwana koralu potokiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Upadła nań i cała wzdłuż się rozpostarła,</p>
  <p ALIGN="JUSTIFY">Łokcie na trawie, skronie na dłoniach oparła,</p>
  <p ALIGN="JUSTIFY">Z głową w dół skłonioną; na dole, u głowy,</p>
  <p ALIGN="JUSTIFY">Błysnął francuskiej książki papier welinowy;</p>
  <p ALIGN="JUSTIFY">Nad alabastrowymi stronicami księgi</p>
  <p ALIGN="JUSTIFY">Wiły się czarne pukle i różowe wstęgi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">W szmaragdzie bujnych traw, na krwawnikowym szalu,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W sukni długiej, jak gdyby w powłoce koralu,</p>
  <p ALIGN="JUSTIFY">Od której odbijał się włos z jednego końca,</p>
  <p ALIGN="JUSTIFY">Z drugiego czarny trzewik, po bokach błyszcząca</p>
  <p ALIGN="JUSTIFY">Śnieżną pończoszką, chustką, białością rąk, lica,</p>
  <p ALIGN="JUSTIFY">Wydawała się z dala jak pstra gąsienica,</p>
  <p ALIGN="JUSTIFY">Gdy wpełźnie na zielony liść klonu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Niestety!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszystkie tego obrazu wdzięki i zalety</p>
  <p ALIGN="JUSTIFY">Darmo czekały znawców; nikt nie zważał na nie,</p>
  <p ALIGN="JUSTIFY">Tak mocno zajmowało wszystkich grzybobranie.</p>
  <p ALIGN="JUSTIFY">Tadeusz przecież zważał i w bok strzelał okiem,</p>
  <p ALIGN="JUSTIFY">I nie śmiejąc iść prosto, przysuwał się bokiem.</p>
  <p ALIGN="JUSTIFY">Jak strzelec, gdy w ruchomej gałęzistej szopie</p>
  <p ALIGN="JUSTIFY">Usiadłszy na dwóch kołach podjeżdża na dropie,</p>
  <p ALIGN="JUSTIFY">Albo na siewki idąc, przy koniu się kryje,</p>
  <p ALIGN="JUSTIFY">Strzelbę złoży na siodle lub pod końską szyję,</p>
  <p ALIGN="JUSTIFY">Niby to bronę włóczy, niby jedzie miedzą,</p>
  <p ALIGN="JUSTIFY">A coraz się przybliża, kędy ptaki siedzą:</p>
  <p ALIGN="JUSTIFY">Tak skradał się Tadeusz.</p>
  <p ALIGN="JUSTIFY">Sędzia czaty zmieszał</p>
  <p ALIGN="JUSTIFY">I przeciąwszy mu drogę, do źródła pośpieszał.</p>
  <p ALIGN="JUSTIFY">Z wiatrem igrały białe poły szarafana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I wielka chustka w pasie końcem uwiązana;</p>
  <p ALIGN="JUSTIFY">Słomiany, podwiązany kapelusz od ruchu</p>
  <p ALIGN="JUSTIFY">Nagłego chwiał się z wiatrem jako liść łopuchu,</p>
  <p ALIGN="JUSTIFY">Spadając to na barki, to znowu na oczy;</p>
  <p ALIGN="JUSTIFY">W ręku ogromna laska: tak pan Sędzia kroczy.</p>
  <p ALIGN="JUSTIFY">Schyliwszy się i ręce obmywszy w strumieniu,</p>
  <p ALIGN="JUSTIFY">Usiadł przed Telimeną na wielkim kamieniu</p>
  <p ALIGN="JUSTIFY">I wsparłszy się oburącz na gałkę słoniową</p>
  <p ALIGN="JUSTIFY">Trzciny ogromnej, z taką ozwał się przemową:</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Widzi Aśćka, od czasu jak tu u nas gości</p>
  <p ALIGN="JUSTIFY">Tadeuszek, niemało mam niespokojności;</p>
  <p ALIGN="JUSTIFY">Jestem bezdzietny, stary; ten dobry chłopczyna</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszak to moja na świecie pociecha jedyna,</p>
  <p ALIGN="JUSTIFY">Przyszły dziedzic fortunki mojej. Z łaski nieba</p>
  <p ALIGN="JUSTIFY">Zostawię mu kęs niezły szlacheckiego chleba;</p>
  <p ALIGN="JUSTIFY">Już mu też czas obmyśleć los, postanowienie;</p>
  <p ALIGN="JUSTIFY">Ale zważaj no Aśćka moje utrapienie!</p>
  <p ALIGN="JUSTIFY">Wiesz, że pan Jacek, brat mój, Tadeusza ociec,</p>
  <p ALIGN="JUSTIFY">Dziwny człowiek, zamiarów jego trudno dociec:</p>
  <p ALIGN="JUSTIFY">Nie chce wracać do kraju, Bóg wie gdzie się kryje,</p>
  <p ALIGN="JUSTIFY">Nawet nie chce synowi oznajmić, że żyje,</p>
  <p ALIGN="JUSTIFY">A ciągle nim zarządza. Naprzód w legijony</p>
  <p ALIGN="JUSTIFY">Chciał go posyłać; byłem okropnie zmartwiony.</p>
  <p ALIGN="JUSTIFY">Potem zgodził się przecie, by w domu pozostał</p>
  <p ALIGN="JUSTIFY">I żeby się ożenił. Jużbyć żony dostał;</p>
  <p ALIGN="JUSTIFY">Partyję upatrzyłem; nikt z obywateli</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie wyrówna z imienia ani z parenteli</p>
  <p ALIGN="JUSTIFY">Podkomorzemu; jego starsza córka Anna</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest na wydaniu, piękna i posażna panna.</p>
  <p ALIGN="JUSTIFY">Chciałem zagaić&quot;. </p>
  <p ALIGN="JUSTIFY">Na to Telimena zbladła,</p>
  <p ALIGN="JUSTIFY">Złożyła książkę, wstała nieco i usiadła.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jak mamę kocham - rzekła - czy to, Panie Bracie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest w tym sens jaki? Czy wy Boga w sercu macie?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">To myślisz Tadeusza zostać dobrodziejem,</p>
  <p ALIGN="JUSTIFY">Jeśli młodego chłopca zrobisz grykosiejem!</p>
  <p ALIGN="JUSTIFY">Świat mu zawiążesz! Wierz mi, kląć was kiedyś będzie!</p>
  <p ALIGN="JUSTIFY">Zakopać taki talent w lasach i na grzędzie!</p>
  <p ALIGN="JUSTIFY">Wierz mi, ile poznałam, pojętne to dziecię,</p>
  <p ALIGN="JUSTIFY">Warto, żeby na wielkim przetarło się świecie;</p>
  <p ALIGN="JUSTIFY">Dobrze Brat zrobi, gdy go do stolicy wyśle;</p>
  <p ALIGN="JUSTIFY">Na przykład do Warszawy? lub wie Brat, co myślę,</p>
  <p ALIGN="JUSTIFY">Żeby do Peterburka? Ja pewnie tej zimy</p>
  <p ALIGN="JUSTIFY">Pojadę tam dla sprawy; razem ułożymy,</p>
  <p ALIGN="JUSTIFY">Co zrobić z Tadeuszem; znam tam wiele osób,</p>
  <p ALIGN="JUSTIFY">Mam wpływy: to najlepszy kreacyi sposób.</p>
  <p ALIGN="JUSTIFY">Za mą pomocą znajdzie wstęp w najpierwsze domy,</p>
  <p ALIGN="JUSTIFY">A kiedy będzie ważnym osobom znajomy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dostanie urząd, order; wtenczas niech porzuci</p>
  <p ALIGN="JUSTIFY">Służbę, jeżeli zechce, niech do domu wróci,</p>
  <p ALIGN="JUSTIFY">Mając już i znaczenie, i znajomość świata.</p>
  <p ALIGN="JUSTIFY">I cóż Brat myśli o tem?&quot; </p>
  <p ALIGN="JUSTIFY">&quot;Jużci, w młode lata -</p>
  <p ALIGN="JUSTIFY">Rzekł Sędzia - nieźle chłopcu trochę się przewietrzyć,</p>
  <p ALIGN="JUSTIFY">Obejrzeć się na świecie, między ludźmi przetrzeć.</p>
  <p ALIGN="JUSTIFY">Ja za młodu niemało świata objechałem:</p>
  <p ALIGN="JUSTIFY">Byłem w Piotrkowie, w Dubnie, to za trybunałem</p>
  <p ALIGN="JUSTIFY">Jadąc jako palestrant, to własne swe sprawy</p>
  <p ALIGN="JUSTIFY">Forytując, jeździłem nawet do Warszawy.</p>
  <p ALIGN="JUSTIFY">Człek niemało skorzystał! Chciałbym i synowca</p>
  <p ALIGN="JUSTIFY">Wysłać pomiędzy ludzie, prosto jak wędrowca,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak czeladnika, który terminuje lata,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ażeby nabył trochę znajomości świata.</p>
  <p ALIGN="JUSTIFY">Nie dla rang ni orderów! Proszę uniżenie,</p>
  <p ALIGN="JUSTIFY">Ranga moskiewska, order, cóż to za znaczenie?</p>
  <p ALIGN="JUSTIFY">Któryż to z dawnych panów, ba, nawet dzisiejszych,</p>
  <p ALIGN="JUSTIFY">Między szlachtą w powiecie nieco zamożniejszych,</p>
  <p ALIGN="JUSTIFY">Dba o podobne fraszki? Przecież są w estymie</p>
  <p ALIGN="JUSTIFY">U ludzi, bo szanujem w nich ród, dobre imię</p>
  <p ALIGN="JUSTIFY">Albo urząd, lecz ziemski, przyznany wyborem</p>
  <p ALIGN="JUSTIFY">Obywatelskim, nie zaś czyimś tam faworem&quot;.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena przerwała: &quot;Jeśli Brat tak myśli,</p>
  <p ALIGN="JUSTIFY">Tem lepiej, więc go jako wojażera wyślij&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Widzi Siostra - rzekł Sędzia, skrobiąc smutnie głowę -</p>
  <p ALIGN="JUSTIFY">Chciałbym bardzo, cóż, kiedy mam trudności nowe!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pan Jacek nie wypuszcza z opieki swej syna</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I przysłał mi tu właśnie na kark bernardyna</p>
  <p ALIGN="JUSTIFY">Robaka, który przybył z tamtej strony Wisły;</p>
  <p ALIGN="JUSTIFY">Przyjaciel brata, wszystkie wie jego zamysły;</p>
  <p ALIGN="JUSTIFY">A więc o Tadeusza już wyrzekli losie</p>
  <p ALIGN="JUSTIFY">I chcą, by się ożenił, aby pojął Zosię,</p>
  <p ALIGN="JUSTIFY">Wychowankę Wać Pani; oboje dostaną,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oprocz fortunki mojej, z łaski Jacka wiano</p>
  <p ALIGN="JUSTIFY">W kapitałach; wiesz Aśćka, że ma kapitały,</p>
  <p ALIGN="JUSTIFY">I z łaski jego mam też fundusz prawie cały,</p>
  <p ALIGN="JUSTIFY">Ma więc prawo rozrządzać. - Aśćka pomyśl o tem,</p>
  <p ALIGN="JUSTIFY">Żeby się to zrobiło z najmniejszym kłopotem.</p>
  <p ALIGN="JUSTIFY">Trzeba ich z sobą poznać. Prawda, bardzo młodzi,</p>
  <p ALIGN="JUSTIFY">Szczególnie Zosia mała, lecz to nic nie szkodzi;</p>
  <p ALIGN="JUSTIFY">Czas by już Zośkę wreszcie wydobyć z zamknięcia,</p>
  <p ALIGN="JUSTIFY">Bo wszakci to już pono wyrasta z dziecięcia&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena, zdziwiona i prawie wylękła,</p>
  <p ALIGN="JUSTIFY">Podnosiła się coraz, na szalu uklękła;</p>
  <p ALIGN="JUSTIFY">Zrazu słuchała pilnie, potem dłoni ruchem</p>
  <p ALIGN="JUSTIFY">Przeczyła, ręką żwawo wstrząsając nad uchem,</p>
  <p ALIGN="JUSTIFY">Odpędzając jak owad nieprzyjemne słowa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na powrót w usta mówcy. </p>
  <p ALIGN="JUSTIFY">&quot;A! a! to rzecz nowa!</p>
  <p ALIGN="JUSTIFY">Czy to Tadeuszowi szkodzi, czy nie szkodzi -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzekła z gniewem - sądź o tem sam Wać Pan
  Dobrodzi?j!</p>
  <p ALIGN="JUSTIFY">Mnie nic do Tadeusza; sami o nim radźcie,</p>
  <p ALIGN="JUSTIFY">Zróbcie go ekonomem lub w karczmie posadźcie,</p>
  <p ALIGN="JUSTIFY">Niech szynkuje lub z lasu niech źwierzynę znosi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z nim sobie, co zechcecie, zróbcie; lecz do Zosi?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co Wać Państwu do Zosi? Ja jej ręką rządzę,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ja sama! Że pan Jacek dawał był pieniądze</p>
  <p ALIGN="JUSTIFY">Na wychowanie Zosi i że jej wyznaczył</p>
  <p ALIGN="JUSTIFY">Małą pensyjkę roczną, więcej przyrzec raczył,</p>
  <p ALIGN="JUSTIFY">Toć jej jeszcze nie kupił. Zresztą Państwo wiecie,</p>
  <p ALIGN="JUSTIFY">I dotąd jeszcze o tem wiadomo na świecie,</p>
  <p ALIGN="JUSTIFY">Że hojność Państwa dla nas nie jest bez powodu...</p>
  <p ALIGN="JUSTIFY">Winni coś Soplicowie dla Horeszków rodu&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">(Tej części mowy Sędzia słuchał z niepojętem</p>
  <p ALIGN="JUSTIFY">Pomieszaniem, żałością i widocznym wstrętem;</p>
  <p ALIGN="JUSTIFY">Jakby lękał się reszty mowy, głowę skłonił</p>
  <p ALIGN="JUSTIFY">I ręką potakując, mocno się zapłonił).</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena kończyła: &quot;Byłam jej piastunką,</p>
  <p ALIGN="JUSTIFY">Jestem krewną, jedyną Zosi opiekunką.</p>
  <p ALIGN="JUSTIFY">Nikt oprócz mnie nie będzie myślił o jej szczęściu&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;A jeśli ona szczęście znajdzie w tym zamęściu? -</p>
  <p ALIGN="JUSTIFY">Rzekł Sędzia wzrok podnosząc. - Jeśli Tadeuszka</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podoba?&quot; - &quot;Czy podoba? To na wierzbie
  gruszka;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podoba, nie podoba, a to mi rzecz ważna!</p>
  <p ALIGN="JUSTIFY">Zosia nie będzie, prawda, partyja posażna;</p>
  <p ALIGN="JUSTIFY">Ale też nie jest z lada wsi, lada szlachcianka,</p>
  <p ALIGN="JUSTIFY">Idzie z Jaśnie Wielmożnych, jest Wojewodzianka,</p>
  <p ALIGN="JUSTIFY">Rodzi się z Horeszkówny; małżonka dostanie!</p>
  <p ALIGN="JUSTIFY">Staraliśmy się tyle o jej wychowanie!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chybaby tu zdziczała&quot;. </p>
  <p ALIGN="JUSTIFY">Sędzia pilnie słuchał,</p>
  <p ALIGN="JUSTIFY">Patrząc w oczy; zdało się, że się udobruchał,</p>
  <p ALIGN="JUSTIFY">Bo rzekł dosyć wesoło: &quot;No, to i cóż robić!</p>
  <p ALIGN="JUSTIFY">Bóg widzi, szczerze chciałem interesu dobić;</p>
  <p ALIGN="JUSTIFY">Tylko bez gniewu; jeśli Aśćka się nie zgodzi,</p>
  <p ALIGN="JUSTIFY">Aśćka ma prawo; smutno - gniewać się nie godzi;</p>
  <p ALIGN="JUSTIFY">Radziłem, bo brat kazał; nikt tu nie przymusza;</p>
  <p ALIGN="JUSTIFY">Gdy Aśćka rekuzuje pana Tadeusza,</p>
  <p ALIGN="JUSTIFY">Odpisuję Jackowi, że nie z mojej winy</p>
  <p ALIGN="JUSTIFY">Nie dojdą Tadeusza z Zosią zaręczyny.</p>
  <p ALIGN="JUSTIFY">Teraz sam będę radzić; pono z Podkomorzym</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zagaimy swatostwo i resztę ułożym&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przez ten czas Telimena ostygła z zapału:</p>
  <p ALIGN="JUSTIFY">&quot;Ja nic nie rekuzuję, Braciszku, pomału!</p>
  <p ALIGN="JUSTIFY">Sam mówiłeś, że jeszcze za wcześnie, zbyt młodzi-</p>
  <p ALIGN="JUSTIFY">Rozpatrzmy się, czekajmy, nic to nie zaszkodzi,</p>
  <p ALIGN="JUSTIFY">Poznajmy z sobą państwa młodych; będziem zważać;</p>
  <p ALIGN="JUSTIFY">Nie można szczęścia drugich tak na traf narażać.</p>
  <p ALIGN="JUSTIFY">Ostrzegam tylko wcześnie: niech Brat Tadeusza</p>
  <p ALIGN="JUSTIFY">Nie namawia, kochać się w Zosi nie przymusza,</p>
  <p ALIGN="JUSTIFY">Bo serce nie jest sługa, nie zna, co to pany,</p>
  <p ALIGN="JUSTIFY">I nie da się przemocą okuwać w kajdany&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Zaczem Sędzia, powstawszy, odszedł zamyślony;</p>
  <p ALIGN="JUSTIFY">Pan Tadeusz z przeciwnej przybliżył się strony.</p>
  <p ALIGN="JUSTIFY">Udając, że szukanie grzybów tam go zwabia;</p>
  <p ALIGN="JUSTIFY">W tymże kierunku z wolna posuwa się Hrabia.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia podczas Sędziego sporów z Telimeną</p>
  <p ALIGN="JUSTIFY">Stał za drzewami, mocno zdziwiony tą sceną;</p>
  <p ALIGN="JUSTIFY">Dobył z kieszeni papier i ołówek, sprzęty,</p>
  <p ALIGN="JUSTIFY">Które zawsze miał z sobą, i na pień wygięty</p>
  <p ALIGN="JUSTIFY">Rozpiąwszy kartkę, widać, że obraz malował,</p>
  <p ALIGN="JUSTIFY">Mówiąc sam z sobą: &quot;Jakbyś umyślnie grupował:</p>
  <p ALIGN="JUSTIFY">Ten na głazie, ta w trawie, grupa malownicza!</p>
  <p ALIGN="JUSTIFY">Głowy charakterowe! Z kontrastem oblicza&quot;.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podchodził, wstrzymywał się, lornetkę przecierał,</p>
  <p ALIGN="JUSTIFY">Oczy chustką obwiewał i coraz spozierał:</p>
  <p ALIGN="JUSTIFY">&quot;Miałożby to cudowne, śliczne widowisko</p>
  <p ALIGN="JUSTIFY">Zginąć albo zmienić się, gdy podejdę blisko?</p>
  <p ALIGN="JUSTIFY">Ten aksamit traw będzież to mak i botwinie?</p>
  <p ALIGN="JUSTIFY">W nimfie tej czyż obaczę jaką ochmistrzynię?&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Choć Hrabia Telimenę już dawniej widywał</p>
  <p ALIGN="JUSTIFY">W domu Sędziego, w którym dosyć często bywał,</p>
  <p ALIGN="JUSTIFY">Lecz mało ją uważał; zadziwił się zrazu,</p>
  <p ALIGN="JUSTIFY">Rozeznając w niej model swojego obrazu.</p>
  <p ALIGN="JUSTIFY">Miejsca piękność, postawy wdzięk i gust ubrania</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zmieniły ją, zaledwie była do poznania.</p>
  <p ALIGN="JUSTIFY">W oczach świeciły jeszcze niezagasłe gniewy;</p>
  <p ALIGN="JUSTIFY">Twarz ożywiona wiatru świeżemi powiewy,</p>
  <p ALIGN="JUSTIFY">Sporem z Sędzią i nagłym przybyciem młodzieńców,</p>
  <p ALIGN="JUSTIFY">Nabrała mocnych, żywszych niż zwykle rumieńców.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Pani - rzekł Hrabia - racz mej śmiałości
  darować,</p>
  <p ALIGN="JUSTIFY">Przychodzę i przepraszać, i razem dziękować.</p>
  <p ALIGN="JUSTIFY">Przepraszać, że jej kroków śledziłem ukradkiem,</p>
  <p ALIGN="JUSTIFY">I dziękować, że byłem jej dumania świadkiem;</p>
  <p ALIGN="JUSTIFY">Tyle ją obraziłem! Winienem jej tyle!</p>
  <p ALIGN="JUSTIFY">Przerwałem chwilę dumań: winienem ci chwile</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Natchnienia! chwile błogie! potępiaj człowieka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale sztukmistrz twojego przebaczenia czeka!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na wielem się odważył, na więcej odważę!</p>
  <p ALIGN="JUSTIFY">Sądź!&quot; - tu ukląkł i podał swoje peizaże.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena sądziła malowania proby</p>
  <p ALIGN="JUSTIFY">Tonem grzecznej, lecz sztukę znającej osoby;</p>
  <p ALIGN="JUSTIFY">Skąpa w pochwały, lecz nie szczędziła zachętu:</p>
  <p ALIGN="JUSTIFY">&quot;Brawo - rzekła - winszuję, niemało talentu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tylko Pan nie zaniedbuj; szczególniej potrzeba</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szukać pięknej natury! O, szczęśliwe nieba</p>
  <p ALIGN="JUSTIFY">Krajów włoskich! różowe Cezarów ogrody!</p>
  <p ALIGN="JUSTIFY">Wy, klasyczne Tyburu spadające wody</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I straszne Pauzylipu skaliste wydroże!</p>
  <p ALIGN="JUSTIFY">To, Hrabio, kraj malarzów! U nas, żal się Boże!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziecko muz, w Soplicowie oddane na mamki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Umrze pewnie. Mój Hrabio, oprawię to w ramki</p>
  <p ALIGN="JUSTIFY">Albo w album umieszczę do rysunków zbiorku,</p>
  <p ALIGN="JUSTIFY">Które zewsząd skupiałam: mam ich dosyć w biorku&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaczęli więc rozmowę o niebios błękitach,</p>
  <p ALIGN="JUSTIFY">Morskich szumach i wiatrach wonnych, i skał szczytach,</p>
  <p ALIGN="JUSTIFY">Mieszając tu i ówdzie, podróżnych zwyczajem,</p>
  <p ALIGN="JUSTIFY">Śmiech i urąganie się nad ojczystym krajem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A przecież wokoło nich ciągnęły się lasy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Litewskie! tak poważne i tak pełne krasy! -</p>
  <p ALIGN="JUSTIFY">Czeremchy oplatane dzikich chmielów wieńcem,</p>
  <p ALIGN="JUSTIFY">Jarzębiny ze świeżym pasterskim rumieńcem,</p>
  <p ALIGN="JUSTIFY">Leszczyna jak menada z zielonemi berły,</p>
  <p ALIGN="JUSTIFY">Ubranemi, jak w grona, w orzechowe perły;</p>
  <p ALIGN="JUSTIFY">A niżej dziatwa lesna: głóg w objęciu kalin,</p>
  <p ALIGN="JUSTIFY">Ożyna czarne usta tuląca do malin.</p>
  <p ALIGN="JUSTIFY">Drzewa i krzewy liśćmi wzięły się za ręce</p>
  <p ALIGN="JUSTIFY">Jak do tańca stające panny i młodzieńce</p>
  <p ALIGN="JUSTIFY">Wkoło pary małżonków. Stoi pośród grona</p>
  <p ALIGN="JUSTIFY">Para, nad całą leśną gromadą wzniesiona</p>
  <p ALIGN="JUSTIFY">Wysmukłością kibici i barwy powabem:</p>
  <p ALIGN="JUSTIFY">Brzoza biała, kochanka, z małżonkiem swym grabem.</p>
  <p ALIGN="JUSTIFY">A dalej, jakby starce na dzieci i wnuki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Patrzą siedząc w milczeniu: tu sędziwe buki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam matrony topole i mchami brodaty</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dąb, włożywszy pięć wieków na swój kark garbaty,</p>
  <p ALIGN="JUSTIFY">Wspiera się, jak na grobów połamanych słupach,</p>
  <p ALIGN="JUSTIFY">Na dębów, przodków swoich, skamieniałych trupach.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pan Tadeusz kręcił się nudząc niepomału</p>
  <p ALIGN="JUSTIFY">Długą rozmową, w której nie mógł brać udziału;</p>
  <p ALIGN="JUSTIFY">Aż gdy zaczęto sławić cudzoziemskie gaje</p>
  <p ALIGN="JUSTIFY">I wyliczać z kolei wszystkich drzew rodzaje:</p>
  <p ALIGN="JUSTIFY">Pomarańcze, cyprysy, oliwki, migdały,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kaktusy, aloesy, mahonie, sandały,</p>
  <p ALIGN="JUSTIFY">Cytryny, bluszcz, orzechy włoskie, nawet figi,</p>
  <p ALIGN="JUSTIFY">Wysławiając ich kształty, kwiaty i łodygi -</p>
  <p ALIGN="JUSTIFY">Tadeusz nie przestawał dąsać się i zżymać,</p>
  <p ALIGN="JUSTIFY">Na koniec nie mógł dłużej od gniewu wytrzymać.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Był on prostak, lecz umiał czuć wdzięk przyrodzenia</p>
  <p ALIGN="JUSTIFY">I patrząc w las ojczysty rzekł, pełen natchnienia:</p>
  <p ALIGN="JUSTIFY">&quot;Widziałem w botanicznym wileńskim ogrodzie</p>
  <p ALIGN="JUSTIFY">Owe sławione drzewa rosnące na wschodzie</p>
  <p ALIGN="JUSTIFY">I na południu, w owej pięknej włoskiej ziemi;</p>
  <p ALIGN="JUSTIFY">Któreż równać się może z drzewami naszemi?</p>
  <p ALIGN="JUSTIFY">Czy aloes z długiemi jak konduktor pałki?</p>
  <p ALIGN="JUSTIFY">Czy cytryna, karlica z złocistemi gałki,</p>
  <p ALIGN="JUSTIFY">Z liściem lakierowanym, krótka i pękata</p>
  <p ALIGN="JUSTIFY">Jako kobieta mała, brzydka, lecz bogata?</p>
  <p ALIGN="JUSTIFY">Czy zachwalony cyprys, długi, cienki, chudy,</p>
  <p ALIGN="JUSTIFY">Co zdaje się być drzewem nie smutku, lecz nudy?</p>
  <p ALIGN="JUSTIFY">Mówią, że bardzo smutnie wygląda na grobie:</p>
  <p ALIGN="JUSTIFY">Jest to jak lokaj Niemiec we dworskiej żałobie,</p>
  <p ALIGN="JUSTIFY">Nie śmiejący rąk podnieść ani głowy skrzywić,</p>
  <p ALIGN="JUSTIFY">Aby się etykiecie niczem nie sprzeciwić.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czyż nie piękniejsza nasza poczciwa brzezina,</p>
  <p ALIGN="JUSTIFY">Która jako wieśniaczka, kiedy płacze syna,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lub wdowa męża, ręce załamie, roztoczy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po ramionach do ziemi strumienie warkoczy!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niema z żalu, postawą jak wymownie szlocha!</p>
  <p ALIGN="JUSTIFY">Czemuż Pan Hrabia, jeśli w malarstwie się kocha,</p>
  <p ALIGN="JUSTIFY">Nie maluje drzew naszych, pośród których siedzi?</p>
  <p ALIGN="JUSTIFY">Prawdziwie, będą z Pana żartować sąsiedzi,</p>
  <p ALIGN="JUSTIFY">Że mieszkając na żyznej litewskiej równinie,</p>
  <p ALIGN="JUSTIFY">Malujesz tylko jakieś skały i pustynie&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Przyjacielu! - rzekł Hrabia - piękne
  przyrodzenie</p>
  <p ALIGN="JUSTIFY">Jest formą, tłem, materią, a duszą natchnienie,</p>
  <p ALIGN="JUSTIFY">Które na wyobraźni unosi się skrzydłach,</p>
  <p ALIGN="JUSTIFY">Poleruje się gustem, wspiera na prawidłach.</p>
  <p ALIGN="JUSTIFY">Nie dość jest przyrodzenia, nie dosyć zapału,</p>
  <p ALIGN="JUSTIFY">Sztukmistrz musi ulecieć w sfery ideału!</p>
  <p ALIGN="JUSTIFY">Nie wszystko, co jest piękne, wymalować da się!</p>
  <p ALIGN="JUSTIFY">Dowiesz się o tem wszystkim z książek w swoim czasie.</p>
  <p ALIGN="JUSTIFY">Co się tycze malarstwa: do obrazu trzeba</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Punktów widzenia, grupy, ansemblu i nieba,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nieba włoskiego! Stąd też w kunszcie peizażów</p>
  <p ALIGN="JUSTIFY">Włochy były, są, będą, ojczyzną malarzów.</p>
  <p ALIGN="JUSTIFY">Stąd też, oprócz Brejgela, lecz nie Van der Helle,</p>
  <p ALIGN="JUSTIFY">Ale peizażysty (bo są dwaj Brejgele),</p>
  <p ALIGN="JUSTIFY">I oprócz Ruisdala, na całej północy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdzież był peizażysta który pierwszej mocy?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niebios, niebios potrzeba!&quot; </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Nasz malarz Orłowski -</p>
  <p ALIGN="JUSTIFY">Przerwała Telimena - miał gust Soplicowski.</p>
  <p ALIGN="JUSTIFY">(Trzeba wiedzieć, że to jest Sopliców choroba,</p>
  <p ALIGN="JUSTIFY">Że im oprócz Ojczyzny nic się nie podoba).</p>
  <p ALIGN="JUSTIFY">Orłowski, który życie strawił w Peterburku,</p>
  <p ALIGN="JUSTIFY">Sławny malarz (mam jego kilka szkiców w biórku),</p>
  <p ALIGN="JUSTIFY">Mieszkał tuż przy Cesarzu, na dworze, jak w raju,</p>
  <p ALIGN="JUSTIFY">A nie uwierzy Hrabia, jak tęsknił po kraju!</p>
  <p ALIGN="JUSTIFY">Lubił ciągle wspominać swej młodości czasy,</p>
  <p ALIGN="JUSTIFY">Wysławiał wszystko w Polszcze: ziemię, niebo, lasy...&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;I miał rozum! - zawołał Tadeusz z zapałem. -</p>
  <p ALIGN="JUSTIFY">Te Państwa niebo włoskie, jak o niem słyszałem,</p>
  <p ALIGN="JUSTIFY">Błękitne, czyste, wszak to jak zamarzła woda!</p>
  <p ALIGN="JUSTIFY">Czyż nie piękniejsze stokroć wiatr i niepogoda?</p>
  <p ALIGN="JUSTIFY">U nas dość głowę podnieść: ileż to widoków!</p>
  <p ALIGN="JUSTIFY">Ileż scen i obrazów z samej gry obłoków!</p>
  <p ALIGN="JUSTIFY">Bo każda chmura inna: na przykład jesienna</p>
  <p ALIGN="JUSTIFY">Pełźnie jak żółw leniwa, ulewą brzemienna</p>
  <p ALIGN="JUSTIFY">I z nieba aż do ziemi spuszcza długie smugi</p>
  <p ALIGN="JUSTIFY">Jak rozwite warkocze, to są deszczu strugi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chmura z gradem jak balon szybko z wiatrem leci,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Krągła, ciemnobłękitna, w środku żółto świeci,</p>
  <p ALIGN="JUSTIFY">Szum wielki słychać wkoło. Nawet te codzienne,</p>
  <p ALIGN="JUSTIFY">Patrzcie Państwo, te białe chmurki, jak odmienne!</p>
  <p ALIGN="JUSTIFY">Zrazu jak stada dzikich gęsi lub łabędzi,</p>
  <p ALIGN="JUSTIFY">A z tyłu wiatr jak sokoł do kupy je pędzi;</p>
  <p ALIGN="JUSTIFY">Ściskają się, grubieją, rosną, nowe dziwy!</p>
  <p ALIGN="JUSTIFY">Dostają krzywych karków, rozpuszczają grzywy,</p>
  <p ALIGN="JUSTIFY">Wysuwają nóg rzędy i po niebios sklepie</p>
  <p ALIGN="JUSTIFY">Przelatują jak tabun rumaków po stepie:</p>
  <p ALIGN="JUSTIFY">Wszystkie białe jak srebro, zmieszały się - nagle</p>
  <p ALIGN="JUSTIFY">Z ich karków rosną maszty, z grzyw szerokie żagle,</p>
  <p ALIGN="JUSTIFY">Tabun zmienia się w okręt i wspaniale płynie</p>
  <p ALIGN="JUSTIFY">Cicho, z wolna, po niebios błękitnej równinie!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia i Telimena poglądali w górę;</p>
  <p ALIGN="JUSTIFY">Tadeusz jedną ręką pokazał im chmurę,</p>
  <p ALIGN="JUSTIFY">A drugą ścisnął z lekka rączkę Telimeny.</p>
  <p ALIGN="JUSTIFY">Kilka już upłynęło minut cichej sceny;</p>
  <p ALIGN="JUSTIFY">Hrabia rozłożył papier na swym kapeluszu</p>
  <p ALIGN="JUSTIFY">I wydobył ołówek. Wtem przykry dla uszu</p>
  <p ALIGN="JUSTIFY">Odezwał się dzwon dworski i zaraz śród lasu</p>
  <p ALIGN="JUSTIFY">Cichego pełno było krzyku i hałasu.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia kiwnąwszy głową rzekł poważnym tonem:</p>
  <p ALIGN="JUSTIFY">&quot;Tak to na świecie wszystko los zwykł kończyć dzwonem.</p>
  <p ALIGN="JUSTIFY">Rachunki myśli wielkiej, plany wyobraźni,</p>
  <p ALIGN="JUSTIFY">Zabawki niewinności, uciechy przyjaźni,</p>
  <p ALIGN="JUSTIFY">Wylania się serc czułych! - gdy śpiż z dala ryknie,</p>
  <p ALIGN="JUSTIFY">Wszystko miesza się, zrywa, mąci się i niknie!&quot;</p>
  <p ALIGN="JUSTIFY">Tu obróciwszy czuły wzrok ku Telimenie:</p>
  <p ALIGN="JUSTIFY">&quot;Cóż zostaje?&quot; - a ona mu rzekła: &quot;Wspomnienie!&quot;</p>
  <p ALIGN="JUSTIFY">I chcąc Hrabiego nieco ułagodzić smutek,</p>
  <p ALIGN="JUSTIFY">Podała mu urwany kwiatek niezabudek.</p>
  <p ALIGN="JUSTIFY">Hrabia go ucałował i na pierś przyśpilał;</p>
  <p ALIGN="JUSTIFY">Tadeusz z drugiej strony krzak ziela rozchylał,</p>
  <p ALIGN="JUSTIFY">Widząc, że się ku niemu tem zielem przewija</p>
  <p ALIGN="JUSTIFY">Coś białego: była to rączka jak lilija;</p>
  <p ALIGN="JUSTIFY">Pochwycił ją, całował i usty po cichu</p>
  <p ALIGN="JUSTIFY">Utonął w niej jak pszczoła w liliji kielichu;</p>
  <p ALIGN="JUSTIFY">Uczuł na ustach zimno; znalazł klucz i biały</p>
  <p ALIGN="JUSTIFY">Papier w trąbkę zwiniony, był to listek mały;</p>
  <p ALIGN="JUSTIFY">Porwał, schował w kieszenie, nie wie, co klucz znaczy,</p>
  <p ALIGN="JUSTIFY">Lecz mu to owa biała kartka wytłumaczy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dzwon wciąż dzwonił, i echem z głębi cichych lasów</p>
  <p ALIGN="JUSTIFY">Odezwało się tysiąc krzyków i hałasów;</p>
  <p ALIGN="JUSTIFY">Odgłos to był szukania i nawoływania,</p>
  <p ALIGN="JUSTIFY">Hasło zakończonego na dziś grzybobrania.</p>
  <p ALIGN="JUSTIFY">Odgłos nie smutny wcale ani pogrzebowy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak się Hrabiemu zdało, owszem, obiadowy.</p>
  <p ALIGN="JUSTIFY">Dzwon ten, w każde południe krzyczący z poddasza,</p>
  <p ALIGN="JUSTIFY">Gości i czeladź domu na obiad zaprasza:</p>
  <p ALIGN="JUSTIFY">Tak było w dawnych licznych dworach we zwyczaju</p>
  <p ALIGN="JUSTIFY">I zostało się w domu Sędziego. </p>
  <p ALIGN="JUSTIFY">Więc z gaju</p>
  <p ALIGN="JUSTIFY">Wychodziła gromada niosąca krobeczki,</p>
  <p ALIGN="JUSTIFY">Koszyki, uwiązane końcami chusteczki,</p>
  <p ALIGN="JUSTIFY">Pełne grzybów; a panny w jednym ręku niosły,</p>
  <p ALIGN="JUSTIFY">Jako wachlarz zwiniony, b o r o w i k rozrosły,</p>
  <p ALIGN="JUSTIFY">W drugim związane razem, jakby polne kwiatki,</p>
  <p ALIGN="JUSTIFY">O p i e ń k i i rozlicznej barwy s u r o j a d k i:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski miał m u c h o m o r a. Z próżnemi przychodzi</p>
  <p ALIGN="JUSTIFY">Rękami Telimena, z nią panicze młodzi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Goście weszli w porządku i stanęli kołem.</p>
  <p ALIGN="JUSTIFY">Podkomorzy najwyższe brał miejsce za stołem;</p>
  <p ALIGN="JUSTIFY">Z wieku mu i z urzędu ten zaszczyt należy.</p>
  <p ALIGN="JUSTIFY">Idąc kłaniał się starcom, damom i młodzieży;</p>
  <p ALIGN="JUSTIFY">Obok stał Kwestarz; Sędzia tuż przy Bernardynie.</p>
  <p ALIGN="JUSTIFY">Bernardyn zmówił krótki pacierz po łacinie,</p>
  <p ALIGN="JUSTIFY">Podano w kolej wódkę, zaczem wszyscy siedli</p>
  <p ALIGN="JUSTIFY">I chołodziec litewski milczkiem żwawo jedli.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Obiadowano ciszej, niż się zwykle zdarza;</p>
  <p ALIGN="JUSTIFY">Nikt nie gadał pomimo wezwań gospodarza.</p>
  <p ALIGN="JUSTIFY">Strony biorące udział w wielkiej o psów zwadzie</p>
  <p ALIGN="JUSTIFY">Myśliły o jutrzejszej walce i zakładzie;</p>
  <p ALIGN="JUSTIFY">Myśl wielka zwykle usta do milczenia zmusza.</p>
  <p ALIGN="JUSTIFY">Telimena, mówiąca wciąż do Tadeusza,</p>
  <p ALIGN="JUSTIFY">Musiała ku Hrabiemu nieraz się odwrócić,</p>
  <p ALIGN="JUSTIFY">Nawet na Asesora nieraz okiem rzucić:</p>
  <p ALIGN="JUSTIFY">Tak ptasznik patrzy w sidło, kędy szczygły zwabia,</p>
  <p ALIGN="JUSTIFY">I razem w pastkę wróbla. Tadeusz i Hrabia,</p>
  <p ALIGN="JUSTIFY">Obadwa radzi z siebie, obadwa szczęśliwi,</p>
  <p ALIGN="JUSTIFY">Oba pełni nadziei, więc nie gadatliwi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia na kwiatek dumne opuszczał wejrzenie,</p>
  <p ALIGN="JUSTIFY">A Tadeusz ukradkiem spozierał w kieszenie,</p>
  <p ALIGN="JUSTIFY">Czy ów kluczyk nie uciekł; ręką nawet chwytał</p>
  <p ALIGN="JUSTIFY">I kręcił kartkę, której dotąd nie przeczytał.</p>
  <p ALIGN="JUSTIFY">Sędzia Podkomorzemu węgrzyna, szampana</p>
  <p ALIGN="JUSTIFY">Dolewał, służył pilnie, ściskał za kolana,</p>
  <p ALIGN="JUSTIFY">Ale do rozmawiania z nim nie miał ochoty</p>
  <p ALIGN="JUSTIFY">I widać, że czuł jakieś tajemne kłopoty.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przemijały w milczeniu talerze i dania;</p>
  <p ALIGN="JUSTIFY">Przerwał nareszcie nudny tok obiadowania</p>
  <p ALIGN="JUSTIFY">Gość niespodziany, szybko wpadając - gajowy;</p>
  <p ALIGN="JUSTIFY">Nie zważał nawet, że czas właśnie obiadowy,</p>
  <p ALIGN="JUSTIFY">Podbiegł do Pana; widać z postawy i z miny,</p>
  <p ALIGN="JUSTIFY">Że ważnej i niezwykłej jest posłem nowiny.</p>
  <p ALIGN="JUSTIFY">Ku niemu oczy całe zwróciło zebranie;</p>
  <p ALIGN="JUSTIFY">On, odetchnąwszy nieco, rzekł: &quot;Niedźwiedź, Mospanie!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Resztę wszyscy odgadli: że zwierz z m a t e c z n i k
  a</p>
  <p ALIGN="JUSTIFY">Wyszedł, że w Zaniemeńską Puszczę się przemyka,</p>
  <p ALIGN="JUSTIFY">Że go trzeba wnet ścigać, wszyscy wraz uznali,</p>
  <p ALIGN="JUSTIFY">Choć ani się radzili, ani namyślali.</p>
  <p ALIGN="JUSTIFY">Spólną myśl widać było z uciętych wyrazów,</p>
  <p ALIGN="JUSTIFY">Z gestów żywych, z wydanych rozlicznych rozkazów,</p>
  <p ALIGN="JUSTIFY">Które, wychodząc tłumnie, razem z ust tak wielu,</p>
  <p ALIGN="JUSTIFY">Dążyły przecież wszystkie do jednego celu.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Na wieś! - zawołał Sędzia - hej! konno,
  setnika!</p>
  <p ALIGN="JUSTIFY">Jutro na brzask obława, lecz na ochotnika;</p>
  <p ALIGN="JUSTIFY">Kto wystąpi z oszczepem, temu z robocizny</p>
  <p ALIGN="JUSTIFY">Wytrącić dwa szarwarki i pięć dni pańszczyzny&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;W skok - krzyknął Podkomorzy - okulbaczyć
  siwą,</p>
  <p ALIGN="JUSTIFY">Dobiec w cwał do mojego dworu; wziąć co żywo</p>
  <p ALIGN="JUSTIFY">Dwie pjawki, które w całej okolicy słyną:</p>
  <p ALIGN="JUSTIFY">Pies zowie się Sprawnikiem, a suka Strapczyną;</p>
  <p ALIGN="JUSTIFY">Zakneblować im pyski, zawiązać je w miechu</p>
  <p ALIGN="JUSTIFY">I przystawić je tutaj konno dla pośpiechu&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Wańka!&quot; - krzyknął na chłopca Asesor po rusku -</p>
  <p ALIGN="JUSTIFY">Tasak mój Sanguszowski pociągnąć na brusku,</p>
  <p ALIGN="JUSTIFY">Wiesz, tasak, co od Księcia miałem w podarunku;</p>
  <p ALIGN="JUSTIFY">Pas opatrzyć, czy kula jest w każdym ładunku&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Strzelby - krzyknęli wszyscy - mieć na pogotowiu!&quot;</p>
  <p ALIGN="JUSTIFY">Asesor wołał ciągle: &quot;Ołowiu, ołowiu!</p>
  <p ALIGN="JUSTIFY">Formę do kul mam w torbie&quot;. &quot;Do księdza plebana</p>
  <p ALIGN="JUSTIFY">Dać znać - dodał pan Sędzia - żeby jutro z rana</p>
  <p ALIGN="JUSTIFY">Mszę miał w kaplicy lesnej; króciochna oferta</p>
  <p ALIGN="JUSTIFY">Za myśliwych, msza zwykła świętego Huberta&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po wydanych rozkazach nastało milczenie;</p>
  <p ALIGN="JUSTIFY">Każdy dumał i rzucał dokoła wejrzenie,</p>
  <p ALIGN="JUSTIFY">Jak gdyby kogoś szukał; z wolna wszystkich oczy</p>
  <p ALIGN="JUSTIFY">Sędziwa twarz Wojskiego ciągnie i jednoczy:</p>
  <p ALIGN="JUSTIFY">Znak to był, że szukają na przyszłą wyprawę</p>
  <p ALIGN="JUSTIFY">Wodza i że Wojskiemu oddają buławę.</p>
  <p ALIGN="JUSTIFY">Wojski powstał, zrozumiał towarzyszów wolę</p>
  <p ALIGN="JUSTIFY">I uderzywszy ręką poważnie po stole,</p>
  <p ALIGN="JUSTIFY">Pociągnął złocistego z zanadrza łańcuszka,</p>
  <p ALIGN="JUSTIFY">Na którym wisiał gruby zegarek jak gruszka:</p>
  <p ALIGN="JUSTIFY">&quot;Jutro - rzekł - pół do piątej przy lesnej kaplicy</p>
  <p ALIGN="JUSTIFY">Stawią się bracia strzelcy, wiara obławnicy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzekł i ruszył od stołu, za nim szedł gajowy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oni obmyślić mają i urządzić łowy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak wodze gdy na jutro bitwę zapowiedzą,</p>
  <p ALIGN="JUSTIFY">Żołnierze po obozie broń czyszczą i jedzą</p>
  <p ALIGN="JUSTIFY">Lub na płaszczach i siodłach śpią próżni kłopotu,</p>
  <p ALIGN="JUSTIFY">A wodze wśród cichego dumają namiotu.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przerwał się obiad, dzień zszedł na kowaniu koni,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Karmieniu psów, zbieraniu i czyszczeniu broni;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">U wieczerzy zaledwie kto przysiadł do stoła;</p>
  <p ALIGN="JUSTIFY">Nawet strona Kusego z partyją Sokoła</p>
  <p ALIGN="JUSTIFY">Przestała dawnym wielkim zatrudniać się sporem:</p>
  <p ALIGN="JUSTIFY">Pobrawszy się pod ręce Rejent z Asesorem</p>
  <p ALIGN="JUSTIFY">Wyszukują ołowiu. Reszta, spracowana,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szła spać wcześnie, ażeby przebudzić się z rana.</font></p>
  <hr>
  <div align="center"><center><table border="0" cellpadding="0" width="100%">
    <tr>
	
      <td width="33%"><p align="center"><a href="k2"><strong>KSIĘGA DRUGA</strong></a></td>
    <td width="33%"><p align="center"><a href="{{ path('index') }}"><strong>PAN TADEUSZ</strong></a></td>
      <td width="34%"><p align="center"><a href="k4"><strong>KSIĘGA CZWARTA</strong></a></td>
    </tr>
  </table>
  </center></div>
</blockquote>
{% endblock %}