{% extends "MickiewiczTadeuczBundle::layout.html.twig" %}
{% block title %}
    <title>Księga Piąta | {{ parent() }}</title>
{%endblock%}
{%block header %}
    <h1>{{ parent() }} - Księga Piąta</h1>
{%endblock%}
{%block menu%}
	<ul>
		<li class="list-group-item"><a href="k1">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2">Księga druga</a></li>
		<li class="list-group-item"><a href="k3">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12">Księga dwunasta</a></li>
    </ul>
{%endblock%}
{% block content %}
<blockquote>
<hr>
  <font SIZE="4"><h1 ALIGN="center">KSIĘGA PIĄTA<br>
  </font><font size="5">KŁÓTNIA</font></h1>
  <font SIZE="4"><h2 ALIGN="center">Treść:</font></h2>
  <font SIZE="4"><h2 ALIGN="center">Plany myśliwskie Telimeny - Ogrodniczka wybiera się na
  wielki świat i słucha nauk opiekunki - Strzelcy wracają - Wielkie zadziwienie Tadeusza
  - Spotkanie się powtórne w Świątyni dumania i zgoda, ułatwiona za pośrednictwem
  mrówek - U stołu wytacza się rzecz o łowach - Powieść Wojskiego o Rejtanie i
  księciu Denassów, przerwana - Zagajenie układów między stronami, także przerwane -
  Zjawisko z kluczem - Kłótnia - Hrabia z Gerwazym odbywają radę wojenną.</font></h2>
  <hr width="50%" size="1">
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski, chlubnie skończywszy łowy, wraca z boru,</p>
  <p ALIGN="JUSTIFY">A Telimena w głębi samotnego dworu</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaczyna polowanie. Wprawdzie nieruchoma</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Siedzi z założonemi na piersiach rękoma,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz myślą goni źwierzów dwóch; szuka sposobu,</p>
  <p ALIGN="JUSTIFY">Jak by razem obsaczyć i ułowić obu:</p>
  <p ALIGN="JUSTIFY">Hrabię i Tadeusza. Hrabia, panicz młody,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wielkiego domu dziedzic, powabnej urody;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Już trochę zakochany! Cóż? może się zmienić!</p>
  <p ALIGN="JUSTIFY">Potem, czy szczerze kocha? czy się zechce żenić?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z kobietą kilku laty starszą! niebogatą!</p>
  <p ALIGN="JUSTIFY">Czy mu krewni pozwolą? co świat powie na to?</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena, tak myśląc, z sofy się podniosła</p>
  <p ALIGN="JUSTIFY">I stanęła na palcach; rzekłbyś, iż podrosła;</p>
  <p ALIGN="JUSTIFY">Odkryła nieco piersi, wygięła się bokiem</p>
  <p ALIGN="JUSTIFY">I sama siebie pilnym obejrzała okiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I znowu zapytała o radę zwierciadła;</p>
  <p ALIGN="JUSTIFY">Po chwili wzrok spuściła, westchnęła i siadła.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia pan! zmienni w gustach są ludzie majętni!</p>
  <p ALIGN="JUSTIFY">Hrabia blondyn! blondyni nie są zbyt namiętni!</p>
  <p ALIGN="JUSTIFY">A Tadeusz? prostaczek! poczciwy chłopczyna!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Prawie dziecko! raz pierwszy kochać się zaczyna!</p>
  <p ALIGN="JUSTIFY">Pilnowany, niełacno zerwie pierwsze związki,</p>
  <p ALIGN="JUSTIFY">Przy tem dla Telimeny ma już obowiązki,</p>
  <p ALIGN="JUSTIFY">Mężczyźni, póki młodzi, chociaż w myślach zmienni,</p>
  <p ALIGN="JUSTIFY">W uczuciach są od dziadów stalsi, bo sumienni.</p>
  <p ALIGN="JUSTIFY">Długo serce młodzieńca proste i dziewicze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chowa wdzięczność za pierwsze miłości słodycze!</p>
  <p ALIGN="JUSTIFY">Ono rozkosz i wita, i żegna z weselem,</p>
  <p ALIGN="JUSTIFY">Jak skromną ucztę, którą dzielim z przyjacielem.</p>
  <p ALIGN="JUSTIFY">Tylko stary pjanica, gdy już spali trzewa,</p>
  <p ALIGN="JUSTIFY">Brzydzi się trunkiem, którym nazbyt się zalewa.</p>
  <p ALIGN="JUSTIFY">Wszystko to Telimena dokładnie wiedziała,</p>
  <p ALIGN="JUSTIFY">Bo i rozum, i wielkie doświadczenie miała.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz co powiedzą ludzie? Można im zejść z oczu,</p>
  <p ALIGN="JUSTIFY">W inne strony wyjechać, mieszkać na uboczu</p>
  <p ALIGN="JUSTIFY">Lub, co lepsza, wynieść się całkiem z okolicy,</p>
  <p ALIGN="JUSTIFY">Na przykład zrobić małą podróż do stolicy,</p>
  <p ALIGN="JUSTIFY">Młodego chłopca na świat wielki wyprowadzić,</p>
  <p ALIGN="JUSTIFY">Kroki jego kierować, pomagać mu, radzić,</p>
  <p ALIGN="JUSTIFY">Serce mu kształcić, mieć w nim przyjaciela, brata!</p>
  <p ALIGN="JUSTIFY">Nareszcie - użyć świata, póki służą lata!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak myśląc, po alkowie śmiało i wesoło</p>
  <p ALIGN="JUSTIFY">Przeszła się kilka razy - znów spuściła czoło.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  </font><p ALIGN="JUSTIFY"><font SIZE="4">Warto by też pomyślić o Hrabiego losie -</p>
  <p ALIGN="JUSTIFY">Czyby się nie udało podsunąć mu Zosię?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niebogata, lecz za to urodzeniem równa,</p>
  <p ALIGN="JUSTIFY">Z domu senatorskiego, jest dygnitarzówna.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jeżeliby do skutku przyszło ożenienie,</p>
  <p ALIGN="JUSTIFY">Telimena w ich domu miałaby schronienie</p>
  <p ALIGN="JUSTIFY">Na przyszłość; krewna Zosi i Hrabiego swatka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dla młodego małżeństwa byłaby jak matka.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po tej z sobą odbytej, stanowczej naradzie</p>
  <p ALIGN="JUSTIFY">Woła przez okno Zosię bawiącą się w sadzie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zosia w porannym stroju i z głową odkrytą</p>
  <p ALIGN="JUSTIFY">Stała, trzymając w ręku podniesione sito;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Do nóg jej biegło ptastwo; stąd kury szurpate</p>
  <p ALIGN="JUSTIFY">Toczą się kłębkiem, stamtąd kogutki czubate,</p>
  <p ALIGN="JUSTIFY">Wstrząsając koralowe na głowach szyszaki</p>
  <p ALIGN="JUSTIFY">I wiosłując skrzydłami przez bruzdy i krzaki,</p>
  <p ALIGN="JUSTIFY">Szeroko wyciągają ostrożaste pięty;</p>
  <p ALIGN="JUSTIFY">Za nimi z wolna indyk sunie się odęty,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sarkając na trzpiotalstwo swej krzykliwej żony;</p>
  <p ALIGN="JUSTIFY">Owdzie pawie jak tratwy długimi ogony</p>
  <p ALIGN="JUSTIFY">Sterują się po łące, a gdzieniegdzie z góry</p>
  <p ALIGN="JUSTIFY">Upada jak kiść śniegu gołąb srebrnopióry.</p>
  <p ALIGN="JUSTIFY">W pośrodku zielonego okręgu murawy </p>
  <p ALIGN="JUSTIFY">Ściska się okrąg ptastwa krzykliwy, ruchawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Opasany gołębi sznurem na kształt wstęgi</p>
  <p ALIGN="JUSTIFY">Białej, środkiem pstrokaty w gwiazdy, w cętki, w pręgi</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tu dzioby bursztynowe, tam czubki z korali</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wznoszą się z gęstwi pierza jak ryby spod fali.</p>
  <p ALIGN="JUSTIFY">Wysuwają się szyje i w ruchach łagodnych</p>
  <p ALIGN="JUSTIFY">Chwieją się ciągle na kształt tulipanów wodnych;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tysiące oczu jak gwiazd błyskają ku Zosi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ona w środku wysoko nad ptastwem się wznosi,</p>
  <p ALIGN="JUSTIFY">Sama biała i w długą bieliznę ubrana,</p>
  <p ALIGN="JUSTIFY">Kręci się jak bijąca śród kwiatów fontanna;</p>
  <p ALIGN="JUSTIFY">Czerpie z sita i sypie na skrzydła i głowy</p>
  <p ALIGN="JUSTIFY">Ręką jak perły białą gęsty grad perłowy</p>
  <p ALIGN="JUSTIFY">Krup jęczmiennych: to ziarno, godne pańskich stołów,</p>
  <p ALIGN="JUSTIFY">Robi się dla zaprawy litewskich rosołów;</p>
  <p ALIGN="JUSTIFY">Zosia je wykradając z szafek ochmistrzyni</p>
  <p ALIGN="JUSTIFY">Dla swego drobiu, szkodę w gospodarstwie czyni.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Usłyszała wołanie: &quot;Zosiu!&quot; To głos cioci!</p>
  <p ALIGN="JUSTIFY">Sypnęła razem ptastwu ostatek łakoci,</p>
  <p ALIGN="JUSTIFY">A sama, kręcąc sito jako tanecznica</p>
  <p ALIGN="JUSTIFY">Bębenek i w takt bijąc, swawolna dziewica</p>
  <p ALIGN="JUSTIFY">Jęła skakać przez pawie, gołębie i kury:</p>
  <p ALIGN="JUSTIFY">Zmieszane ptastwo tłumnie furknęło do góry.</p>
  <p ALIGN="JUSTIFY">Zosia, stopami ledwie dotykając ziemi,</p>
  <p ALIGN="JUSTIFY">Zdawała się najwyżej bujać między niemi;</p>
  <p ALIGN="JUSTIFY">Przodem gołębie białe, które w biegu płoszy,</p>
  <p ALIGN="JUSTIFY">Leciały jak przed wozem bogini rozkoszy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zosia przez okno z krzykiem do alkowy wpadła</p>
  <p ALIGN="JUSTIFY">I na kolanach ciotki zadyszana siadła;</p>
  <p ALIGN="JUSTIFY">Telimena, całując i głaszcząc pod brodę,</p>
  <p ALIGN="JUSTIFY">Z radością zważa dziecka żywość i urodę</p>
  <p ALIGN="JUSTIFY">(Bo prawdziwie kochała swą wychowanicę).</p>
  <p ALIGN="JUSTIFY">Ale znowu poważnie nastroiła lice,</p>
  <p ALIGN="JUSTIFY">Wstała i przechodząc się wszerz i wzdłuż alkowy,</p>
  <p ALIGN="JUSTIFY">Dzierżąc palec przy ustach, temi rzekła słowy:</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Kochana Zosiu, już też całkiem zapominasz</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I na stan, i na wiek twój; wszak to dziś zaczynasz</p>
  <p ALIGN="JUSTIFY">Rok czternasty, czas rzucić indyki i kurki;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Fi! to godna zabawka dygnitarskiej córki!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I z umurzaną dziatwą chłopską już do woli</p>
  <p ALIGN="JUSTIFY">Napieściłaś się! Zosiu! patrząc, serce boli;</p>
  <p ALIGN="JUSTIFY">Opaliłaś okropnie płeć, czysta Cyganka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A chodzisz i ruszasz się jak parafijanka.</p>
  <p ALIGN="JUSTIFY">Już ja temu wszystkiemu na przyszłość zaradzę;</p>
  <p ALIGN="JUSTIFY">Od dziś zacznę, dziś ciebie na świat wyprowadzę,</p>
  <p ALIGN="JUSTIFY">Do salonu, do gości - gości mamy siła,</p>
  <p ALIGN="JUSTIFY">Patrzajżeż, ażebyś mnie wstydu nie zrobiła&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zosia skoczyła z miejsca i klasnęła w dłonie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I ciotce zawisnąwszy oburącz na łonie,</p>
  <p ALIGN="JUSTIFY">Płakała i śmiała się na przemian z radości.</p>
  <p ALIGN="JUSTIFY">&quot;Ach, Ciociu! już tak dawno nie widziałam gości!</p>
  <p ALIGN="JUSTIFY">Od czasu, jak tu żyję z kury i indyki,</p>
  <p ALIGN="JUSTIFY">Jeden gość, co widziałam, to był gołąb dziki;</p>
  <p ALIGN="JUSTIFY">Już mi troszeczkę nudno tak siedzieć w alkowie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pan Sędzia nawet mówi, że to źle na zdrowie&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Sędzia - przerwała ciotka - ciągle mi
  dokuczał,</p>
  <p ALIGN="JUSTIFY">Żeby cię na świat wywieść, ciągle pod nos mruczał,</p>
  <p ALIGN="JUSTIFY">Że już jesteś dorosłą; sam nie wie, co plecie,</p>
  <p ALIGN="JUSTIFY">Dziaduś, nigdy na wielkim niebywały świecie.</p>
  <p ALIGN="JUSTIFY">Ja wiem lepiej, jak długo trzeba się sposobić</p>
  <p ALIGN="JUSTIFY">Panience, by wyszedłszy na świat, efekt zrobić.</p>
  <p ALIGN="JUSTIFY">Wiedz, Zosiu, że kto rośnie na widoku ludzi,</p>
  <p ALIGN="JUSTIFY">Choć piękny, choć rozumny, efektów nie wzbudzi,</p>
  <p ALIGN="JUSTIFY">Gdy go wszyscy przywykną widzieć od maleńka.</p>
  <p ALIGN="JUSTIFY">Lecz niechaj ukształcona, dorosła panienka</p>
  <p ALIGN="JUSTIFY">Nagle ni stąd, ni zowąd przed światem zabłyśnie,</p>
  <p ALIGN="JUSTIFY">Wtenczas każdy się do niej przez ciekawość ciśnie,</p>
  <p ALIGN="JUSTIFY">Wszystkie jej ruchy, rzuty oczu jej uważa,</p>
  <p ALIGN="JUSTIFY">Słowa jej podsłuchiwa i drugim powtarza;</p>
  <p ALIGN="JUSTIFY">A kiedy wejdzie w modę raz młoda osoba,</p>
  <p ALIGN="JUSTIFY">Każdy ją chwalić musi, choć i nie podoba.</p>
  <p ALIGN="JUSTIFY">Znaleźć się, spodziewam się, że umiesz; w stolicy</p>
  <p ALIGN="JUSTIFY">Urosłaś. Choć dwa lata mieszkasz w okolicy,</p>
  <p ALIGN="JUSTIFY">Nie zapomniałaś jeszcze całkiem Petersburka.</p>
  <p ALIGN="JUSTIFY">No, Zosio, toaletę rób, dostań tam z biórka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nagotowane znajdziesz wszystko do ubrania.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Spiesz się, bo lada chwila wrócą z polowania&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wezwano pokojowę i służącą dziewkę;</p>
  <p ALIGN="JUSTIFY">W naczynie srebrne wody wylano konewkę;</p>
  <p ALIGN="JUSTIFY">Zosia, jak wróbel w piasku, trzepioce się, myje</p>
  <p ALIGN="JUSTIFY">Z pomocą sługi ręce, oblicze i szyję.</p>
  <p ALIGN="JUSTIFY">Telimena otwiera petersburskie składy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dobywa flaszki perfum, słoiki pomady,</p>
  <p ALIGN="JUSTIFY">Pokrapia Zosię wkoło wyborną perfumą</p>
  <p ALIGN="JUSTIFY">(Woń napełniła izbę), włos namaszcza gumą.</p>
  <p ALIGN="JUSTIFY">Zosia kładnie pończoszki białe, ażurowe,</p>
  <p ALIGN="JUSTIFY">I trzewiki warszawskie białe, atłasowe;</p>
  <p ALIGN="JUSTIFY">Tymczasem pokojowa sznurowała stanik,</p>
  <p ALIGN="JUSTIFY">Potem rzuciła na gors pannie pudermanik;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaczęto przypieczone zbierać papiloty,</p>
  <p ALIGN="JUSTIFY">Pukle, że nazbyt krótkie, uwito w dwa sploty,</p>
  <p ALIGN="JUSTIFY">Zostawując na czole i skroniach włos gładki;</p>
  <p ALIGN="JUSTIFY">Pokojowa zaś świeżo zebrane bławatki</p>
  <p ALIGN="JUSTIFY">Uwiązawszy w plecionkę daje Telimenie;</p>
  <p ALIGN="JUSTIFY">Ta ją do głowy Zosi przyszpila uczenie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z prawej strony na lewo: kwiat od bladych włosów</p>
  <p ALIGN="JUSTIFY">Odbijał bardzo pięknie, jak od zboża kłosów!</p>
  <p ALIGN="JUSTIFY">Zdjęto puderman, całe ubranie gotowe.</p>
  <p ALIGN="JUSTIFY">Zosia białą sukienkę wrzuciła przez głowę,</p>
  <p ALIGN="JUSTIFY">Chusteczkę batystową białą w ręku zwija</p>
  <p ALIGN="JUSTIFY">I tak cała wygląda biała jak lilija.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Poprawiwszy raz jeszcze i włosów, i stroju,</p>
  <p ALIGN="JUSTIFY">Kazano jej wzdłuż i wszerz przejść się po pokoju;</p>
  <p ALIGN="JUSTIFY">Telimena uważa znawczyni oczyma,</p>
  <p ALIGN="JUSTIFY">Musztruje siostrzenicę, gniewa się i zżyma;</p>
  <p ALIGN="JUSTIFY">Aż na dygnienie Zosi krzyknęła z rozpaczy:</p>
  <p ALIGN="JUSTIFY">&quot;Ja nieszczęśliwa! Zosiu, widzisz, co to znaczy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Żyć z gęśmi, z pastuchami! Tak nogi rozszerzasz,</p>
  <p ALIGN="JUSTIFY">Jak chłopiec, okiem w prawo i w lewo uderzasz,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czysta rozwódka! - Dygnij, patrz, jaka niezwinna!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Ach, Ciociu! - rzekła smutnie Zosia - cóż ja
  winna?</p>
  <p ALIGN="JUSTIFY">Ciotka mnie zamykała; nie było z kim tańczyć,</p>
  <p ALIGN="JUSTIFY">Lubiłam z nudy ptastwo paść i dzieci niańczyć;</p>
  <p ALIGN="JUSTIFY">Ale poczekaj, Ciociu, niech no się pobawię</p>
  <p ALIGN="JUSTIFY">Trochę z ludźmi, obaczysz, jak się ja poprawię&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Już - rzekła ciotka - z dwojga złego lepiej z
  ptastwem</p>
  <p ALIGN="JUSTIFY">Niż z tem, co u nas dotąd gościło, plugastwem;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przypomnij tylko sobie, kto tu u nas bywał:</p>
  <p ALIGN="JUSTIFY">Pleban, co pacierz mruczał lub w warcaby grywał,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I palestra z fajkami! To mi kawalery!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nabrałabyś się od nich pięknej manijery.</p>
  <p ALIGN="JUSTIFY">Teraz to pokazać się jest przynajmniej komu,</p>
  <p ALIGN="JUSTIFY">Mamy przecież uczciwe towarzystwo w domu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Uważaj dobrze, Zosiu, jest tu Hrabia młody,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pan, dobrze wychowany, krewny Wojewody,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pamiętaj być mu grzeczną...&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Słychać rżenie koni!</p>
  <p ALIGN="JUSTIFY">I gwar myśliwców; już są pod bramą: to oni!</p>
  <p ALIGN="JUSTIFY">Wziąwszy Zosię pod rękę, pobiegła do sali.</p>
  <p ALIGN="JUSTIFY">Myśliwi na pokoje jeszcze nie wchadzali,</p>
  <p ALIGN="JUSTIFY">Musieli po komnatach odmieniać swą odzież,</p>
  <p ALIGN="JUSTIFY">Nie chcąc wniść do dam w kurtkach. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pierwsza wpadła młodzież,</p>
  <p ALIGN="JUSTIFY">Pan Tadeusz i Hrabia, co żywo przebrani.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena sprawuje obowiązki pani,</p>
  <p ALIGN="JUSTIFY">Wita wchodzących, sadza, rozmową zabawia</p>
  <p ALIGN="JUSTIFY">I siostrzenicę wszystkim z kolei przedstawia:</p>
  <p ALIGN="JUSTIFY">Naprzód Tadeuszowi, jako krewną bliską;</p>
  <p ALIGN="JUSTIFY">Zosia grzecznie dygnęła, on skłonił się nisko,</p>
  <p ALIGN="JUSTIFY">Chciał coś do niej przemówić, już usta otworzył,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale spójrzawszy w oczy Zosi, tak się strwożył,</p>
  <p ALIGN="JUSTIFY">Że stojąc niemy przed nią, to płonął, to bladnął;</p>
  <p ALIGN="JUSTIFY">Co było w jego sercu, on sam nie odgadnął.</p>
  <p ALIGN="JUSTIFY">Uczuł się nieszczęśliwym bardzo - poznał Zosię!</p>
  <p ALIGN="JUSTIFY">Po wzroście i po włosach światłych, i po głosie;</p>
  <p ALIGN="JUSTIFY">Tę kibić i tę główkę widział na parkanie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ten wdzięczny głos zbudził go dziś na polowanie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Aż Wojski Tadeusza wyrwał z zamięszania;</p>
  <p ALIGN="JUSTIFY">Widząc, że blednie i że na nogach się słania,</p>
  <p ALIGN="JUSTIFY">Radził mu odejść do swej izby dla spoczynku;</p>
  <p ALIGN="JUSTIFY">Tadeusz stanął w kącie, wsparł się na kominku,</p>
  <p ALIGN="JUSTIFY">Nic nie mówiąc - szerokie, obłędne źrenice</p>
  <p ALIGN="JUSTIFY">Obracał to na ciotkę, to na siostrzenicę.</p>
  <p ALIGN="JUSTIFY">Dostrzegła Telimena, iż pierwsze spojrzenie</p>
  <p ALIGN="JUSTIFY">Zosi tak wielkie na nim zrobiło wrażenie;</p>
  <p ALIGN="JUSTIFY">Nie odgadła wszystkiego, przecież pomieszana</p>
  <p ALIGN="JUSTIFY">Bawi gości, a z oczu nie spuszcza młodziana.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wreszcie czas upatrzywszy ku niemu podbiega:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy zdrów? dlaczego smutny? pyta się, nalega,</p>
  <p ALIGN="JUSTIFY">Napomyka o Zosi, zaczyna z nim żarty;</p>
  <p ALIGN="JUSTIFY">Tadeusz nieruchomy, na łokciu oparty,</p>
  <p ALIGN="JUSTIFY">Nic nie gadając, marszczył brwi i usta krzywił:</p>
  <p ALIGN="JUSTIFY">Tym bardziej Telimenę pomieszał i ździwił</p>
  <p ALIGN="JUSTIFY">Zmieniła więc natychmiast twarz i ton rozmowy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Powstała zagniewana i ostremi słowy</p>
  <p ALIGN="JUSTIFY">Poczęła nań przymówki sypać i wyrzuty;</p>
  <p ALIGN="JUSTIFY">Porwał się i Tadeusz jak żądłem ukłuty;</p>
  <p ALIGN="JUSTIFY">Spojrzał krzywo, nie mówiąc ani słowa splunął,</p>
  <p ALIGN="JUSTIFY">Krzesło nogą odepchnął i z pokoju runął,</p>
  <p ALIGN="JUSTIFY">Trzasnąwszy drzwi za sobą. </p>
  <p ALIGN="JUSTIFY">Szczęściem, że tej sceny</p>
  <p ALIGN="JUSTIFY">Nikt z gości nie uważał oprócz Telimeny.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyleciawszy przez bramę, biegł prosto na pole;</p>
  <p ALIGN="JUSTIFY">Jak szczupak, gdy mu oścień skróś piersi przekole,</p>
  <p ALIGN="JUSTIFY">Pluska się i nurtuje, myśląc, że uciecze,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale wszędzie żelazo i sznur z sobą wlecze:</p>
  <p ALIGN="JUSTIFY">Tak i Tadeusz ciągnął za sobą zgryzoty,</p>
  <p ALIGN="JUSTIFY">Suwając się przez rowy i skacząc przez płoty,</p>
  <p ALIGN="JUSTIFY">Bez celu i bez drogi; aż niemało czasu</p>
  <p ALIGN="JUSTIFY">Nabłąkawszy się, w końcu wszedł w głębinę lasu</p>
  <p ALIGN="JUSTIFY">I trafił, czy umyślnie, czyli też przypadkiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na wzgórek, co był wczora szczęścia jego świadkiem,</p>
  <p ALIGN="JUSTIFY">Gdzie dostał ów bilecik, zadatek kochania,</p>
  <p ALIGN="JUSTIFY">Miejsce, jak wiemy, zwane Świątynią dumania.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy okiem wkoło rzuca, postrzega: to ona!</p>
  <p ALIGN="JUSTIFY">Telimena, samotna, w myślach pogrążona,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Od wczorajszej postacią i strojem odmienna,</p>
  <p ALIGN="JUSTIFY">W bieliźnie, na kamieniu, sama jak kamienna;</p>
  <p ALIGN="JUSTIFY">Twarz schyloną w otwarte utuliła dłonie,</p>
  <p ALIGN="JUSTIFY">Choć nie słyszysz szlochania, znać, że we łzach tonie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Daremnie broniło się serce Tadeusza:</p>
  <p ALIGN="JUSTIFY">Ulitował się, uczuł, że go żal porusza,</p>
  <p ALIGN="JUSTIFY">Długo poglądał niemy, ukryty za drzewem,</p>
  <p ALIGN="JUSTIFY">Na koniec westchnął i rzekł sam do siebie z gniewem:</p>
  <p ALIGN="JUSTIFY">&quot;Głupi! cóż ona winna, że się ja pomylił!&quot;</p>
  <p ALIGN="JUSTIFY">Więc z wolna głowę ku niej zza drzewa wychylił,</p>
  <p ALIGN="JUSTIFY">Gdy nagle Telimena zrywa się z siedzenia,</p>
  <p ALIGN="JUSTIFY">Rzuca się w prawo, w lewo, skacze skróś strumienia,</p>
  <p ALIGN="JUSTIFY">Rozkrzyżowana, z włosem rozpuszczonym, blada,</p>
  <p ALIGN="JUSTIFY">Pędzi w las, podskakuje, przyklęka, upada</p>
  <p ALIGN="JUSTIFY">I nie mogąc już powstać, kręci się po darni.</p>
  <p ALIGN="JUSTIFY">Widać z jej ruchów, w jakiej strasznej jest męczarni;</p>
  <p ALIGN="JUSTIFY">Chwyta się za pierś, szyję, za stopy, kolana.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Skoczył Tadeusz, myśląc, że jest pomieszana</p>
  <p ALIGN="JUSTIFY">Lub ma wielką chorobę. Lecz z innej przyczyny</p>
  <p ALIGN="JUSTIFY">Pochodziły te ruchy. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">U bliskiej brzeziny</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Było wielkie mrowisko. Owad gospodarny</p>
  <p ALIGN="JUSTIFY">Snuł się wkoło po trawie, ruchawy i czarny;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie wiedzieć, czy z potrzeby, czy z upodobania</p>
  <p ALIGN="JUSTIFY">Lubił szczególnie zwiedzać Świątynię dumania;</p>
  <p ALIGN="JUSTIFY">Od stołecznego wzgórka aż po źródła brzegi</p>
  <p ALIGN="JUSTIFY">Wydeptał drogę, którą wiodł swoje szeregi.</p>
  <p ALIGN="JUSTIFY">Nieszczęściem, Telimena siedziała śród drożki;</p>
  <p ALIGN="JUSTIFY">Mrówki znęcone blaskiem bieluchnej pończoszki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wbiegły, gęsto zaczęły łaskotać i kąsać,</p>
  <p ALIGN="JUSTIFY">Telimena musiała uciekać, otrząsać,</p>
  <p ALIGN="JUSTIFY">Na koniec na murawie siąść i owad łowić.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie mógł jej swej pomocy Tadeusz odmowić;</p>
  <p ALIGN="JUSTIFY">Oczyszczając sukienkę, aż do nóg się zniżył,</p>
  <p ALIGN="JUSTIFY">Usta trafem ku skroniom Telimeny zbliżył -</p>
  <p ALIGN="JUSTIFY">W tak przyjaźnej postawie, choć nic nie mówili</p>
  <p ALIGN="JUSTIFY">O rannych kłótniach swoich, przecież się zgodzili;</p>
  <p ALIGN="JUSTIFY">I nie wiedzieć, jak długo trwałaby rozmowa,</p>
  <p ALIGN="JUSTIFY">Gdyby ich nie przebudził dzwonek z Soplicowa -</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hasło wieczerzy. Pora powracać do domu,</p>
  <p ALIGN="JUSTIFY">Zwłaszcza że słychać było opodal trzask łomu.</p>
  <p ALIGN="JUSTIFY">Może szukają? razem wracać nie wypada;</p>
  <p ALIGN="JUSTIFY">Więc Telimena w prawo pod ogród się skrada,</p>
  <p ALIGN="JUSTIFY">A Tadeusz na lewo biegł do wielkiej drogi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oboje w tym odwrocie mieli nieco trwogi:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimenie zdało się, że raz spoza krzaka</p>
  <p ALIGN="JUSTIFY">Błysła zakapturzona, chuda twarz Robaka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz widział dobrze, jak mu raz i drugi</p>
  <p ALIGN="JUSTIFY">Pokazał się na lewo cień biały i długi.</p>
  <p ALIGN="JUSTIFY">Co to było, nie wiedział, ale miał przeczucie,</p>
  <p ALIGN="JUSTIFY">Że to był Hrabia w długim, angielskim surducie.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Wieczerzano w zamczysku. Uparty Protazy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie dbając na wyraźne Sędziego zakazy,</p>
  <p ALIGN="JUSTIFY">W niebytność państwa znowu do zamku szturmował</p>
  <p ALIGN="JUSTIFY">I kredens doń (jak mówi) zaintromitował.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Goście weszli w porządku i stanęli kołem;</p>
  <p ALIGN="JUSTIFY">Podkomorzy najwyższe brał miejsce za stołem;</p>
  <p ALIGN="JUSTIFY">Z wieku mu i z urzędu ten zaszczyt należy.</p>
  <p ALIGN="JUSTIFY">Idąc kłaniał się damom, starcom i młodzieży.</p>
  <p ALIGN="JUSTIFY">Kwestarz nie był u stołu; miejsce Bernardyna</p>
  <p ALIGN="JUSTIFY">Po prawej stronie męża ma Podkomorzyna.</p>
  <p ALIGN="JUSTIFY">Sędzia, kiedy już gości jak trzeba ustawił,</p>
  <p ALIGN="JUSTIFY">Żegnając po łacinie, stół pobłogosławił;</p>
  <p ALIGN="JUSTIFY">Mężczyznom dano wódkę; za czym wszyscy siedli</p>
  <p ALIGN="JUSTIFY">I chłodnik zabielany milcząc żwawo jedli.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po chłodniku szły raki, kurczęta, szparagi,</p>
  <p ALIGN="JUSTIFY">W towarzystwie kielichów węgrzyna, malagi;</p>
  <p ALIGN="JUSTIFY">Jedzą, piją, a milczą wszyscy. Nigdy pono,</p>
  <p ALIGN="JUSTIFY">Od czasu jako mury zamku podźwigniono,</p>
  <p ALIGN="JUSTIFY">Który uraczał hojnie tylu szlachty bratów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tyle wesołych słyszał i odbił wiwatów,</p>
  <p ALIGN="JUSTIFY">Nie pamiętano takiej posępnej wieczerzy;</p>
  <p ALIGN="JUSTIFY">Tylko pukanie korków i brzęki talerzy</p>
  <p ALIGN="JUSTIFY">Odbijała zamkowa sień wielka i pusta:</p>
  <p ALIGN="JUSTIFY">Rzekłbyś, iż zły duch gościom zasznurował usta.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mnogie były powody milczenia: Myśliwi</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Powrócili z ostępu dosyć gadatliwi;</p>
  <p ALIGN="JUSTIFY">Lecz gdy zapał ochłonął, myśląc nad obławą,</p>
  <p ALIGN="JUSTIFY">Postrzegają, że wyszli z niej nie z wielką sławą:</p>
  <p ALIGN="JUSTIFY">Trzebaż było, ażeby jeden kaptur popi,</p>
  <p ALIGN="JUSTIFY">Wyrwawszy się Bóg wie skąd, jak Filip z konopi,</p>
  <p ALIGN="JUSTIFY">Przepisał wszystkich strzelców powiatu? O wstydzie!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cóż o tem będą gadać w Oszmianie i Lidzie,</p>
  <p ALIGN="JUSTIFY">Które od wieków walczą z tutejszym powiatem</p>
  <p ALIGN="JUSTIFY">O pierwszeństwo w strzelectwie; myślili więc nad tem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaś Asesor i Rejent, prócz wspólnych niechęci,</p>
  <p ALIGN="JUSTIFY">Świeżą hańbę swych chartów mieli na pamięci.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W oczach im stoi niecny kot, skoki wyciąga</p>
  <p ALIGN="JUSTIFY">I omykiem spod gaju kiwając, urąga,</p>
  <p ALIGN="JUSTIFY">I tym omykiem ćwiczy po sercach jak biczem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Siedzieli z pochylonem ku misie obliczem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Asesor nowe jeszcze miał powody żalów,</p>
  <p ALIGN="JUSTIFY">Patrząc na Telimenę i na swych rywalów.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Do Tadeusza siedzi Telimena bokiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pomieszana, zaledwie śmie nań rzucić okiem.</p>
  <p ALIGN="JUSTIFY">Chciała zasępionego Hrabiego zabawić,</p>
  <p ALIGN="JUSTIFY">Wyzwać w dłuższą rozmowę, w lepszy humor wprawić,</p>
  <p ALIGN="JUSTIFY">Bo Hrabia dziwnie kwaśny powrócił z przechadzki,</p>
  <p ALIGN="JUSTIFY">A raczej, jako myślił Tadeusz, z zasadzki;</p>
  <p ALIGN="JUSTIFY">Słuchając Telimeny, czoło podniosł hardo,</p>
  <p ALIGN="JUSTIFY">Brwi zmarszczył, spójrzał na nią ledwie nie z pogardą;</p>
  <p ALIGN="JUSTIFY">Potem przysiadł się, jak mógł najbliżej, do Zosi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nalewa jej do szklanki, talerze przynosi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Prawi tysiąc grzeczności, kłania się, uśmi?cha,</p>
  <p ALIGN="JUSTIFY">Czasem oczy wywraca i głęboko wzdycha.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Widać przecież, pomimo tak zręczne łudzenie,</p>
  <p ALIGN="JUSTIFY">Że umizgał się tylko na złość Telimenie;</p>
  <p ALIGN="JUSTIFY">Bo głowę odwracając niby nieumyślnie,</p>
  <p ALIGN="JUSTIFY">Coraz ku Telimenie groźnem okiem błyśnie. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena nie mogła pojąć, co to znaczy:</p>
  <p ALIGN="JUSTIFY">Ruszywszy ramionami, myśliła: dziwaczy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wreszcie, nowym zalotom Hrabiego dość rada,</p>
  <p ALIGN="JUSTIFY">Zwróciła się do swego drugiego sąsiada.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz, też posępny, nic nie jadł, nic nie pił,</p>
  <p ALIGN="JUSTIFY">Zdawał się słuchać rozmów, oczy w talerz wlepił;</p>
  <p ALIGN="JUSTIFY">Telimena mu leje wino, on się gniewa</p>
  <p ALIGN="JUSTIFY">Na natrętność; pytany o zdrowie - poziewa.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ma za złe (tak się zmienił jednego wieczora),</p>
  <p ALIGN="JUSTIFY">Że Telimena zbytnie do zalotów skora;</p>
  <p ALIGN="JUSTIFY">Gorszy się, że jej suknia tak wcięta głęboko,</p>
  <p ALIGN="JUSTIFY">Nieskromnie - a dopiero, kiedy podniosł oko!</p>
  <p ALIGN="JUSTIFY">Aż przeląkł się; bystrzejsze teraz miał źrenice:</p>
  <p ALIGN="JUSTIFY">Ledwie spójrzał w rumiane Telimeny lice,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Odkrył od razu wielką, straszną tajemnicę!</p>
  <p ALIGN="JUSTIFY">Przebóg! naróżowana! </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy róż w złym gatunku,</p>
  <p ALIGN="JUSTIFY">Czy jakoś na obliczu przetarł się z trefunku:</p>
  <p ALIGN="JUSTIFY">Gdzieniegdzie zrzedniał, na wskroś grubszą płeć odsłania.</p>
  <p ALIGN="JUSTIFY">Może to sam Tadeusz, w Świątyni dumania</p>
  <p ALIGN="JUSTIFY">Rozmawiając za blisko, omusknął z bielidła</p>
  <p ALIGN="JUSTIFY">Karmin, lżejszy od pyłków motylego skrzydła.</p>
  <p ALIGN="JUSTIFY">Telimena wracała nazbyt śpieszno z lasu</p>
  <p ALIGN="JUSTIFY">I poprawić kolory swe nie miała czasu;</p>
  <p ALIGN="JUSTIFY">Około ust szczególniej widne były piegi.</p>
  <p ALIGN="JUSTIFY">Nuż oczy Tadeusza, jako chytre szpiegi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Odkrywszy jedną zdradę, poczną w kolej zwiedzać</p>
  <p ALIGN="JUSTIFY">Resztę wdzięków i wszędzie jakiś fałsz wyśledzać:</p>
  <p ALIGN="JUSTIFY">Dwóch zębów braknie w ustach; na czole, na skroni</p>
  <p ALIGN="JUSTIFY">Zmarszczki; tysiące zmarszczków pod brodą się chroni!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niestety! Czuł Tadeusz, jak jest niepotrzebnie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzecz piękną nazbyt ściśle zważać; jak haniebnie</p>
  <p ALIGN="JUSTIFY">Być szpiegiem swej kochanki; nawet jak szkaradnie</p>
  <p ALIGN="JUSTIFY">Odmieniać smak i serce - lecz któż sercem władnie?</p>
  <p ALIGN="JUSTIFY">Darmo chce brak miłości zastąpić sumnieniem,</p>
  <p ALIGN="JUSTIFY">Chłod duszy ogrzać znowu jej wzroku promieniem:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Już ten wzrok, jako księżyc światły, a bez ciepła,</p>
  <p ALIGN="JUSTIFY">Błyskał po wierzchu duszy, która do dna krzepła...</p>
  <p ALIGN="JUSTIFY">Takie robiąc sam sobie wyrzuty i skargi,</p>
  <p ALIGN="JUSTIFY">Pochylił w talerz głowę, milczał i gryzł wargi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tymczasem zły duch nową pokusą go wabi:</p>
  <p ALIGN="JUSTIFY">Podsłuchiwać, co Zosia mówiła do Hrabi.</p>
  <p ALIGN="JUSTIFY">Dziewczyna, uprzejmością Hrabiego ujęta,</p>
  <p ALIGN="JUSTIFY">Zrazu rumieniła się spuściwszy oczęta,</p>
  <p ALIGN="JUSTIFY">Potem śmiać się zaczęli, w końcu rozmawiali</p>
  <p ALIGN="JUSTIFY">O jakiemś niespodzianem w ogrodzie spotkaniu,</p>
  <p ALIGN="JUSTIFY">O jakiemś po łopuchach i grzędach stąpaniu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tadeusz, wyciągnąwszy co najdłużej uszy,</p>
  <p ALIGN="JUSTIFY">Połykał gorzkie słowa i przetrawiał w duszy,</p>
  <p ALIGN="JUSTIFY">Okropną miał biesiadę. Jak w ogrodzie źmija</p>
  <p ALIGN="JUSTIFY">Dwoistem żądłem zioło zatrute wypija,</p>
  <p ALIGN="JUSTIFY">Potem skręci się w kłębek i na drodze legnie,</p>
  <p ALIGN="JUSTIFY">Grożąc stopie, co na nią nieostróżnie biegnie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak Tadeusz, opiły trucizną zazdrości,</p>
  <p ALIGN="JUSTIFY">Zdawał się obojętny, a pękał ze złości.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W najweselszem zebraniu niech się kilku gniewa,</p>
  <p ALIGN="JUSTIFY">Zaraz się ich ponurość na resztę rozlewa.</p>
  <p ALIGN="JUSTIFY">Strzelcy dawniej milczeli, druga stołu strona</p>
  <p ALIGN="JUSTIFY">Umilkła, Tadeusza żółcią zarażona.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Nawet pan Podkomorzy, nadzwyczaj ponury,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie miał ochoty gadać, widząc swoje córy,</p>
  <p ALIGN="JUSTIFY">Posażne i nadobne panny, w wieku kwiecie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zdaniem wszystkich najpierwsze partyje w powiecie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Milczące, zaniedbane od milczącej młodzi.</p>
  <p ALIGN="JUSTIFY">Gościnnego Sędziego również to obchodzi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski zaś, uważając, że tak wszyscy milczą,</p>
  <p ALIGN="JUSTIFY">Nazywał tę wieczerzę nie polską, lecz wilczą.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hreczecha na milczenie miał słuch bardzo czuły,</p>
  <p ALIGN="JUSTIFY">Sam gawęda, i lubił niezmiernie gaduły.</p>
  <p ALIGN="JUSTIFY">Nie dziw! ze szlachtą strawił życie na biesiadach,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na polowaniach, zjazdach, sejmikowych radach;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przywykł, żeby mu zawsze coś bębniło w ucho,</p>
  <p ALIGN="JUSTIFY">Nawet wtenczas, gdy milczał lub z placką za muchą</p>
  <p ALIGN="JUSTIFY">Skradał się, lub zamknąwszy oczy siadał marzyć;</p>
  <p ALIGN="JUSTIFY">W dzień szukał rozmów, w nocy musiano mu gwarzyć</p>
  <p ALIGN="JUSTIFY">Pacierze różańcowe albo gadać bajki;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stąd też nieprzyjacielem zabitym był fajki,</p>
  <p ALIGN="JUSTIFY">Wymyślonej od Niemców, by nas scudzoziemczyć;</p>
  <p ALIGN="JUSTIFY">Mawiał: &quot;Polskę oniemić - jest to Polskę zniemczyć&quot;.</p>
  <p ALIGN="JUSTIFY">Starzec, wiek przegwarzywszy, chciał spoczywać w gwarze;</p>
  <p ALIGN="JUSTIFY">Milczenie go budziło ze snu: tak młynarze,</p>
  <p ALIGN="JUSTIFY">Uśpieni kół tarkotem, ledwie staną osie,</p>
  <p ALIGN="JUSTIFY">Budzą się, krzycząc z trwogą: &quot;A Słowo stało się...&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski ukłonem dawał znak Podkomorzemu,</p>
  <p ALIGN="JUSTIFY">A ręką od ust lekko skinął ku Sędziemu,</p>
  <p ALIGN="JUSTIFY">Prosząc o głos; panowie na ten ukłon niemy</p>
  <p ALIGN="JUSTIFY">Odkłonili się oba, co znaczy: &quot;prosiemy&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski zagaił: </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Śmiałbym upraszać młodzieży,</p>
  <p ALIGN="JUSTIFY">Ażeby po staremu bawić u wieczerzy,</p>
  <p ALIGN="JUSTIFY">Nie milczeć i żuć: czy my ojce kapucyni?</p>
  <p ALIGN="JUSTIFY">Kto milczy między szlachtą, to właśnie tak czyni</p>
  <p ALIGN="JUSTIFY">Jako myśliwiec, który nabój rdzawi w strzelbie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dlatego ja rozmowność naszych przodków wielbię.</p>
  <p ALIGN="JUSTIFY">Po łowach szli do stołu, nie tylko by jadać,</p>
  <p ALIGN="JUSTIFY">Ale aby nawzajem mogli się wygadać,</p>
  <p ALIGN="JUSTIFY">Co każdy miał na sercu; nagany, pochwały</p>
  <p ALIGN="JUSTIFY">Strzelców i obławników, ogary, wystrzały</p>
  <p ALIGN="JUSTIFY">Wywoływano na plac; powstawała wrzawa,</p>
  <p ALIGN="JUSTIFY">Miła uchu myśliwców jak druga obława.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wiem, wiem, o co wam idzie: ta czarnych trosk chmura</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pono z Robakowego wzniosła się kaptura!</p>
  <p ALIGN="JUSTIFY">Wstydzicie się swych pudeł! Niech was wstyd nie pali,</p>
  <p ALIGN="JUSTIFY">Znałem myśliwych lepszych od was, a chybiali;</p>
  <p ALIGN="JUSTIFY">Trafiać, chybiać, poprawiać - to kolej strzelecka.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ja sam, chociaż ze strzelbą włoczę się od dziecka,</p>
  <p ALIGN="JUSTIFY">Chybiałem; chybiał sławny ów strzelec Tułoszczyk,</p>
  <p ALIGN="JUSTIFY">Nawet nie zawsze trafiał pan Rejtan nieboszczyk.</p>
  <p ALIGN="JUSTIFY">O Rejtanie opowiem później. Co się tycze</p>
  <p ALIGN="JUSTIFY">Wypuszczenia z obławy, że oba panicze</p>
  <p ALIGN="JUSTIFY">Zwierzowi jak należy kroku nie dostali,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Choć mieli oszczep w ręku, tego nikt nie chwali</p>
  <p ALIGN="JUSTIFY">Ani gani: bo zmykać, mając naboj w rurze</p>
  <p ALIGN="JUSTIFY">Znaczyło po staremu: być tchórzem nad tchórze;</p>
  <p ALIGN="JUSTIFY">Toż wystrzelić na oślep (jak to robi wielu),</p>
  <p ALIGN="JUSTIFY">Nie przypuściwszy zwierza, nie wziąwszy do celu,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest rzecz haniebna; ale kto dobrze wymierzy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kto przypuści do siebie zwierza jak należy,</p>
  <p ALIGN="JUSTIFY">Jeśli chybił, cofnąć się może bez sromoty</p>
  <p ALIGN="JUSTIFY">Albo walczyć oszczepem, lecz z własnej ochoty,</p>
  <p ALIGN="JUSTIFY">A nie z musu: gdyż oszczep strzelcom poruczony</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie dla natarcia, ale tylko dla obrony.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak było po staremu: a więc mnie zawierzcie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I waszej rejterady do serca nie bierzcie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kochany Tadeuszku i Wielmożny Grafie!</p>
  <p ALIGN="JUSTIFY">Ilekroć zaś wspomnicie o dzisiejszym trafie,</p>
  <p ALIGN="JUSTIFY">Wspomnijcie też starego Wojskiego przestrogę:</p>
  <p ALIGN="JUSTIFY">Nigdy jeden drugiemu nie zachodzić w drogę,</p>
  <p ALIGN="JUSTIFY">Nigdy we dwóch nie strzelać do jednej źwierzyny&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Właśnie Wojski wymawiał to słowo:
  &quot;źwierzyny&quot;,</p>
  <p ALIGN="JUSTIFY">Gdy Asesor półgębkiem podszepnął: &quot;dziewczyny&quot;;</p>
  <p ALIGN="JUSTIFY">&quot;Brawo!&quot; krzyknęła młodzież, powstał szmer i śmiechy,</p>
  <p ALIGN="JUSTIFY">Powtarzano z kolei przestrogę Hreczechy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mianowicie ostatnie słowo, ci: &quot;źwierzyny&quot;,</p>
  <p ALIGN="JUSTIFY">A drudzy, w głos śmiejąc się, krzyczeli: &quot;dziewczyny&quot;;</p>
  <p ALIGN="JUSTIFY">Rejent szepnął: &quot;kobiety&quot;, Asesor: &quot;kokiety&quot;,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Utkwiwszy w Telimenie oczy jak sztylety.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie myślił wcale Wojski przymawiać nikomu</p>
  <p ALIGN="JUSTIFY">Ani uważał, co tam szepcą po kryjomu;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rad bardzo, że mógł damy i młodzież rozśmieszyć,</p>
  <p ALIGN="JUSTIFY">Zwrócił się ku myśliwcom, chcąc i tych pocieszyć.</p>
  <p ALIGN="JUSTIFY">I zaczął, nalewając sobie kielich wina:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Nadaremnie oczyma szukam Bernardyna;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chciałbym mu opowiedzieć wypadek ciekawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podobny do zdarzenia dzisiejszej obławy.</p>
  <p ALIGN="JUSTIFY">Klucznik mówił, że tylko znał jednego człeka,</p>
  <p ALIGN="JUSTIFY">Co tak celnie jak Robak mógł strzelić z daleka;</p>
  <p ALIGN="JUSTIFY">Ja zaś znałem drugiego; równie trafnym strzałem</p>
  <p ALIGN="JUSTIFY">Ocalił on dwóch panów; sam ja to widziałem,</p>
  <p ALIGN="JUSTIFY">Kiedy do nalibockich zaciągnęli lasów</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz Rejtan poseł i książę Denassow.</p>
  <p ALIGN="JUSTIFY">Nie zazdrościli sławie szlachcica panowie,</p>
  <p ALIGN="JUSTIFY">Owszem u stołu pierwsi wnieśli jego zdrowie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nadawali mu wielkich prezentów bez liku</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I skórę zabitego dzika; o tym dziku</p>
  <p ALIGN="JUSTIFY">I o strzale powiem wam jak naoczny świadek,</p>
  <p ALIGN="JUSTIFY">Bo to był dzisiejszemu podobny przypadek,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A zdarzył się największym strzelcom za mych czasów:</p>
  <p ALIGN="JUSTIFY">Posłowi Rejtanowi i księciu Denassow&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A wtem ozwał się Sędzia nalewając czaszę:</p>
  <p ALIGN="JUSTIFY">&quot;Piję zdrowie Robaka, Wojski, w ręce wasze!</p>
  <p ALIGN="JUSTIFY">Jeśli datkiem nie możem Kwestarza zbogacić,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Postaramy się przecież za proch mu zapłacić;</p>
  <p ALIGN="JUSTIFY">Uręczamy, że niedźwiedź zabity dziś w boru</p>
  <p ALIGN="JUSTIFY">Przez dwa lata wystarczy na kuchnię klasztoru.</p>
  <p ALIGN="JUSTIFY">Lecz skóry Księdzu nie dam; lub gwałtem zabiorę,</p>
  <p ALIGN="JUSTIFY">Albo ją mnich ustąpić musi przez pokorę,</p>
  <p ALIGN="JUSTIFY">Albo ją kupię choćby dziesiątkiem soboli.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skórą tą rozporządzimy wedle naszej woli;</p>
  <p ALIGN="JUSTIFY">Pierwszy wieniec i sławę już wziął sługa boży,</p>
  <p ALIGN="JUSTIFY">Skórę Jaśnie Wielmożny Pan nasz Podkomorzy</p>
  <p ALIGN="JUSTIFY">Temu da, kto na drugą nagrodę zasłużył&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podkomorzy pogładził czoło i brwi zmrużył;</p>
  <p ALIGN="JUSTIFY">Strzelcy zaczęli szemrać, każdy coś powiadał,</p>
  <p ALIGN="JUSTIFY">Tamten - jak zwierza znalazł, ten - jak ranę zadał,</p>
  <p ALIGN="JUSTIFY">Tamten psiarnię nawołał, ów zwierza nawrócił</p>
  <p ALIGN="JUSTIFY">Znowu w ostęp. Asesor z Rejentem się kłócił,</p>
  <p ALIGN="JUSTIFY">Jeden wielbiąc przymioty swojej Sanguszkówki,</p>
  <p ALIGN="JUSTIFY">Drugi bałabanowskiej swej Sagalasówki.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Sędzio sąsiedzie - wreszcie wyrzekł Podkomorzy
  -</p>
  <p ALIGN="JUSTIFY">Pierwszą nagrodę słusznie zyskał sługa boży;</p>
  <p ALIGN="JUSTIFY">Lecz niełacno rozsądzić, kto jest po nim drugi,</p>
  <p ALIGN="JUSTIFY">Bo wszyscy zdają mi się mieć równe zasługi,</p>
  <p ALIGN="JUSTIFY">Wszyscy równi zręcznością, biegłością i męstwem.</p>
  <p ALIGN="JUSTIFY">Przecież dwóch dziś odznaczył los niebezpieczeństwem.</p>
  <p ALIGN="JUSTIFY">Dwaj byli niedźwiedziego najbliżsi pazura:</p>
  <p ALIGN="JUSTIFY">Tadeusz i pan Hrabia; im należy skóra.</p>
  <p ALIGN="JUSTIFY">Pan Tadeusz ustąpi (jestem tego pewny),</p>
  <p ALIGN="JUSTIFY">Jako młodszy i jako gospodarza krewny;</p>
  <p ALIGN="JUSTIFY">Więc spolija opima weźmiesz, Mości Hrabia.</p>
  <p ALIGN="JUSTIFY">Niech ten łup twą strzelecką komnatę ozdabia,</p>
  <p ALIGN="JUSTIFY">Niechaj pamiątką będzie dzisiejszej zabawy,</p>
  <p ALIGN="JUSTIFY">Godłem szczęścia łowczego, bodźcem przyszłej sławy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Umilknął wesoł, myśląc, że Hrabię ucieszył;</p>
  <p ALIGN="JUSTIFY">Nie wiedział, jak boleśnie serce jego przeszył.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo Hrabia na strzeleckiej komnaty wspomnienie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mimowolnie wzrok podniosł: a te łby jelenie,</p>
  <p ALIGN="JUSTIFY">Te gałęziste rogi, jakby las wawrzynów</p>
  <p ALIGN="JUSTIFY">Zasiany ręką ojców na wieńce dla synów,</p>
  <p ALIGN="JUSTIFY">Te rzędami portretów zdobione filary,</p>
  <p ALIGN="JUSTIFY">Ten w sklepieniu błyszczący herb Półkozic stary,</p>
  <p ALIGN="JUSTIFY">Ozwały się doń zewsząd głosami przeszłości;</p>
  <p ALIGN="JUSTIFY">Zbudził się z marzeń, wspomniał, gdzie, u kogo gości:</p>
  <p ALIGN="JUSTIFY">Dziedzic Horeszków gościem śród swych własnych progów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Biesiadnikiem Sopliców, swych odwiecznych wrogów!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A przy tem zawiść, którą czuł do Tadeusza,</p>
  <p ALIGN="JUSTIFY">Tym mocniej Hrabię przeciw Soplicom porusza.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Rzekł więc z gorzkim uśmiechem: &quot;Mój domek zbyt mały</p>
  <p ALIGN="JUSTIFY">Nie ma godnego miejsca na dar tak wspaniały;</p>
  <p ALIGN="JUSTIFY">Niech lepiej niedźwiedź czeka pośród tych rogaczy,</p>
  <p ALIGN="JUSTIFY">Aż mi go Sędzia razem z zamkiem oddać raczy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podkomorzy, zgadując, na co się zanosi,</p>
  <p ALIGN="JUSTIFY">Zadzwonił w tabakierę złotą, o głos prosi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Godzieneś pochwał - rzecze - Hrabio, mój
  sąsiedzie,</p>
  <p ALIGN="JUSTIFY">Że dbasz o interesa nawet przy obiedzie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie tak jak modni wieku twojego panicze,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Żyjący bez rachunku. Ja tuszę i życzę</p>
  <p ALIGN="JUSTIFY">Zgodą zakończyć moje sądy podkomorskie;</p>
  <p ALIGN="JUSTIFY">Dotąd jedyna trudność jest o fundum dworskie.</p>
  <p ALIGN="JUSTIFY">Mam już projekt zamiany, fundum wynagrodzić</p>
  <p ALIGN="JUSTIFY">Ziemią w sposób następny...&quot; - Tu zaczął wywodzić</p>
  <p ALIGN="JUSTIFY">Porządnie (jak zwykł zawsze) plan przyszłej zamiany:</p>
  <p ALIGN="JUSTIFY">Już był w połowie rzeczy, gdy ruch niespodziany</p>
  <p ALIGN="JUSTIFY">Wszczął się na końcu stoła: jedni coś postrzegli,</p>
  <p ALIGN="JUSTIFY">Wskazują palcem, drudzy oczyma tam biegli,</p>
  <p ALIGN="JUSTIFY">Aż wreszcie wszystkie głowy, jak kłosy schylone</p>
  <p ALIGN="JUSTIFY">Wstecznym wiatrem, w przeciwną zwróciły się stronę,</p>
  <p ALIGN="JUSTIFY">W kąt. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z kąta, kędy wisiał portret nieboszczyka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ostatniego z rodziny Horeszków, Stolnika,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z małych drzwiczek, ukrytych pomiędzy filary</p>
  <p ALIGN="JUSTIFY">Wysunęła się cicho postać na kształt mary.</p>
  <p ALIGN="JUSTIFY">Gerwazy! Poznano go po wzroście, po licach,</p>
  <p ALIGN="JUSTIFY">Po srebrzystych na żółtej kurcie Półkozicach.</p>
  <p ALIGN="JUSTIFY">Stąpał jako słup prosto, niemy i surowy,</p>
  <p ALIGN="JUSTIFY">Nie zdjąwszy czapki, nawet nie schyliwszy głowy;</p>
  <p ALIGN="JUSTIFY">W ręku trzymał błyszczący klucz, jakby puginał,</p>
  <p ALIGN="JUSTIFY">Odemknął szafę i w niej coś kręcić zaczynał.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stały w dwóch kątach sieni, wsparte o filary,</p>
  <p ALIGN="JUSTIFY">Dwa kurantowe, w szafach zamknięte zegary;</p>
  <p ALIGN="JUSTIFY">Dziwaki stare, dawno ze słońcem w niezgodzie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Południe wskazywały często o zachodzie;</p>
  <p ALIGN="JUSTIFY">Gerwazy nie przybrał się machinę naprawić,</p>
  <p ALIGN="JUSTIFY">Ale bez nakręcenia nie chciał jej zostawić,</p>
  <p ALIGN="JUSTIFY">Dręczył kluczem zegary każdego wieczora;</p>
  <p ALIGN="JUSTIFY">Właśnie teraz przypadła nakręcania pora.</p>
  <p ALIGN="JUSTIFY">Gdy Podkomorzy sprawą zajmował uwagę</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stron interesowanych, on pociągnął wagę:</p>
  <p ALIGN="JUSTIFY">Zgrzytnęły wyszczerbionym zębem koła rdzawe;</p>
  <p ALIGN="JUSTIFY">Wzdrygnął się Podkomorzy i przerwał rozprawę.</p>
  <p ALIGN="JUSTIFY">&quot;Bracie - rzekł - odłoż nieco twą pilną robotę!&quot;</p>
  <p ALIGN="JUSTIFY">I kończył plan zamiany; lecz Klucznik na psotę</p>
  <p ALIGN="JUSTIFY">Jeszcze silniej pociągnął drugiego ciężaru;</p>
  <p ALIGN="JUSTIFY">I wnet gil, który siedział na wierzchu zegaru,</p>
  <p ALIGN="JUSTIFY">Trzepiocąc skrzydłem, zaczął ciąć kurantów nuty.</p>
  <p ALIGN="JUSTIFY">Ptak sztucznie wyrobiony, szkoda, że popsuty,</p>
  <p ALIGN="JUSTIFY">Zająkał się i piszczał, im dal?j, tem gorz?j.</p>
  <p ALIGN="JUSTIFY">Goście w śmiech; musiał przerwać znowu Podkomorzy.</p>
  <p ALIGN="JUSTIFY">&quot;Mości Kluczniku - krzyknął - lub raczej puszczyku,</p>
  <p ALIGN="JUSTIFY">Jeśli dziob twój szanujesz, dość mi tego krzyku!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale Gerwazy groźbą wcale się nie strwożył,</p>
  <p ALIGN="JUSTIFY">Prawą rękę poważnie na zegar położył,</p>
  <p ALIGN="JUSTIFY">A lewą wziął się pod bok; tak oburącz wsparty,</p>
  <p ALIGN="JUSTIFY">&quot;Podkomorzeńku! - krzyknął. - Wolne pańskie żarty.</p>
  <p ALIGN="JUSTIFY">Wróbel mniejszy niż puszczyk, a na swoich wiorach</p>
  <p ALIGN="JUSTIFY">Śmielszy jest aniżeli puszczyk w cudzych dworach:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co klucznik, to nie puszczyk; kto w cudze poddasze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nocą włazi, ten puszczyk, i ja go wystraszę&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Za drzwi z nim !&quot; - Podkomorzy krzyknął. - &quot;Panie
  Hrabia! -</p>
  <p ALIGN="JUSTIFY">Zawołał Klucznik. - Widzisz Pan, co się wyrabia?</p>
  <p ALIGN="JUSTIFY">Czy nie dosyć się jeszcze Pański honor plami,</p>
  <p ALIGN="JUSTIFY">Że Pan jadasz i pijasz z temi Soplicami?</p>
  <p ALIGN="JUSTIFY">Trzebaż jeszcze, aby mnie, zamku urzędnika,</p>
  <p ALIGN="JUSTIFY">Gerwazego Rębajłę, Horeszków klucznika,</p>
  <p ALIGN="JUSTIFY">Lżyć w domu Panów moich? I Panże to zniesie?&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem Protazy zawołał trzykroć: &quot;Uciszcie się!</p>
  <p ALIGN="JUSTIFY">Na ustąp! Ja, Protazy Baltazar Brzechalski,</p>
  <p ALIGN="JUSTIFY">Dwojga imion, jenerał niegdyś trybunalski,</p>
  <p ALIGN="JUSTIFY">Vulgo woźny, woźneńską obdukcyją robię</p>
  <p ALIGN="JUSTIFY">I wizyją formalną, zamawiając sobie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Urodzonych tu wszystkich obecnych świadectwo</p>
  <p ALIGN="JUSTIFY">I pana Asesora wzywając na śledztwo</p>
  <p ALIGN="JUSTIFY">Z powodu Wielmożnego Sędziego Soplicy:</p>
  <p ALIGN="JUSTIFY">O inkursyją, to jest o najazd granicy,</p>
  <p ALIGN="JUSTIFY">Gwałt zamku, w którym Sędzia dotąd prawnie włada,</p>
  <p ALIGN="JUSTIFY">Czego dowodem jawnym jest, że w zamku jada&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Brzechaczu! - wrzasnął Klucznik. - Ja cię wnet nauczę!&quot;</p>
  <p ALIGN="JUSTIFY">I dobywszy zza pasa swe żelazne klucze,</p>
  <p ALIGN="JUSTIFY">Okręcił wkoło głowy, puścił z całej mocy;</p>
  <p ALIGN="JUSTIFY">Pęk żelaza wyleciał jako kamień z procy.</p>
  <p ALIGN="JUSTIFY">Pewnie łeb Protazemu rozbiłby na ćwierci;</p>
  <p ALIGN="JUSTIFY">Szczęściem, schylił się Woźny i wydarł się śmierci.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Porwali się z miejsc wszyscy, chwilę była głucha</p>
  <p ALIGN="JUSTIFY">Cichość, aż Sędzia krzyknął: &quot;W dyby tego zucha!</p>
  <p ALIGN="JUSTIFY">Hola, chłopcy!&quot; - i czeladź rzuciła się żwawo</p>
  <p ALIGN="JUSTIFY">Ciasnym przejściem pomiędzy ścianami i ławą.</p>
  <p ALIGN="JUSTIFY">Lecz Hrabia krzesłem w środku zagrodził im drogę</p>
  <p ALIGN="JUSTIFY">I na tym szańcu słabym utwierdziwszy nogę:</p>
  <p ALIGN="JUSTIFY">&quot;Wara! - zawołał. - Sędzio! nie wolno nikomu</p>
  <p ALIGN="JUSTIFY">Krzywdzić sługę mojego w moim własnym domu;</p>
  <p ALIGN="JUSTIFY">Kto ma na starca skargę, niech ją mnie przełoży&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zyzem w oczy Hrabiemu spojrzał Podkomorzy:</p>
  <p ALIGN="JUSTIFY">&quot;Bez waścinej pomocy ukarać potrafię</p>
  <p ALIGN="JUSTIFY">Zuchwałego szlachetkę; a Waść, Mości Grafie,</p>
  <p ALIGN="JUSTIFY">Przed dekretem ten zamek za wcześnie przywłaszczasz;</p>
  <p ALIGN="JUSTIFY">Nie Wać tu jesteś panem, nie Wać nas ugaszczasz;</p>
  <p ALIGN="JUSTIFY">Siedź cicho, jakeś siedział; jeśli siwej głowy</p>
  <p ALIGN="JUSTIFY">Nie czcisz, to szanuj pierwszy urząd powiatowy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Co mi? - odmruknął Hrabia. - Dość już tej
  gawędy!</p>
  <p ALIGN="JUSTIFY">Nudźcie drugich waszymi względy i urzędy.</p>
  <p ALIGN="JUSTIFY">Dość już głupstwa zrobiłem wdając się z Waćpaństwem</p>
  <p ALIGN="JUSTIFY">W pijatyki, które się kończą grubijaństwem.</p>
  <p ALIGN="JUSTIFY">Zdacie mi sprawę z mego honoru obrazy.</p>
  <p ALIGN="JUSTIFY">Do widzenia po trzeźwu - pódź za mną, Gerwazy!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nigdy się odpowiedzi takiej nie spodziewał</p>
  <p ALIGN="JUSTIFY">Podkomorzy; właśnie swój kieliszek nalewał,</p>
  <p ALIGN="JUSTIFY">Gdy zuchwalstwem Hrabiego rażony jak gromem,</p>
  <p ALIGN="JUSTIFY">Oparłszy się o kielich butlem nieruchomym,</p>
  <p ALIGN="JUSTIFY">Głowę wyciągnął na bok i ucha przyłożył,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oczy rozwarł szeroko, usta wpół otworzył;</p>
  <p ALIGN="JUSTIFY">Milczał, lecz kielich w ręku tak potężnie cisnął,</p>
  <p ALIGN="JUSTIFY">Że szkło dźwięknąwszy pękło, płyn w oczy mu prysnął.</p>
  <p ALIGN="JUSTIFY">Rzekłbyś, iż z winem ognia w duszę się nalało,</p>
  <p ALIGN="JUSTIFY">Tak oblicze spłonęło, tak oko pałało.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zerwał się mówić, pierwsze słowo niewyraźnie</p>
  <p ALIGN="JUSTIFY">Mleł w ustach, aż przez zęby wyleciało: &quot;Błaźnie!</p>
  <p ALIGN="JUSTIFY">Grafiątko! ja cię... Tomasz, karabelę! Ja tu</p>
  <p ALIGN="JUSTIFY">Nauczę ciebie mores, błaźnie! Daj go katu!</p>
  <p ALIGN="JUSTIFY">Względy, urzędy nudzą, uszko delikatne!</p>
  <p ALIGN="JUSTIFY">Ja cię tu zaraz po tych zauszniczkach płatnę!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Fora za drzwi! do korda! Tomasz, karabelę!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem do Podkomorzego skoczą przyjaciele;</p>
  <p ALIGN="JUSTIFY">Sędzia porwał mu rękę: &quot;Stój Pan, to rzecz nasza,</p>
  <p ALIGN="JUSTIFY">Mnie tu naprzód wyzwano; Protazy, pałasza!</p>
  <p ALIGN="JUSTIFY">Puszczę go w taniec jako niedźwiadka na kiju&quot;.</p>
  <p ALIGN="JUSTIFY">Lecz Tadeusz Sędziego wstrzymał: &quot;Panie Stryju,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wielmożny Podkomorzy, czyż się Państwu godzi</p>
  <p ALIGN="JUSTIFY">Wdawać się z tym fircykiem, czy tu nie ma młodzi?</p>
  <p ALIGN="JUSTIFY">Na mnie się zdajcie, ja go należycie skarcę;</p>
  <p ALIGN="JUSTIFY">A Waszeć, panie śmiałku, co wyzywasz starce,</p>
  <p ALIGN="JUSTIFY">Obaczym, czyli jesteś tak strasznym rycerzem;</p>
  <p ALIGN="JUSTIFY">Rozprawimy się jutro, plac i broń wybierzem.</p>
  <p ALIGN="JUSTIFY">Dziś uchodź, pókiś cały!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dobra była rada;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Klucznik i Hrabia wpadli w obroty nie lada.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przy wyższym końcu stoła wrzał tylko krzyk wielki,</p>
  <p ALIGN="JUSTIFY">Ale z ostrego końca latały butelki</p>
  <p ALIGN="JUSTIFY">Koło Hrabiego głowy. Strwożone kobiety</p>
  <p ALIGN="JUSTIFY">W prośby, w płacz; Telimena, krzyknąwszy: &quot;Niestety!&quot;</p>
  <p ALIGN="JUSTIFY">Wzniosła oczy, powstała i padła zemdlona,</p>
  <p ALIGN="JUSTIFY">I przechyliwszy szyję przez Hrabi ramiona,</p>
  <p ALIGN="JUSTIFY">Na pierś jego złożyła swe piersi łabędzie.</p>
  <p ALIGN="JUSTIFY">Hrabia, choć zagniewany, wstrzymał się w zapędzie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaczął cucić, ocierać. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Tymczasem Gerwazy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wystawiony na stołków i butelek razy,</p>
  <p ALIGN="JUSTIFY">Już zachwiał się, już czeladź zakasawszy pięście,</p>
  <p ALIGN="JUSTIFY">Rzucała się nań zewsząd hurmem, gdy na szczęście</p>
  <p ALIGN="JUSTIFY">Zosia, widząc szturm, skoczy i litością zdjęta</p>
  <p ALIGN="JUSTIFY">Zasłania starca, na krzyż rozpiąwszy rączęta.-</p>
  <p ALIGN="JUSTIFY">Wstrzymali się; </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gerwazy z wolna ustępował,</p>
  <p ALIGN="JUSTIFY">Zniknął z oczu, szukano, gdzie się pod stół schował,</p>
  <p ALIGN="JUSTIFY">Gdy nagle z drugiej strony wyszedł jak spod ziemi,</p>
  <p ALIGN="JUSTIFY">Podniosłszy w górę ławę ramiony silnemi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Okręcił się jak wiatrak, oczyścił pół sieni,</p>
  <p ALIGN="JUSTIFY">Wziął Hrabię i tak oba ławą zasłonieni</p>
  <p ALIGN="JUSTIFY">Cofali się ku drzwiczkom; już dochodzą progów,</p>
  <p ALIGN="JUSTIFY">Gerwazy stanął, jeszcze raz spojrzał na wrogów,</p>
  <p ALIGN="JUSTIFY">Dumał chwilę, niepewny, czy cofać się zbrojnie,</p>
  <p ALIGN="JUSTIFY">Czyli z nowym orężem szukać szczęścia w wojnie.</p>
  <p ALIGN="JUSTIFY">Obrał drugie; już ławę jak taran murowy</p>
  <p ALIGN="JUSTIFY">W tył dźwignął dla zamachu, już ugiąwszy głowy,</p>
  <p ALIGN="JUSTIFY">Z wypiętą naprzód piersią, z podniesioną nogą</p>
  <p ALIGN="JUSTIFY">Miał wpaść... ujrzał Wojskiego, uczuł w sercu trwogę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski, cicho siedzący z przymrużonem okiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zdawał się pogrążony w dumaniu głębokiem;</p>
  <p ALIGN="JUSTIFY">Dopiero gdy się Hrabia z Podkomorzym skłócił</p>
  <p ALIGN="JUSTIFY">I Sędziemu pogroził, Wojski głowę zwrócił,</p>
  <p ALIGN="JUSTIFY">Zażył dwakroć tabaki i przetarł powieki.</p>
  <p ALIGN="JUSTIFY">Chociaż Wojski Sędziemu był krewny daleki,</p>
  <p ALIGN="JUSTIFY">Ale w gościnnym jego domu zamieszkały,</p>
  <p ALIGN="JUSTIFY">O zdrowie przyjaciela był niezmiernie dbały.</p>
  <p ALIGN="JUSTIFY">Przypatrywał się zatem z ciekawością walce,</p>
  <p ALIGN="JUSTIFY">Wyciągnął z lekka na stół rękę, dłoń i palce,</p>
  <p ALIGN="JUSTIFY">Położył nóż na dłoni, trzonkiem do paznokcia</p>
  <p ALIGN="JUSTIFY">Indeksu, a żelazem zwrócony do łokcia,</p>
  <p ALIGN="JUSTIFY">Potem ręką w tył nieco wychyloną kiwał,</p>
  <p ALIGN="JUSTIFY">Niby bawiąc się, lecz się w Hrabiego wpatrywał.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sztuka rzucania nożów, straszna w ręcznej bitwie,</p>
  <p ALIGN="JUSTIFY">Już była zaniechana podówczas na Litwie,</p>
  <p ALIGN="JUSTIFY">Znajoma tylko starym; Klucznik jej probował</p>
  <p ALIGN="JUSTIFY">Nieraz w zwadach karczemnych. Wojski w niej celował,</p>
  <p ALIGN="JUSTIFY">Widać z zamachu ręki, że silnie uderzy,</p>
  <p ALIGN="JUSTIFY">A z oczu łacno zgadnąć, że w Hrabiego mierzy</p>
  <p ALIGN="JUSTIFY">(Ostatniego z Horeszków, chociaż po kądzieli).</p>
  <p ALIGN="JUSTIFY">Mniej baczni młodzi ruchów starca nie pojęli;</p>
  <p ALIGN="JUSTIFY">Gerwazy zbladnął, ławą Hrabiego zakłada,</p>
  <p ALIGN="JUSTIFY">Cofa się ku drzwiom. </font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">&quot;Łapaj!&quot; - krzyknęła gromada.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jako wilk obskoczony znienacka przy ścierwie</p>
  <p ALIGN="JUSTIFY">Rzuca się oślep w zgraję, co mu ucztę przerwie,</p>
  <p ALIGN="JUSTIFY">Już goni, ma ją szarpać, wtem śród psiego wrzasku</p>
  <p ALIGN="JUSTIFY">Trzasło ciche półkorcze... wilk zna je po trzasku,</p>
  <p ALIGN="JUSTIFY">Śledzi okiem, postrzega, że z tyłu za charty</p>
  <p ALIGN="JUSTIFY">Myśliwiec wpół schylony, na kolanie wsparty,</p>
  <p ALIGN="JUSTIFY">Rurą ku niemu wije i już cyngla tyka;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wilk uszy spuszcza, ogon podtuliwszy zmyka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Psiarnia z tryumfującym rzuca się hałasem</p>
  <p ALIGN="JUSTIFY">I skubie go po kudłach, zwierz zwraca się czasem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Spojrzy, klapnie paszczęką, i białych kłów zgrzytem</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ledwie pogrozi, psiarnia pierzcha ze skowytem:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak i Gerwazy z groźną cofał się postawą,</p>
  <p ALIGN="JUSTIFY">Wstrzymując napastników oczyma i ławą,</p>
  <p ALIGN="JUSTIFY">Aż razem z Hrabią wpadli w głąb ciemnej framugi.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Łapaj!&quot; - krzykniono znowu; tryumf był
  niedługi:</p>
  <p ALIGN="JUSTIFY">Bo nad głowami tłumu Klucznik niespodzianie</p>
  <p ALIGN="JUSTIFY">Ukazał się na chorze przy starym organie</p>
  <p ALIGN="JUSTIFY">I z trzaskiem jął wyrywać ołowiane rury.</p>
  <p ALIGN="JUSTIFY">Wielką by klęskę zadał, uderzając z góry.</p>
  <p ALIGN="JUSTIFY">Ale już goście tłumnie wychodzili z sieni,</p>
  <p ALIGN="JUSTIFY">Nie śmieli kroku dostać słudzy potrwożeni</p>
  <p ALIGN="JUSTIFY">I chwytając naczynia w ślad panów uciekli,</p>
  <p ALIGN="JUSTIFY">Nawet nakrycia z częścią sprzętów się wyrzekli.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Któż ostatni, nie dbając na groźby i razy,</p>
  <p ALIGN="JUSTIFY">Ustąpił z placu bitwy? - Brzechalski Protazy.</p>
  <p ALIGN="JUSTIFY">On, za krzesłem Sędziego stojąc niewzruszenie,</p>
  <p ALIGN="JUSTIFY">Ciągnął woźnieńskim głosem swoje oświadczenie,</p>
  <p ALIGN="JUSTIFY">Aż skończył i z pustego zszedł pobojowiska,</p>
  <p ALIGN="JUSTIFY">Kędy zostały trupy, ranni i zwaliska.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W ludziach straty nie było; ale wszystkie ławy</p>
  <p ALIGN="JUSTIFY">Miały zwichnione nogi, stół także kulawy,</p>
  <p ALIGN="JUSTIFY">Obnażony z obrusa, poległ na talerzach</p>
  <p ALIGN="JUSTIFY">Zlanych winem, jak rycerz na krwawych puklerzach,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Między licznemi kurcząt i jendyków ciały,</p>
  <p ALIGN="JUSTIFY">W których piersi widelce świeżo wbite tkwiały.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Po chwili w Horeszkowskim samotnym budynku</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszystko do zwyczajnego wracało spoczynku.</p>
  <p ALIGN="JUSTIFY">Mrok zgęstniał; reszty pańskiej wspaniałej biesiady</p>
  <p ALIGN="JUSTIFY">Leżą, podobne uczcie nocnej, gdzie na Dziady</p>
  <p ALIGN="JUSTIFY">Zgromadzić się zaklęte mają nieboszczyki.</p>
  <p ALIGN="JUSTIFY">Już na poddaszu trzykroć krzyknęły puszczyki</p>
  <p ALIGN="JUSTIFY">Jak guślarze; zdają się witać wschód miesiąca,</p>
  <p ALIGN="JUSTIFY">Którego postać oknem spadła na stół, drżąca</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niby dusza czyscowa; z podziemu, przez dziury</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyskakiwały na kształt potępieńców szczury...</p>
  <p ALIGN="JUSTIFY">Gryzą, piją; czasami w kącie zapomniana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Puknie na toast duchom butelka szampana.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale na drugiem piętrze, w izbie, którą zwano,</p>
  <p ALIGN="JUSTIFY">Choć była bez zwierciadeł, izbą zwierciadlaną,</p>
  <p ALIGN="JUSTIFY">Stał Hrabia na krużganku zwróconym ku bramie;</p>
  <p ALIGN="JUSTIFY">Chłodził się wiatrem, surdut wdział na jedno ramię,</p>
  <p ALIGN="JUSTIFY">Drugi rękaw i poły u szyi sfałdował</p>
  <p ALIGN="JUSTIFY">I pierś surdutem, jakby płaszczem, udrapował.</p>
  <p ALIGN="JUSTIFY">Gerwazy chodził kroki wielkiemi po sali;</p>
  <p ALIGN="JUSTIFY">Obadwa zamyśleni, do siebie gadali:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Pistolety - rzekł Hrabia - lub gdy chcą,
  pałasze&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Zamek - rzekł Klucznik - i wieś, oboje to nasze&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Stryja, synowca - wołał Hrabia - całe plemię</p>
  <p ALIGN="JUSTIFY">Wyzywaj!&quot; - &quot;Zamek - wołał Klucznik - wieś i ziemie</p>
  <p ALIGN="JUSTIFY">Zabieraj Pan!&quot; To mówiąc zwrócił się do Hrabi:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jeśli Pan chce mieć pokój, niech wszystko
  zagrabi.</p>
  <p ALIGN="JUSTIFY">Po co proces, Mopanku! Sprawa jak dzień czysta:</p>
  <p ALIGN="JUSTIFY">Zamek w ręku Horeszków był przez lat czterysta;</p>
  <p ALIGN="JUSTIFY">Część gruntów oderwano w czasie Targowicy</p>
  <p ALIGN="JUSTIFY">I, jak Pan wie, oddano władaniu Soplicy.</p>
  <p ALIGN="JUSTIFY">Nie tylko tę część, wszystko zabrać im należy</p>
  <p ALIGN="JUSTIFY">Za koszta procesowe, za karę grabieży.</p>
  <p ALIGN="JUSTIFY">Mówiłem Panu zawsze: procesów zaniechać,</p>
  <p ALIGN="JUSTIFY">Mówiłem Panu zawsze: najechać, zajechać!</p>
  <p ALIGN="JUSTIFY">Tak było po dawnemu: kto raz grunt posiądzie,</p>
  <p ALIGN="JUSTIFY">Ten dziedzic; wygraj w polu, a wygrasz i w sądzie.</p>
  <p ALIGN="JUSTIFY">Co się tycze dawniejszych z Soplicami sprz?czek,</p>
  <p ALIGN="JUSTIFY">Jest na to od procesu lepszy Scyzoryczek;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A jeśli Maciej w pomoc da mi swą Rózeczkę,</p>
  <p ALIGN="JUSTIFY">To my we dwóch, Sopliców tych porzniem na sieczkę&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Brawo! - rzekł Hrabia. - Plan twój
  gotycko-sarmacki</p>
  <p ALIGN="JUSTIFY">Podoba się mi lepiej niż spór adwokacki.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wiesz co? Na całej Litwie narobim hałasu</p>
  <p ALIGN="JUSTIFY">Wyprawą niesłychaną od dawnego czasu.</p>
  <p ALIGN="JUSTIFY">I sami się zabawim. Dwa lata tu siedzę,</p>
  <p ALIGN="JUSTIFY">Jakąż bitwę widziałem? z chłopami o miedzę.</p>
  <p ALIGN="JUSTIFY">Nasza wyprawa przecież krwi rozlanie wróży;</p>
  <p ALIGN="JUSTIFY">Odbyłem taką jedną w czasie mych podróży.</p>
  <p ALIGN="JUSTIFY">Gdym w Sycyliji bawił u pewnego księcia,</p>
  <p ALIGN="JUSTIFY">Rozbójnicy porwali w górach jego zięcia</p>
  <p ALIGN="JUSTIFY">I okupu od krewnych żądali zuchwale;</p>
  <p ALIGN="JUSTIFY">My, zebrawszy naprędce sługi i wasale,</p>
  <p ALIGN="JUSTIFY">Wpadliśmy; ja dwóch zbojców ręką mą zabiłem,</p>
  <p ALIGN="JUSTIFY">Pierwszy wleciałem w tabor, więźnia uwolniłem.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ach, mój Gerwazy! jaki to był tryumfalny,</p>
  <p ALIGN="JUSTIFY">Jaki piękny nasz powrót, rycersko-feudalny!</p>
  <p ALIGN="JUSTIFY">Lud z kwiatami spotykał nas - córka książęcia,</p>
  <p ALIGN="JUSTIFY">Wdzięczna zbawcy, ze łzami wpadła w me objęcia.</p>
  <p ALIGN="JUSTIFY">Gdym przybył do Palermo, wiedziano z gazety,</p>
  <p ALIGN="JUSTIFY">Palcami wskazywały mię wszystkie kobiety.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nawet wydrukowano o całem zdarzeniu</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Romans, gdzie wymieniony jestem po imieniu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Romans ma tytuł: <i>Hrabia, czyli tajemnice</p>
  <p ALIGN="JUSTIFY">Zamku Birbante-rokka</i>. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy są tu ciemnice</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W tym zamku?&quot; - </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Są - rzekł Klucznik - ogromne piwnice,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale puste! Bo wino wypili Soplice&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Dżokejów - dodał Hrabia - uzbroić we dworze,</p>
  <p ALIGN="JUSTIFY">Z włości wezwać wasalów!&quot; </p>
  <p ALIGN="JUSTIFY">&quot;Lokajów? broń Boże! -</p>
  <p ALIGN="JUSTIFY">Przerwał Gerwazy. - Czy to zajazd jest hultajstwem?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kto widział zajazd robić z chłopstwem i z lokajstwem?</p>
  <p ALIGN="JUSTIFY">Mój Panie, na zajazdach nie znacie się wcale;</p>
  <p ALIGN="JUSTIFY">Wąsalów - co innego, zdadzą się wąsale.</p>
  <p ALIGN="JUSTIFY">Nie we włości ich szukać, ale po zaściankach:</p>
  <p ALIGN="JUSTIFY">W Dobrzynie, w Rzezikowie, w Ciętyczach, w Rąbankach;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szlachta odwieczna, w której krew rycerska płynie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszyscy przychylni panów Horeszków rodzinie,</p>
  <p ALIGN="JUSTIFY">Wszyscy nieprzyjaciele zabici Sopliców!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Stamtąd zbiorę ze trzystu wąsatych szlachciców;</p>
  <p ALIGN="JUSTIFY">To rzecz moja. Pan niechaj do pałacu wraca</p>
  <p ALIGN="JUSTIFY">I wyśpi się, bo jutro będzie wielka praca;</p>
  <p ALIGN="JUSTIFY">Pan spać lubi, już późno, drugi kur już pieje;</p>
  <p ALIGN="JUSTIFY">Ja tu będę pilnować zamku, aż rozdnieje,</p>
  <p ALIGN="JUSTIFY">A ze słoneczkiem stanę w Dobrzyńskim zaścianku&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na te słowa pan Hrabia ustąpił z krużganku;</p>
  <p ALIGN="JUSTIFY">Ale nim odszedł, spójrzał przez otwór strzelnicy</p>
  <p ALIGN="JUSTIFY">I widząc świateł mnóstwo w domostwie Soplicy:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Iluminujcie! - krzyknął. - Jutro o tej porze</p>
  <p ALIGN="JUSTIFY">Będzie jasno w tym zamku, ciemno w waszym dworze!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gerwazy siadł na ziemi, oparł się o ścianę</p>
  <p ALIGN="JUSTIFY">I pochylił ku piersiom czoło zadumane;</p>
  <p ALIGN="JUSTIFY">Światłość miesięczna padła na wierzch głowy łysy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gerwazy po nim kryślił palcem różne rysy;</p>
  <p ALIGN="JUSTIFY">Widać, że przyszłych wypraw snuł plany wojenne.</p>
  <p ALIGN="JUSTIFY">Ciężą mu coraz bardziej powieki brzemienne,</p>
  <p ALIGN="JUSTIFY">Bezwładną kiwnął szyją, czuł, że go sen bierze;</p>
  <p ALIGN="JUSTIFY">Zaczął wedle zwyczaju wieczorne pacierze.</p>
  <p ALIGN="JUSTIFY">Lecz między Ojczenaszem i Zdrowaś Maryją</p>
  <p ALIGN="JUSTIFY">Dziwne stanęły mary, tłoczą się i wiją:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Klucznik widzi Horeszki, swoje dawne pany,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ci niosą karabele, drudzy buzdygany,</p>
  <p ALIGN="JUSTIFY">Każdy groźnie spoziera i pokręca wąsa,</p>
  <p ALIGN="JUSTIFY">Składa się karabelą, buzdyganem wstrząsa -</p>
  <p ALIGN="JUSTIFY">Za nimi jeden cichy, posępny cień mignął,</p>
  <p ALIGN="JUSTIFY">Z krwawą na piersi plamą. Gerwazy się wzdrygnął,</p>
  <p ALIGN="JUSTIFY">Poznał Stolnika; zaczął wkoło siebie żegnać</p>
  <p ALIGN="JUSTIFY">I ażeby tym pewniej straszne sny rozegnać,</p>
  <p ALIGN="JUSTIFY">Odmawiał litaniją o czyscowych duszach.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Znowu wzrok mu skleił się, zadzwoniło w uszach -</p>
  <p ALIGN="JUSTIFY">Widzi tłum szlachty konnej, błyszczą karabele:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zajazd! zajazd Korelicz, i Rymsza na czele!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I ogląda sam siebie, jak na koniu siwym,</p>
  <p ALIGN="JUSTIFY">Z podniesionym nad głowę rapierem straszliwym</p>
  <p ALIGN="JUSTIFY">Leci; rozpięta na wiatr szumi taratatka,</p>
  <p ALIGN="JUSTIFY">Z lewego ucha spadła w tył konfederatka;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Leci, jezdnych i pieszych po drodze obala</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I na koniec Soplicę w stodole podpala -</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem ciężka marzeniami na pierś spadła głowa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I tak usnął ostatni Klucznik Horeszkowa.</font></p>
  <hr>
  <div align="center"><center><table border="0" cellpadding="0" width="100%">
    <tr>
		<td width="33%"><p align="center"><a href="k4"><strong>KSIĘGA CZWARTA</strong></a></td>
		<td width="33%"><p align="center"><a href="{{ path('index') }}"><strong>PAN TADEUSZ</strong></a></td>
		<td width="34%"><p align="center"><a href="k6"><strong>KSIĘGA SZÓSTA</strong></a></td>
    </tr>
  </table>
  </center></div>
</blockquote>
{% endblock %}