{% extends "MickiewiczTadeuczBundle::layout.html.twig" %}
{% block title %}
    <title>Księga Siódma | {{ parent() }}</title>
{%endblock%}
{%block header %}
    <h1>{{ parent() }} - Księga Siódma </h1>
{%endblock%}
{%block menu%}
	<ul>
		<li class="list-group-item" class="active"><a href="k1">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2">Księga druga</a></li>
		<li class="list-group-item"><a href="k3">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12">Księga dwunasta</a></li>
    </ul>
{%endblock%}
{% block content %}
<blockquote>
  <hr>
  <font SIZE="4"><h1 ALIGN="center">KSIĘGA SIÓDMA<br>
  </font><font size="5">RADA</font></h1>
  <font SIZE="4"><h2 ALIGN="center">Treść:</h2>
  <h2 ALIGN="center">Zbawienne rady Bartka, zwanego Prusak - Głos żołnierski Maćka
  Chrzciciela - Głos polityczny pana Buchmana - Jankiel radzi ku zgodzie, którą Scyzoryk
  rozcina - Rzecz Gerwazego, z której okazują się wielkie skutki wymowy sejmowej -
  Protestacja starego Maćka - Nagłe przybycie posiłków wojennych zrywa naradę - Hejże
  na Soplice!</font></h2>
  <hr width="50%" size="1">
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z kolei Bartek poseł rzecz swą wyprowadzał;</p>
  <p ALIGN="JUSTIFY">Ten, że często na strugach do Królewca chadzał,</p>
  <p ALIGN="JUSTIFY">Nazwany był Prusakiem od swych spółrodaków</p>
  <p ALIGN="JUSTIFY">Przez żart, bo nienawidził okropnie Prusaków,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Choć lubił o nich gadać; człek podeszły w lata,</p>
  <p ALIGN="JUSTIFY">W podróżach swych dalekich wiele zwiedził świata;</p>
  <p ALIGN="JUSTIFY">Gazet pilny czytelnik, polityki świadom,</p>
  <p ALIGN="JUSTIFY">Mógł więc niemało światła udzielić obradom.</p>
  <p ALIGN="JUSTIFY">Ten tak rzecz kończył: </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Nie jest to, Panie Macieju,</p>
  <p ALIGN="JUSTIFY">Bracie mój, a nas wszystkich Ojcze Dobrodzieju,</p>
  <p ALIGN="JUSTIFY">Nie jest to marna pomoc. Ja bym na Francuzów</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Spuścił się w czasie wojny jak na czterech tuzów:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lud bitny, a od czasów pana Tadeusza</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kościuszki świat takiego nie miał genijusza</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojennego jak wielki Cesarz Bonaparte.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pamiętam, kiedy przeszli Francuzi przez Wartę,</p>
  <p ALIGN="JUSTIFY">Bawiłem za granicą wtenczas, w roku Pańskim</p>
  <p ALIGN="JUSTIFY">Tysiącznym osimsetnym szóstym; właśnie z Gdańskiem</p>
  <p ALIGN="JUSTIFY">Handlowałem, a krewnych mam wielu w Poznańskiem.</p>
  <p ALIGN="JUSTIFY">Jeździłem ich odwiedzić; więc z panem Józefem</p>
  <p ALIGN="JUSTIFY">Grabowskim, który teraz jest rejmentu szefem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A podówczas żył na wsi blisko Obiezierza,</p>
  <p ALIGN="JUSTIFY">Polowaliśmy sobie na małego źwierza.</p>
  <p ALIGN="JUSTIFY">Był pokój w Wielko - Polszcze, jak teraz na Litwie;</p>
  <p ALIGN="JUSTIFY">Wtem nagle rozeszła się wieść o strasznej bitwie;</p>
  <p ALIGN="JUSTIFY">Przybiegł do nas posłaniec od pana Todwena,</p>
  <p ALIGN="JUSTIFY">Grabowski list przeczytał, krzyknął: &lt;&lt;Jena! Jena!</p>
  <p ALIGN="JUSTIFY">Zbito Prusaków na łeb, na szyję, wygrana!&gt;&gt;</p>
  <p ALIGN="JUSTIFY">Ja, z konia zsiadłszy, zaraz padłem na kolana,</p>
  <p ALIGN="JUSTIFY">Dziękując Panu Bogu. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Do miasta jedziemy</p>
  <p ALIGN="JUSTIFY">Niby dla interesu, niby nic nie wiemy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Aż tu widzimy: wszystkie landraty, hofraty,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Komisarze i wszystkie podobne psubraty</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kłaniają się nam nisko; każdy drży, blednieje,</p>
  <p ALIGN="JUSTIFY">Jako owad prusaczy, gdy wrzątkiem kto zleje.</p>
  <p ALIGN="JUSTIFY">My śmiejąc się, trąc ręce, prosim uniżenie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">O nowinki? pytamy, co słychać o Jenie?</p>
  <p ALIGN="JUSTIFY">Tu ich strach zdjął, dziwią się, że o klęsce owej</p>
  <p ALIGN="JUSTIFY">Już wiemy; krzyczą Niemcy: &lt;&lt;Achary Got! o wej!&gt;&gt;</p>
  <p ALIGN="JUSTIFY">Spuściwszy nos, do domów, z domów dalej w nogi -</p>
  <p ALIGN="JUSTIFY">O, to był rwetes! Wszystkie wielkopolskie drogi</p>
  <p ALIGN="JUSTIFY">Pełne uciekających; niemczyska jak mrowie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pełzną, ciągną pojazdy, które lud tam zowie</p>
  <p ALIGN="JUSTIFY">Wageny i fornalki; mężczyźni, kobiety,</p>
  <p ALIGN="JUSTIFY">Z fajkami, z imbryczkami, wleką pudła, bety;</p>
  <p ALIGN="JUSTIFY">Drapią, jak mogą; a my milczkiem wchodzim w radę:</p>
  <p ALIGN="JUSTIFY">Hejże na koń, pomieszać Niemcom rejteradę!</p>
  <p ALIGN="JUSTIFY">Nuż landratom tłuc w karki, z hofratów drzeć schaby,</p>
  <p ALIGN="JUSTIFY">A herów oficerów łowić za harcaby -</p>
  <p ALIGN="JUSTIFY">A jenerał Dąbrowski wpada do Poznania</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I cesarski przynosi rozkaz: do powstania!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W tydzień jeden - tak lud nasz Prusaków wychłostał</p>
  <p ALIGN="JUSTIFY">I wygnał, na lekarstwo Niemca byś nie dostał!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Gdyby się tak obrócić i gracko, i raźnie,</p>
  <p ALIGN="JUSTIFY">I u nas w Litwie sprawić Moskwie taką łaźnię?</p>
  <p ALIGN="JUSTIFY">He? co myślisz, Macieju? Jeśli z Bonapartem</p>
  <p ALIGN="JUSTIFY">Moskwa drze koty, to on wojuje nie żartem:</p>
  <p ALIGN="JUSTIFY">Bohater pierwszy w świecie, a wojsk ma bez liku!</p>
  <p ALIGN="JUSTIFY">He, cóż myślisz, Macieju, nasz ojcze Króliku?&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skończył. Czekają wszyscy Macieja wyroku.</p>
  <p ALIGN="JUSTIFY">Maciej głowy nie ruszył ani podniósł wzroku,</p>
  <p ALIGN="JUSTIFY">Tylko ręką kilkakroć uderzył po boku,</p>
  <p ALIGN="JUSTIFY">Jak gdyby szabli szukał (od zaboru kraju</p>
  <p ALIGN="JUSTIFY">Szabli nie nosił; przecież z dawnego zwyczaju</p>
  <p ALIGN="JUSTIFY">Na wspomnienie Moskala zawsze rękę zwracał</p>
  <p ALIGN="JUSTIFY">Na lewy bok, zapewne Rózeczki swej macał;</p>
  <p ALIGN="JUSTIFY">I stąd był nazywany powszechnie Zabokiem).</p>
  <p ALIGN="JUSTIFY">Już wzniósł głowę, słuchają w milczeniu głębokiem.</p>
  <p ALIGN="JUSTIFY">Maciej oczekiwanie powszechne omylił,</p>
  <p ALIGN="JUSTIFY">Nachmurzył brwi i znowu głowę na pierś schylił.</p>
  <p ALIGN="JUSTIFY">Na koniec odezwał się, z wolna każde słowo</p>
  <p ALIGN="JUSTIFY">Wymawiając z przyciskiem, a w takt kiwał głową:</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Cicho! skądże ta cała nowina pochodzi?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak daleko Francuzi? Kto nimi dowodzi?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czy już wojnę zaczęli z Moskwą? gdzie i o co?</p>
  <p ALIGN="JUSTIFY">Którędy mają ciągnąć? z jaką idą mocą?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wiele piechoty, jazdy? Kto wie, niechaj gada!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Milczała, patrząc na się kolejno, gromada.</p>
  <p ALIGN="JUSTIFY">&quot;Radziłbym - rzecze Prusak - czekać bernardyna</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Robaka, bo od niego pochodzi nowina;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tymczasem posłać pewnych szpiegów nad granicę</p>
  <p ALIGN="JUSTIFY">I po cichu uzbrajać całą okolicę,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A tymczasem ostrożnie całą rzecz prowadzić,</p>
  <p ALIGN="JUSTIFY">Aby Moskalom naszych zamiarów nie zdradzić&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">He! czekać? szczekać? zwlekać? - </p>
  <p ALIGN="JUSTIFY">przerwał Maciej drugi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ochrzczony Kropicielem od wielkiej maczugi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Którą zwał Kropidełkiem; miał ją dziś przy sobie.</p>
  <p ALIGN="JUSTIFY">Stanął za nią, na gałce zwiesił ręce obie,</p>
  <p ALIGN="JUSTIFY">Na ręku oparł brodę krzycząc: &quot;Czekać! zwlekać!</p>
  <p ALIGN="JUSTIFY">Sejmikować! Hem, trem, brem, a potem uciekać.</p>
  <p ALIGN="JUSTIFY">Ja w Prusach nie bywałem; rozum królewiecki</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dobry dla Prus, a u mnie jest rozum szlachecki.</p>
  <p ALIGN="JUSTIFY">To wiem, że kto chce bić się, niech Kropidło chwyta,</p>
  <p ALIGN="JUSTIFY">Kto umierać, ten księdza niech woła, i kwita!</p>
  <p ALIGN="JUSTIFY">Ja chcę żyć, bić! Bernardyn po co? czy my żaki?</p>
  <p ALIGN="JUSTIFY">Co mi tam Robak! otóż my będziem robaki,</p>
  <p ALIGN="JUSTIFY">I dalej Moskwę toczyć! trem, bdrem, szpiegi, wzwiady;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wiecie wy, co to znaczy? - Oto, że wy dziady,</p>
  <p ALIGN="JUSTIFY">Niedołęgi! He, Bracia! to wyżla rzecz tropić,</p>
  <p ALIGN="JUSTIFY">Bernardyńska kwestować, a moja rzecz: kropić,</p>
  <p ALIGN="JUSTIFY">Kropić, kropić i kwita!&quot; - Tu maczugę głasnął,</p>
  <p ALIGN="JUSTIFY">Za nim cały tłum szlachty: &quot;Kropić, kropić!&quot; -
  wrzasnął.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Poparł stronę Chrzciciela Bartek, zwan Brzytewka,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Od szabli cienkiej, tudzież Maciej, zwan Konewka,</p>
  <p ALIGN="JUSTIFY">Od sztućca, który naszał, z gardłem tak szerokiem,</p>
  <p ALIGN="JUSTIFY">Że zeń, jak z konwi tuzin kulek lał potokiem;</p>
  <p ALIGN="JUSTIFY">Oba krzyczeli: &quot;Wiwat Chrzciciel z Kropidełkiem!&quot;</p>
  <p ALIGN="JUSTIFY">Prusak chciał mówić, ale zgłuszono go zgiełkiem</p>
  <p ALIGN="JUSTIFY">I śmiechem: &quot;Precz - wołano - precz Prusaki, tchórze!</p>
  <p ALIGN="JUSTIFY">Kto tchórz, niech w bernardyńskim chowa się kapturze&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem znowu głowę z wolna podniósł Maciej stary</p>
  <p ALIGN="JUSTIFY">I zaczęły cokolwiek uciszać się gwary.</p>
  <p ALIGN="JUSTIFY">&quot;Nie drwijcie - rzekł - z Robaka; </font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">znam go, to ćwik klecha,</p>
  <p ALIGN="JUSTIFY">Ten robaczek większego od was zgryzł orzecha;</p>
  <p ALIGN="JUSTIFY">Raz go tylko widziałem, ledwiem okiem rzucił,</p>
  <p ALIGN="JUSTIFY">Poznałem, co za ptaszek; ksiądz oczy odwrócił,</p>
  <p ALIGN="JUSTIFY">Lękając się, żebym go nie zaczął spowiadać;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale to rzecz nie moja, wiele o tym gadać!</p>
  <p ALIGN="JUSTIFY">On tu nie przyjdzie, próżno wzywać Bernardyna.</p>
  <p ALIGN="JUSTIFY">Jeśli od niego wyszła ta cała nowina,</p>
  <p ALIGN="JUSTIFY">To kto wie, w jakim celu: bo to bies księżyna!</p>
  <p ALIGN="JUSTIFY">Jeśli prócz tej nowiny nic więcej nie wiecie,</p>
  <p ALIGN="JUSTIFY">Więc po coście tu przyszli? i czego wy chcecie?&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Wojny!&quot; - krzyknęli. - &quot;Jakiej?&quot; -
  spytał. - Zawołali:</p>
  <p ALIGN="JUSTIFY">&quot;Wojny z Moskalem! bić się! Hajże na Moskali!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Prusak wciąż wołał, a głos coraz wyżej wznosił,</p>
  <p ALIGN="JUSTIFY">Aż posłuchanie częścią ukłonem wyprosił,</p>
  <p ALIGN="JUSTIFY">Częścią zdobył swą mową krzykliwą i cienką.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;I ja chcę bić się - wołał, tłukąc się w
  pierś ręką -</p>
  <p ALIGN="JUSTIFY">Choć kropidła nie noszę, drągiem od wiciny</p>
  <p ALIGN="JUSTIFY">Sprawiłem raz Prusakom czterem dobre chrzciny,</p>
  <p ALIGN="JUSTIFY">Którzy mię po pjanemu chcieli w Preglu topić&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Toś zuch, Bartku - rzekł Chrzciciel -</font></p>
  <p ALIGN="JUSTIFY"><font SIZE="4">dobrze! kropić kropić!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Ależ, najsłodszy Jezu! trzeba pierwej wiedzieć,</p>
  <p ALIGN="JUSTIFY">Z kim wojna? o co? Trzeba to światu powiedzieć -</p>
  <p ALIGN="JUSTIFY">Wołał Prusak - bo jakże lud ruszy za nami?</p>
  <p ALIGN="JUSTIFY">Gdzie pójdzie, kiedy, gdzie iść, my nie wiemy sami!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bracia Szlachta! Panowie! potrzeba rozsądku!</p>
  <p ALIGN="JUSTIFY">Dobrodzieje! potrzeba ładu i porządku!</p>
  <p ALIGN="JUSTIFY">Chcecie wojny, więc zróbmy konfederacyją,</p>
  <p ALIGN="JUSTIFY">Obmyślmy, gdzie zawiązać i pod laską czyją?</p>
  <p ALIGN="JUSTIFY">Tak było w Wielko - Polszcze: widzim rejteradę</p>
  <p ALIGN="JUSTIFY">Niemiecką, cóż my robim! Wchodzim tajnie w radę,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Uzbrajamy i szlachtę, i włościan gromadę,</p>
  <p ALIGN="JUSTIFY">Gotowi, Dąbrowskiego czekamy rozkazu,</p>
  <p ALIGN="JUSTIFY">Na koniec, hajże na koń! powstajem od razu!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Proszę o głos!&quot; - zawołał pan komisarz z
  Klecka,</p>
  <p ALIGN="JUSTIFY">Człowiek młody, przystojny, ubrany z niemiecka;</p>
  <p ALIGN="JUSTIFY">Zwał się Buchman, lecz Polak był, w Polszcze się rodził;</p>
  <p ALIGN="JUSTIFY">Nie wiedzieć pewnie, czyli ze szlachty pochodził,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz o to nie pytano; i wszyscy Buchmana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szacowali, iż służył u wielkiego pana.</p>
  <p ALIGN="JUSTIFY">Był dobry patryjota i pełen nauki,</p>
  <p ALIGN="JUSTIFY">Z ksiąg obcych wyuczył się gospodarstwa sztuki</p>
  <p ALIGN="JUSTIFY">I dóbr administracją prowadził porządnie;</p>
  <p ALIGN="JUSTIFY">O polityce także wnioskował rozsądnie,</p>
  <p ALIGN="JUSTIFY">Pięknie pisać i gładko umiał się wysławiać,</p>
  <p ALIGN="JUSTIFY">Zatem umilkli wszyscy, kiedy jął rozprawiać.</p>
  <p ALIGN="JUSTIFY">&quot;Proszę o głos!&quot; - powtórzył, po dwakroć odchrząknął,</p>
  <p ALIGN="JUSTIFY">Ukłonił się i usty dźwięcznemi tak brząknął:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Preopinanci moi w swych głosach wymownych</p>
  <p ALIGN="JUSTIFY">Dotknęli wszystkich punktów stanowczych i głownych,</p>
  <p ALIGN="JUSTIFY">Dyskusyją na wyższe wznieśli stanowisko;</p>
  <p ALIGN="JUSTIFY">Mnie tylko pozostaje w jedno zjąć ognisko</p>
  <p ALIGN="JUSTIFY">Rzucone trafne myśli i rozumowania;</p>
  <p ALIGN="JUSTIFY">Mam nadzieję w ten sposób sprzeczne zgodzić zdania.</p>
  <p ALIGN="JUSTIFY">Dwie części dyskusyi całej uważałem,</p>
  <p ALIGN="JUSTIFY">Podział już jest zrobiony, idę tym podziałem.</p>
  <p ALIGN="JUSTIFY">Naprzód: dlaczego mamy przedsiębrać powstanie?</p>
  <p ALIGN="JUSTIFY">W jakim duchu? to pierwsze żywotne pytanie;</p>
  <p ALIGN="JUSTIFY">Drugie rewolucyjnej władzy się dotycze;</p>
  <p ALIGN="JUSTIFY">Podział jest trafny, tylko przewrócić go życzę.</p>
  <p ALIGN="JUSTIFY">Naprzód zacząć od władzy; skoro pojmiem władzę,</p>
  <p ALIGN="JUSTIFY">Z niej powstania istotę, duch, cel wyprowadzę.</p>
  <p ALIGN="JUSTIFY">Co do władzy więc - kiedy oczyma przebiegam</p>
  <p ALIGN="JUSTIFY">Dzieje całej ludzkości, i cóż w nich spostrzegam?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oto ród ludzki dziki, w lasach rozpierzchniony,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Skupia się, zbiera, łączy dla wspólnej obrony,</p>
  <p ALIGN="JUSTIFY">Obmyśla ją; i to jest najpierwsza obrada.</p>
  <p ALIGN="JUSTIFY">Potem każdy wolności własnej cząstkę składa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dla dobra powszechnego: to pierwsza ustawa,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z której jako ze źródła płyną wszystkie prawa.</p>
  <p ALIGN="JUSTIFY">Widzimy tedy, że rząd umową się tworzy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie pochodząc, jak mylnie sądzą, z woli Boż?j.</p>
  <p ALIGN="JUSTIFY">Owoż, rząd na kontrakcie oparłszy społecznym,</p>
  <p ALIGN="JUSTIFY">Podział władzy już tylko jest skutkiem koniecznym...&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Otóż są i kontrakty! kijowskie czy mińskie? -</p>
  <p ALIGN="JUSTIFY">Rzekł stary Maciej - owoż i rządy babińskie!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Panie Buchman, czy Bóg nam chciał cara narzucić,</p>
  <p ALIGN="JUSTIFY">Czy diabeł, ja z Waszecią nie będę się kłócić;</p>
  <p ALIGN="JUSTIFY">Panie Buchman, gadaj Waść, jakby cara zrucić&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Tu sęk! - krzyknął Kropiciel - gdybym mógł
  podskoczyć</p>
  <p ALIGN="JUSTIFY">Do tronu i Kropidłem, plusk, raz cara zmoczyć,</p>
  <p ALIGN="JUSTIFY">To już by on nie wrócił ni kijowskim traktem,</p>
  <p ALIGN="JUSTIFY">Ni mińskim, ni za żadnym Buchmana kontraktem,</p>
  <p ALIGN="JUSTIFY">Aniby go wskrzesili z mocy Bożej popi,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ni z mocy Belzebuba - ten mi zuch, kto kropi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Panie Buchman, Waścina rzecz bardzo wymowna,</p>
  <p ALIGN="JUSTIFY">Ale wymowa - szum, drum; kropić - to rzecz głowna&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  </font><p ALIGN="JUSTIFY"><font SIZE="4">&quot;To, to, to!&quot; - pisnął, ręce trąc,
  Bartek Brzytewka,</p>
  <p ALIGN="JUSTIFY">Od Chrzciciela do Maćka biegając jak cewka,</p>
  <p ALIGN="JUSTIFY">Od jednej strony krosien przerzucana w drugą -</p>
  <p ALIGN="JUSTIFY">&quot;Tylko ty, Maćku z Rózgą, ty, Maćku z maczugą,</p>
  <p ALIGN="JUSTIFY">Tylko zgodźcie się, dalbóg, pobijem na druzgi</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Moskala; Brzytew idzie pod komendę Rózgi&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Komenda - przerwał Chrzciciel - dobra ku
  paradzie;</p>
  <p ALIGN="JUSTIFY">U nas była komenda w kowieńskiej brygadzie</p>
  <p ALIGN="JUSTIFY">Krótka a węzłowata: Strasz, sam się nie strachaj -</p>
  <p ALIGN="JUSTIFY">Bij, nie daj się - postępuj często, gęsto machaj:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szach, mach!&quot;</p>
  </font><p ALIGN="JUSTIFY"><font SIZE="4">&quot;To - pisnął Brzytwa - to mi regulament!</p>
  <p ALIGN="JUSTIFY">Po co tu pisać akta, po co psuć atrament?</p>
  <p ALIGN="JUSTIFY">Konfederacji trzeba? O to cała sprzeczka?</p>
  <p ALIGN="JUSTIFY">Jest marszałek nasz Maciej, a laska Rózeczka&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Niech żyje - krzyknął Chrzciciel - Kurek na kościele!&quot;</p>
  <p ALIGN="JUSTIFY">Szlachta odpowiedziała: &quot;Wiwant Kropiciele!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale w kątach szmer powstał, choć w środku tłumiony;</p>
  <p ALIGN="JUSTIFY">Widać, że się rozdziela rada na dwie strony.</p>
  <p ALIGN="JUSTIFY">Buchman krzyknął: &quot;Ja zgody nigdy nie pochwalam!</p>
  <p ALIGN="JUSTIFY">To mój system!&quot; Ktoś drugi wrzasnął: &quot;Nie pozwalam!&quot;</p>
  <p ALIGN="JUSTIFY">Inni z kątów wtórują. Nareszcie głos gruby</p>
  <p ALIGN="JUSTIFY">Ozwał się przybyłego szlachcica Skołuby:</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Cóż to, Państwo Dobrzyńscy! a to co się
  święci?</p>
  <p ALIGN="JUSTIFY">A my czy to będziemy spod prawa wyjęci?</p>
  <p ALIGN="JUSTIFY">Kiedy nas zapraszano z naszego zaścianku,</p>
  <p ALIGN="JUSTIFY">A zapraszał nas klucznik Rębajło Mopanku,</p>
  <p ALIGN="JUSTIFY">Mówiono nam, że wielkie rzeczy dziać się miały,</p>
  <p ALIGN="JUSTIFY">Że tu nie o Dobrzyńskich, lecz o powiat cały,</p>
  <p ALIGN="JUSTIFY">O całą szlachtę idzie; toż i Robak bąkał,</p>
  <p ALIGN="JUSTIFY">Choć nigdy nie dokończył i zawsze się jąkał,</p>
  <p ALIGN="JUSTIFY">I ciemno się tłumaczył; wreszcie, koniec końców,</p>
  <p ALIGN="JUSTIFY">My zjechali, sąsiadów wezwali przez gońców.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie sami tu, Panowie Dobrzyńscy, jesteście;</p>
  <p ALIGN="JUSTIFY">Z różnych innych zaścianków jest tu nas ze dwieście;</p>
  <p ALIGN="JUSTIFY">Wszyscy więc radźmy. Jeśli potrzeba marszałka,</p>
  <p ALIGN="JUSTIFY">Głosujmy wszyscy; równa u każdego gałka.</p>
  <p ALIGN="JUSTIFY">Niech żyje równość!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Zatem dwaj Terajewicze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I czterej Stupułkowscy, i trzej Mickiewicze</p>
  <p ALIGN="JUSTIFY">Krzyknęli: &quot;Wiwat równość!&quot; - stojąc za Skołubą.</p>
  <p ALIGN="JUSTIFY">Tymczasem Buchman wołał: &quot;Zgoda będzie zgubą!&quot;</p>
  <p ALIGN="JUSTIFY">Kropiciel krzyczał: &quot;Bez was obejdziem się sami;</p>
  <p ALIGN="JUSTIFY">Niech żyje nasz marszałek, Maciek nad Maćkami!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hej, do laski!&quot; Dobrzyńscy krzyczą:
  &quot;Zapraszamy!&quot;</p>
  <p ALIGN="JUSTIFY">A obca szlachta woła w głos: &quot;Nie pozwalamy!&quot;</p>
  <p ALIGN="JUSTIFY">Rozstrycha się tłum na dwie kupy rozdzielony</p>
  <p ALIGN="JUSTIFY">I kiwając głowami w dwie przeciwne strony,</p>
  <p ALIGN="JUSTIFY">Tamci: &quot;Nie pozwalamy!&quot; - ci krzyczą: &quot;Prosiemy!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Maciek stary w pośrodku jeden siedział niemy</p>
  <p ALIGN="JUSTIFY">I jedna głowa jego była nieruchoma.</p>
  <p ALIGN="JUSTIFY">Przeciw niemu stał Chrzciciel, zwieszony rękoma</p>
  <p ALIGN="JUSTIFY">Na maczudze, a głową na końcu maczugi</p>
  <p ALIGN="JUSTIFY">Wspartą kręcił jak tykwą wbitą na kij długi</p>
  <p ALIGN="JUSTIFY">I na przemiany to w tył, to się naprzód kiwał,</p>
  <p ALIGN="JUSTIFY">I ustawicznie: &quot;Kropić, kropić!&quot; wykrzykiwał.</p>
  <p ALIGN="JUSTIFY">Wzdłuż izby zaś przebiegał Brzytewka ruchawy</p>
  <p ALIGN="JUSTIFY">Ciągle od Kropiciela do Macieja ławy.</p>
  <p ALIGN="JUSTIFY">Konewka zaś powoli wszerz izbę przechodził</p>
  <p ALIGN="JUSTIFY">Od Dobrzyńskich do szlachty, niby to ich godził;</p>
  <p ALIGN="JUSTIFY">Jeden wciąż wołał: &quot;Golić!&quot; - a drugi:
  &quot;Zalewać!&quot;</p>
  <p ALIGN="JUSTIFY">Maciek milczał, lecz widno, że się zaczął gniewać.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ćwierć godziny wrzał hałas, gdy nad tłum
  wrzeszczący,</p>
  <p ALIGN="JUSTIFY">Ze środka głów, wyskoczył w górę słup błyszczący:</p>
  <p ALIGN="JUSTIFY">Był to rapier sążnistej długości, szeroki</p>
  <p ALIGN="JUSTIFY">Na całą piędź, a sieczny na obadwa boki.</p>
  <p ALIGN="JUSTIFY">Widocznie miecz teutoński, z norymberskiej stali</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ukuty; wszyscy milcząc na broń poglądali.</p>
  <p ALIGN="JUSTIFY">Kto ją podniósł? nie widać, lecz zaraz zgadniono:</p>
  <p ALIGN="JUSTIFY">&quot;To Scyzoryk! Niech żyje Scyzoryk! - krzykniono -</p>
  <p ALIGN="JUSTIFY">Wiwat Scyzoryk, klejnot Rębajłów zaścianku!</p>
  <p ALIGN="JUSTIFY">Wiwat Rębajło, Szczerbiec, Półkozic, Mopanku!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Wnet Gerwazy (to on był) przez tłum się przecisnął</p>
  <p ALIGN="JUSTIFY">Na środek izby, wkoło Scyzorykiem błysnął,</p>
  <p ALIGN="JUSTIFY">Potem, w dół chyląc ostrze na znak powitania</p>
  <p ALIGN="JUSTIFY">Przed Maćkiem, rzekł: &quot;Rózeczce Scyzoryk się kłania.</p>
  <p ALIGN="JUSTIFY">Bracia szlachta Dobrzyńscy! Ja nie będę radził</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nic a nic, powiem tylko, po com Was zgromadził,</p>
  <p ALIGN="JUSTIFY">A co robić, jak robić, decydujcie sami.</p>
  <p ALIGN="JUSTIFY">Wiecie, słuch dawno chodzi między zaściankami,</p>
  <p ALIGN="JUSTIFY">Że się na wielkie rzeczy zanosi na świecie;</p>
  <p ALIGN="JUSTIFY">Ksiądz Robak o tem gadał, wszakże wszyscy wiecie?&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Wiemy!&quot; - krzyknęli. - &quot;Dobrze. Owoż mądrej głowie
  -</p>
  <p ALIGN="JUSTIFY">Ciągnął mowca spojrzawszy bystro - dość dwie słowie,</p>
  <p ALIGN="JUSTIFY">Nieprawdaż?&quot; &quot;Prawda!&quot; - rzekli. - &quot;Gdy cesarz
  francuski -</p>
  <p ALIGN="JUSTIFY">Rzekł Klucznik - stąd przyciąga, a stamtąd car ruski:</p>
  <p ALIGN="JUSTIFY">Więc wojna, car z cesarzem, królowie z królami</p>
  <p ALIGN="JUSTIFY">Pójdą za łby, jak zwykle między monarchami;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A nam czy siedzieć cicho? Gdy wielki wielkiego</p>
  <p ALIGN="JUSTIFY">Będzie dusić, my duśmy mniejszych, każdy swego.</p>
  <p ALIGN="JUSTIFY">Z góry i z dołu, wielcy wielkich, małych mali,</p>
  <p ALIGN="JUSTIFY">Jak zaczniem ciąć, tak całe szelmostwo się zwali</p>
  <p ALIGN="JUSTIFY">I tak zakwitnie szczęście i Rzeczpospolita.</p>
  <p ALIGN="JUSTIFY">Nieprawdaż?&quot; </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Prawda! - rzekli - jakby z książki czyta&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Prawda! - powtórzył Chrzciciel - krop a krop, i kwita&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Ja zawsze gotów golić&quot; - ozwał się Brzytewka.</p>
  <p ALIGN="JUSTIFY">&quot;Tylko zgodźcie się - prosił uprzejmie Konewka -</p>
  <p ALIGN="JUSTIFY">Chrzcicielu i Macieju, pod czyją iść wodzą&quot;.</p>
  <p ALIGN="JUSTIFY">Ale mu przerwał Buchman: &quot;Niech się głupi godzą!</p>
  <p ALIGN="JUSTIFY">Dyskusyje publicznej sprawie nie zaszkodzą.</p>
  <p ALIGN="JUSTIFY">Proszę milczeć! Słuchamy! Sprawa na tem zyska,</p>
  <p ALIGN="JUSTIFY">Pan Klucznik ją z nowego zważa stanowiska&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Owszem - zawołał Klucznik - u mnie po staremu:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">O wielkich rzeczach myśleć należy wielkiemu;</p>
  <p ALIGN="JUSTIFY">Jest na to cesarz, będzie król, senat, posłowie.</p>
  <p ALIGN="JUSTIFY">Takie rzeczy, Mopanku, robią się w Krakowie</p>
  <p ALIGN="JUSTIFY">Lub w Warszawie, nie u nas, w zaścianku, w Dobrzynie;</p>
  <p ALIGN="JUSTIFY">Aktów konfederackich nie piszą w kominie</p>
  <p ALIGN="JUSTIFY">Kredą, nie na wicinie, lecz na pergaminie:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie nam to pisać akta, ma Polska pisarzy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Koronnych i litewskich, tak robili starzy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Moja rzecz Scyzorykiem wyrzynać&quot;. -
  &quot;Kropidłem</p>
  <p ALIGN="JUSTIFY">Pluskać&quot; - dodał Kropiciel. - &quot;I wykalać Szydłem&quot; -</p>
  <p ALIGN="JUSTIFY">Krzyknął Bartek Szydełko, dobywszy swej szpadki.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Wszystkich was - kończył Klucznik - biorę tu na świadki,</p>
  <p ALIGN="JUSTIFY">Czy Robak nie powiadał, że wprzód nim przyjmiecie</p>
  <p ALIGN="JUSTIFY">W dom wasz Napoleona, trzeba wymieść śmiecie?</p>
  <p ALIGN="JUSTIFY">Słyszeliście to wszyscy, a czy rozumiecie?</p>
  <p ALIGN="JUSTIFY">Któż jest śmieciem powiatu? Kto zdradziecko zabił</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Najlepszego z Polaków, kto go okradł, zgrabił?</p>
  <p ALIGN="JUSTIFY">I jeszcze chce ostatki wydrzeć z rąk dziedzica?</p>
  <p ALIGN="JUSTIFY">Któż to? Mamże wam gadać?&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;A jużci Soplica -</p>
  <p ALIGN="JUSTIFY">Przerwał Konewka - to łotr!&quot; - &quot;Oj, to
  ciemiężyciel!&quot; -</p>
  <p ALIGN="JUSTIFY">Pisnął Brzytewka. - &quot;Więc go kropić!&quot; - dodał
  Chrzciciel.</p>
  <p ALIGN="JUSTIFY">&quot;Jeśli zdrajca - rzekł Buchman - więc na szubienicę!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Hejże! - krzyknęli wszyscy - hajże na Soplicę!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz Prusak śmiał podjąć się Sędziego obrony</p>
  <p ALIGN="JUSTIFY">I wołał z wzniesionemi ku szlachcie ramiony:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Panowie Bracia! aj! aj! a na boskie rany!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co znowu? Panie Klucznik, czy Waść opętany?</p>
  <p ALIGN="JUSTIFY">Czy o tem była mowa? że ktoś miał wariata,</p>
  <p ALIGN="JUSTIFY">Banita bratem, to co? karać go za brata!</p>
  <p ALIGN="JUSTIFY">To mi po chrześcijańsku! Są tu w tym konszachty</p>
  <p ALIGN="JUSTIFY">Hrabiego. - Żeby Sędzia był ciężki dla szlachty,</p>
  <p ALIGN="JUSTIFY">Nieprawda! dalibógże! to wy tylko sami</p>
  <p ALIGN="JUSTIFY">Pozywacie go, a on zgody szuka z wami,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ustępuje ze swego, jeszcze grzywny płaci,</p>
  <p ALIGN="JUSTIFY">Ma proces z Hrabią, cóż stąd? obadwa bogaci;</p>
  <p ALIGN="JUSTIFY">Niechaj pan drze się z panem, cóż to do nas braci?</p>
  <p ALIGN="JUSTIFY">Pan Sędzia ciemiężyciel! On pierwszy zabraniał,</p>
  <p ALIGN="JUSTIFY">Ażeby się chłop przed nim do ziemi nie kłaniał,</p>
  <p ALIGN="JUSTIFY">Mówiąc, że to grzech. Nieraz u niego gromada</p>
  <p ALIGN="JUSTIFY">Chłopska, ja sam widziałem, do stołu z nim siada;</p>
  <p ALIGN="JUSTIFY">Płacił za włość podatki, a nie tak jest w Klecku,</p>
  <p ALIGN="JUSTIFY">Choć tam Waść, Panie Buchman, rządzisz po niemiecku.</p>
  <p ALIGN="JUSTIFY">Sędzia zdrajca! - My się z nim od infimy znamy:</p>
  <p ALIGN="JUSTIFY">Poczciwe było dziecko i dziś taki samy;</p>
  <p ALIGN="JUSTIFY">Polskę kocha nad wszystko, polskie obyczaje</p>
  <p ALIGN="JUSTIFY">Chowa, modom moskiewskim przystępu nie daje.</p>
  <p ALIGN="JUSTIFY">Ilekroć z Prus powracam, chcąc zmyć się z niemczyzny,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wpadam do Soplicowa jak w centrum polszczyzny:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam się człowiek napije, nadysze Ojczyzny!</p>
  <p ALIGN="JUSTIFY">Dalbóg, Dobrzyńscy! ja wasz brat, ale Sędziego</p>
  <p ALIGN="JUSTIFY">Nie pozwolę pokrzywdzić, nie będzie nic z tego.</p>
  <p ALIGN="JUSTIFY">Nie tak, Panowie Bracia, w Wielko - Polszcze było:</p>
  <p ALIGN="JUSTIFY">Co za duch! co za zgoda! aż przypomnieć miło!</p>
  <p ALIGN="JUSTIFY">Nikt tam podobną fraszką nie śmiał rady mieszać!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;To nie fraszka - zawołał Klucznik - łotrów
  wieszać!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szmer wzmagał się; wtem Jankiel posłuchania prosił,</p>
  <p ALIGN="JUSTIFY">Na ławę wskoczył, stanął i nad głowy wznosił</p>
  <p ALIGN="JUSTIFY">Brodę jak wiechę, co mu aż do pasa wisi;</p>
  <p ALIGN="JUSTIFY">Prawą ręką zdjął z wolna z głowy kołpak lisi,</p>
  <p ALIGN="JUSTIFY">Lewą ręką jarmułkę zruszoną poprawił,</p>
  <p ALIGN="JUSTIFY">Potem lewicę za pas zatknął i tak prawił,</p>
  <p ALIGN="JUSTIFY">Kołpakiem lisim w kolej kłaniając się nisko</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Nu, Panowie Dobrzyńscy, ja sobie żydzisko;</p>
  <p ALIGN="JUSTIFY">Mnie Sędzia ni brat, ni swat; szanuję Sopliców,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak panów bardzo dobrych i moich dziedziców;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Szanuję też Dobrzyńskich Bartków i Maciejów,</p>
  <p ALIGN="JUSTIFY">Jako dobrych sąsiadów, panów dobrodziejów;</p>
  <p ALIGN="JUSTIFY">A mówię tak: jeżeli Państwo chcą gwałt zrobić</p>
  <p ALIGN="JUSTIFY">Sędziemu, to bardzo źle; możecie się pobić,</p>
  <p ALIGN="JUSTIFY">Zabić... - A asesory? a sprawnik? a turma?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo w wiosce u Soplicy jest żołnierzy hurma,</p>
  <p ALIGN="JUSTIFY">Wszystko jegry! Asesor w domu; tylko świśnie,</p>
  <p ALIGN="JUSTIFY">Tak wraz przymaszerują, stoją jak umyślnie.</p>
  <p ALIGN="JUSTIFY">A co będzie? A jeśli czekacie Francuza,</p>
  <p ALIGN="JUSTIFY">To Francuz jest daleko jeszcze, droga duża.</p>
  <p ALIGN="JUSTIFY">Ja Żyd, o wojnach nie wiem, a byłem w Bielicy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I widziałem tam żydków od samej granicy;</p>
  <p ALIGN="JUSTIFY">Słychać, że Francuz stoi nad rzeką Łososną,</p>
  <p ALIGN="JUSTIFY">A wojna jeśli będzie, to chyba aż wiosną.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nu, mówię tak: czekajcie; wszak dwór Soplicowa</p>
  <p ALIGN="JUSTIFY">Nie budka kramna, co się rozbierze, w wóz schowa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I pojedzie - dwór jak stał, do wiosny stać będzie;</p>
  <p ALIGN="JUSTIFY">A pan Sędzia to nie jest żydek na arendzie,</p>
  <p ALIGN="JUSTIFY">Nie uciecze, to jego można znaleźć wiosną;</p>
  <p ALIGN="JUSTIFY">A teraz rozejdźcie się, a nie gadać głośno</p>
  <p ALIGN="JUSTIFY">O tem, co było, bo to gadać, to daremno!</p>
  <p ALIGN="JUSTIFY">A czyja łaska Panów Szlachty, proszę ze mną.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Moja Siora powiła małego Jankielka,</p>
  <p ALIGN="JUSTIFY">Ja dziś traktuję wszystkich, a muzyka wielka!</p>
  <p ALIGN="JUSTIFY">Każę przynieść kozicę, basetlę, dwie skrzypiec,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A pan Maciej Dobrodziej lubi stary lipiec</p>
  <p ALIGN="JUSTIFY">I nowego mazurka; mam nowe mazurki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A wyuczyłem śpiewać fein moje bachurki&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Wymowa lubionego powszechnie Jankiela</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Trafiała do serc; powstał krzyk, oklask wesela,</p>
  <p ALIGN="JUSTIFY">Szmer przyzwolenia nawet za domem się szerzył,</p>
  <p ALIGN="JUSTIFY">Gdy Gerwazy w Jankiela Scyzorykiem zmierzył.</p>
  <p ALIGN="JUSTIFY">Żyd skoczył, wpadł w tłum;</p>
  <p ALIGN="JUSTIFY">Klucznik wołał: &quot;Precz stąd, Żydzie!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie tkaj palców między drzwi, nie o ciebie idzie!</p>
  <p ALIGN="JUSTIFY">Panie Prusak! że Waszeć sędziowską handlujesz</p>
  <p ALIGN="JUSTIFY">Parą wicin mizernych, to już zań gardłujesz?</p>
  <p ALIGN="JUSTIFY">Zapomniałeś, Mopanku, że ojciec Wasz?cin</p>
  <p ALIGN="JUSTIFY">Spławiał do Prus dwadzieście Horeszkowskich wicin?</p>
  <p ALIGN="JUSTIFY">Stąd się zbogacił i on, i jego rodzina;</p>
  <p ALIGN="JUSTIFY">Ba, nawet wszyscy, ilu was tu jest z Dobrzyna.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo pamiętacie, starzy, słyszeliście młodzi,</p>
  <p ALIGN="JUSTIFY">Że Stolnik był was wszystkich ojciec i dobrodzi?j:</p>
  <p ALIGN="JUSTIFY">Kogoż on komisarzem słał do swych dóbr pińskich?</p>
  <p ALIGN="JUSTIFY">Dobrzyńskiego! Rachmistrzów kogo miał? Dobrzyńskich!</p>
  <p ALIGN="JUSTIFY">Marszałkostwa, kredensu nie zwierzał nikomu,</p>
  <p ALIGN="JUSTIFY">Tylko Dobrzyńskim: pełno Dobrzyńskich miał w domu!</p>
  <p ALIGN="JUSTIFY">On forytował wasze w trybunałach sprawy,</p>
  <p ALIGN="JUSTIFY">On wyrabiał u króla dla was chleb łaskawy,</p>
  <p ALIGN="JUSTIFY">Dzieci wasze kopami pomieszczał w konwikcie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pijarskim, na swym koszcie, odzieży i wikcie;</p>
  <p ALIGN="JUSTIFY">Dorosłych promowował także swym nakładem.</p>
  <p ALIGN="JUSTIFY">A dlaczego to robił? Że wam był sąsiadem!</p>
  <p ALIGN="JUSTIFY">Dziś Soplica kopcami tyka waszych granic;</p>
  <p ALIGN="JUSTIFY">Cóż kiedy wam dobrego zrobił on?&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Nic a nic! -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przerwał Konewka - bo to wyrosło z szlachciury,</p>
  <p ALIGN="JUSTIFY">A jak dmie się, phu phu phu, jak nos drze do góry!</p>
  <p ALIGN="JUSTIFY">Pamiętacie, prosiłem na córki wesele;</p>
  <p ALIGN="JUSTIFY">Poję, nie chce pić, mówi: &lt;&lt;Nie piję tak wiele</p>
  <p ALIGN="JUSTIFY">Jak wy szlachta; wy szlachta ciągniecie jak bąki!&gt;&gt;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ot, magnat! delikacik z marymonckiej mąki!</p>
  <p ALIGN="JUSTIFY">Nie pił, leliśmy w gardło; krzyczał: &lt;&lt;Gwałt się
  dzieje!&gt;&gt;</p>
  <p ALIGN="JUSTIFY">Czekaj no, niech no ja mu z Konewki naleję&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Filut - zawołał Chrzciciel - oj, i ja go kropnę</p>
  <p ALIGN="JUSTIFY">Za swoje. Mój syn - było to dziecko roztropne,</p>
  <p ALIGN="JUSTIFY">Teraz tak zgłupiał, że go nazywają Sakiem.</p>
  <p ALIGN="JUSTIFY">A z przyczyny Sędziego został głupcem takim.</p>
  <p ALIGN="JUSTIFY">Mówiłem: &lt;&lt;Po co tobie leźć do Soplicowa?</p>
  <p ALIGN="JUSTIFY">Jeżeli cię tam złowię, niech cię Bóg uchowa!&gt;&gt;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">On znowu smyk do Zosi, dybie przez konopie;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Złowiłem go, a zatem za uszy i kropię;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A on beczy i beczy jak maleńkie chłopie:</p>
  <p ALIGN="JUSTIFY">&lt;&lt;Ojcze, choć zabij, muszę tam iść&gt;&gt; - a wciąż
  szlocha .</p>
  <p ALIGN="JUSTIFY">Co tobie? A on mówi, że tę Zosię kocha!</p>
  <p ALIGN="JUSTIFY">Chciałby popatrzyć na nią! Żal mi nieboraka;</p>
  <p ALIGN="JUSTIFY">Mówię Sędziemu: &lt;&lt;Sędzio, daj Zosię dla Saka!&gt;&gt;</p>
  <p ALIGN="JUSTIFY">On mówi: &lt;&lt;Jeszcze mała, czekaj ze trzy lata,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jak sama zechce&gt;&gt;. Łotr! łże, już ją komuś
  swata.</p>
  <p ALIGN="JUSTIFY">Słyszałem; już ja się tam na wesele wkręcę,</p>
  <p ALIGN="JUSTIFY">Ja im łoże małżeńskie Kropidłem poświęcę&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;I taki łotr - zawołał Klucznik - ma panować?</p>
  <p ALIGN="JUSTIFY">I dawnych panów, lepszych od siebie, rujnować?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A Horeszków i pamięć, i imię zaginie!</p>
  <p ALIGN="JUSTIFY">Gdzież jest wdzięczność na świecie? </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">- nie ma jej w Dobrzynie.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bracia! chcecie bój z ruskim wieść imperatorem,</p>
  <p ALIGN="JUSTIFY">A boicie się wojny z Soplicowskim dworem?</p>
  <p ALIGN="JUSTIFY">Strach wam turmy! czyż to ja wzywam na rozboje?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Broń Boże! Szlachta Bracia! ja przy prawie stoję.</p>
  <p ALIGN="JUSTIFY">Wszak Hrabia wygrał, zyskał dekretów niemało;</p>
  <p ALIGN="JUSTIFY">Tylko je egzekwować! Tak dawniej bywało:</p>
  <p ALIGN="JUSTIFY">Trybunał pisał dekret, szlachta wypełniała,</p>
  <p ALIGN="JUSTIFY">A szczególniej Dobrzyńscy, i stąd wasza chwała</p>
  <p ALIGN="JUSTIFY">Urosła w Litwie! </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszakże to Dobrzyńscy sami</p>
  <p ALIGN="JUSTIFY">Bili się na zajeździe myskim z Moskalami,</p>
  <p ALIGN="JUSTIFY">Których przywiódł jenerał ruski Wojniłowicz</p>
  <p ALIGN="JUSTIFY">I łotr, przyjaciel jego, pan Wołk z Ługomowicz;</p>
  <p ALIGN="JUSTIFY">Pamiętacie, jak Wołka wzięliśmy w niewolę,</p>
  <p ALIGN="JUSTIFY">Jak chcieliśmy go wieszać na belce w stodole,</p>
  <p ALIGN="JUSTIFY">Iż był tyran dla chłopstwa, a sługa Moskali;</p>
  <p ALIGN="JUSTIFY">Ale się chłopi głupi nad nim zlitowali!</p>
  <p ALIGN="JUSTIFY">(Upiec go muszę kiedyś na tym Scyzoryku).</p>
  <p ALIGN="JUSTIFY">Nie wspomnę innych wielkich zajazdów bez liku,</p>
  <p ALIGN="JUSTIFY">Z których wyszliśmy zawsze, jak szlachcie przystało,</p>
  <p ALIGN="JUSTIFY">I z zyskiem, i aplauzem powszechnym, i z chwałą!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po cóż o tem wspominać! Dziś darmo pan Hrabia,</p>
  <p ALIGN="JUSTIFY">Sąsiad wasz, sprawę toczy, dekrety wyrabia,</p>
  <p ALIGN="JUSTIFY">Już nikt z was pomóc nie chce biednemu sierocie!</p>
  <p ALIGN="JUSTIFY">Dziedzic Stolnika, tego, który żywił krocie,</p>
  <p ALIGN="JUSTIFY">Dziś nie ma przyjaciela oprocz mnie - Klucznika,</p>
  <p ALIGN="JUSTIFY">I ot, tego wiernego mego Scyzoryka!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;I Kropidła! - rzekł Chrzciciel - gdzie ty,
  Gerwazeńku,</p>
  <p ALIGN="JUSTIFY">Tam i ja, póki ręka, póki plusk plask w ręku.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co dwaj, to dwaj! Dalibóg, mój Gerwazy! ty miecz,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ja mam Kropidło; dalbóg! ja kropię, a ty siecz,</p>
  <p ALIGN="JUSTIFY">I tak szach mach, plusk i plask; oni niech gawędzą!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Toć i Bartka - rzekł Brzytwa - Bracia nie
  odpędzą;</p>
  <p ALIGN="JUSTIFY">Już co wy namydlicie, to ja wszystko zgolę&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;I ja - przydał Konewka - z wami ruszyć wolę,</p>
  <p ALIGN="JUSTIFY">Gdy ich nie można zgodzić na obior marszałka;</p>
  <p ALIGN="JUSTIFY">Co mi tam głosy, gałki, u mnie insza gałka</p>
  <p ALIGN="JUSTIFY">(Tu wydobył z kieszeni garść kul, dzwonił niemi):</p>
  <p ALIGN="JUSTIFY">Ot, gałki! - krzyknął - w Sędzię gałkami wszystkiemi!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Do was - wołał Skołuba - do was się łączymy!&quot;</p>
  <p ALIGN="JUSTIFY">&quot;Gdzie wy - krzyknęła szlachta - gdzie wy, to tam i my!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Niech żyją Horeszkowie! wiwant Półkozice!</p>
  <p ALIGN="JUSTIFY">Wiwat Klucznik Rębajło! Hajże na Soplice!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I tak wszystkich pociągnął wymowny Gerwazy:</p>
  <p ALIGN="JUSTIFY">Bo wszyscy ku Sędziemu mieli swe urazy,</p>
  <p ALIGN="JUSTIFY">Jak zwyczajnie w sąsiedztwie, to o szkodę skargi,</p>
  <p ALIGN="JUSTIFY">To o wyręby, to o granice zatargi:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jednych gniew, drugich tylko podburzała zawiść</p>
  <p ALIGN="JUSTIFY">Bogactw Sędziego - wszystkich zgodziła nienawiść.</p>
  <p ALIGN="JUSTIFY">Cisną się do Klucznika, podnoszą do góry</p>
  <p ALIGN="JUSTIFY">Szable, pałki... </p>
  <p ALIGN="JUSTIFY">Aż Maciek, dotychczas ponury,</p>
  <p ALIGN="JUSTIFY">Nieruchomy, wstał z ławy i wolnemi kroki</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyszedł na środek izby, i podparł się w boki;</p>
  <p ALIGN="JUSTIFY">I spojrzawszy przed siebie, i kiwając głową,</p>
  <p ALIGN="JUSTIFY">Zabrał głos, wymawiając z wolna każde słowo,</p>
  <p ALIGN="JUSTIFY">Z przestankiem i przyciskiem: &quot;A głupi! a głupi!</p>
  <p ALIGN="JUSTIFY">A głupi wy! Na kim się mleło, na was skrupi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">To póki o wskrzeszeniu Polski była rada,</p>
  <p ALIGN="JUSTIFY">O dobru pospolitem, głupi, u was zwada?</p>
  <p ALIGN="JUSTIFY">Nie można było, głupi, ani się rozmówić,</p>
  <p ALIGN="JUSTIFY">Głupi, ani porządku, ani postanowić</p>
  <p ALIGN="JUSTIFY">Wodza nad wami, głupi! A niech no kto podda</p>
  <p ALIGN="JUSTIFY">Osobiste urazy, głupi, u was zgoda!</p>
  <p ALIGN="JUSTIFY">Precz stąd! bo jakem Maciek, was, do milijonów</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kroćset kroci tysięcy fur beczek furgonów</p>
  <p ALIGN="JUSTIFY">Diabłów!!!...&quot;</p>
  <p ALIGN="JUSTIFY">Ucichli wszyscy jak rażeni gromem!</p>
  <p ALIGN="JUSTIFY">Ale razem straszliwy powstał krzyk za domem:</p>
  <p ALIGN="JUSTIFY">&quot;Wiwat Hrabia!&quot; On wjeżdżał na folwark Maciejów,</p>
  <p ALIGN="JUSTIFY">Sam zbrojny, za nim zbrojnych dziesięciu dżokejów.</p>
  <p ALIGN="JUSTIFY">Hrabia siedział na dzielnym koniu, w czarnym stroju;</p>
  <p ALIGN="JUSTIFY">Na sukni orzechowy płaszcz włoskiego kroju,</p>
  <p ALIGN="JUSTIFY">Szeroki, bez rękawów, jak wielka opona,</p>
  <p ALIGN="JUSTIFY">Spięty klamrą u szyi, spadał przez ramiona;</p>
  <p ALIGN="JUSTIFY">Kapelusz miał okrągły z piórem, w ręku szpadę,</p>
  <p ALIGN="JUSTIFY">Okręcił się i szpadą powitał gromadę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Wiwat Hrabia! - krzyknęli - z nim żyć i
  umierać!&quot;</p>
  <p ALIGN="JUSTIFY">Szlachta zaczęła z chaty przez okna wyzierać</p>
  <p ALIGN="JUSTIFY">I za Klucznikiem coraz ku drzwiom się napierać;</p>
  <p ALIGN="JUSTIFY">Klucznik wyszedł, a za nim tłum przeze drzwi runął,</p>
  <p ALIGN="JUSTIFY">Maciek resztę wypędził, drzwi zamknął, zasunął</p>
  <p ALIGN="JUSTIFY">I przez okno wyjrzawszy, raz jeszcze rzekł: &quot;Głupi!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A tymczasem się szlachta do Hrabiego kupi;</p>
  <p ALIGN="JUSTIFY">Idą w karczmę, Gerwazy wspomniał dawne czasy,</p>
  <p ALIGN="JUSTIFY">Kazał sobie trzy podać od kontuszów pasy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na nich ze sklepu karczmy beczki wydobywa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Trzy: jedną miodu, drugą wódki, trzecią piwa.</p>
  <p ALIGN="JUSTIFY">Wyjął goździe, wnet z szumem trysnęły trzy strugi:</p>
  <p ALIGN="JUSTIFY">Jeden biały jak srebro, krwawnikowy drugi,</p>
  <p ALIGN="JUSTIFY">Trzeci żółty; troistą grają w górze tęczą,</p>
  <p ALIGN="JUSTIFY">A spadając w sto kubków, we sto szklanek brzęczą.</p>
  <p ALIGN="JUSTIFY">Wre szlachta, tamci piją, ci Hrabiemu życzą</p>
  <p ALIGN="JUSTIFY">Lat setnych, wszyscy: &quot;Hajże na Soplice!&quot; krzyczą.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jankiel wymknął się milczkiem, oklep; Prusak równie,</p>
  <p ALIGN="JUSTIFY">Nie słuchany, choć jeszcze rozprawiał wymownie,</p>
  <p ALIGN="JUSTIFY">Chciał zmykać, szlachta w pogoń, wołając, że zdradził.</p>
  <p ALIGN="JUSTIFY">Mickiewicz stał z daleka, ni krzyczał, ni radził,</p>
  <p ALIGN="JUSTIFY">Ale z miny poznano, że coś złego knuje,</p>
  <p ALIGN="JUSTIFY">Więc do kordów, i hajże! On się rejteruje,</p>
  <p ALIGN="JUSTIFY">Odcina się, już ranny, przyparty do płotów,</p>
  <p ALIGN="JUSTIFY">Gdy mu skoczył na odsiecz Zan i trzech Czeczotów.</p>
  <p ALIGN="JUSTIFY">Zaczem rozjęto szlachtę, ale w tym rozruchu</p>
  <p ALIGN="JUSTIFY">Dwóch było ciętych w ręce, ktoś dostał po uchu.</p>
  <p ALIGN="JUSTIFY">Reszta wsiadała na koń.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Hrabia i Gerwazy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Porządkują, rozdają oręże, rozkazy.</p>
  <p ALIGN="JUSTIFY">W końcu wszyscy przez długą zaścianku ulicę</p>
  <p ALIGN="JUSTIFY">Puścili się w cwał, krzycząc: &quot;Hajże na Soplice!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <hr>
  <div align="center"><center><table border="0" cellpadding="0" width="100%">
    <tr>
	
		<td width="33%"><p align="center"><a href="k6"><strong>KSIĘGA SZÓSTA</strong></a></td>
		<td width="33%"><p align="center"><a href="{{ path('index') }}"><strong>PAN TADEUSZ</strong></a></td>
		<td width="34%"><p align="center"><a href="k8"><strong>KSIĘGA ÓSMA</strong></a></td>
    </tr>
  </table>
  </center></div>
</blockquote>
{% endblock %}