{% extends "MickiewiczTadeuczBundle::layout.html.twig" %}
{% block title %}
    <title>Księga Ósma | {{ parent() }}</title>
{%endblock%}
{%block header %}
    <h1>{{ parent() }} - Księga Ósma</h1>
{%endblock%}
{%block menu%}
	<ul>
		<li class="list-group-item" class="active"><a href="k1">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2">Księga druga</a></li>
		<li class="list-group-item"><a href="k3">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12">Księga dwunasta</a></li>
    </ul>
{%endblock%}
{% block content %}
<blockquote>
  <hr>
  <font SIZE="4"><h1 ALIGN="center">KSIĘGA ÓSMA<br>
  </font><font size="5">ZAJAZD</font></h1>
  <font SIZE="4"><h2 ALIGN="center">Treść:</h2>
  <h2 ALIGN="center">Astronomia Wojskiego - Uwaga Podkomorzego nad kometami - Tajemnicza
  scena w pokoju Sędziego - Tadeusz, chcąc zręcznie wyplątać się, wpada w wielkie
  kłopoty - Nowa Dydo- Zajazd - Ostatnia woźnieńska protestacja - Hrabia zdobywa
  Soplicowo - Szturm i rzeź - Gerwazy piwnicznym - Uczta zajazdowa.</font></h2>
  <hr width="50%" size="1">
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przed burzą bywa chwila cicha i ponura,</p>
  <p ALIGN="JUSTIFY">Kiedy nad głowy ludzi przyleciawszy chmura</p>
  <p ALIGN="JUSTIFY">Stanie i grożąc twarzą, dech wiatrów zatrzyma,</p>
  <p ALIGN="JUSTIFY">Milczy, obiega ziemię błyskawic oczyma,</p>
  <p ALIGN="JUSTIFY">Znacząc te miejsca, gdzie wnet ciśnie grom po gromie:</p>
  <p ALIGN="JUSTIFY">Tej ciszy chwila była w Soplicowskim domie.</p>
  <p ALIGN="JUSTIFY">Myśliłbyś, że przeczucie nadzwyczajnych zdarzeń</p>
  <p ALIGN="JUSTIFY">Ścięło usta i wzniosło duchy w kraje marzeń.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po wieczerzy i Sędzia, i goście ze dworu</p>
  <p ALIGN="JUSTIFY">Wychodzą na dziedziniec używać wieczoru;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zasiadają na przyzbach wysłanych murawą;</p>
  <p ALIGN="JUSTIFY">Całe grono z posępną i cichą postawą</p>
  <p ALIGN="JUSTIFY">Pogląda w niebo, które zdawało się zniżać,</p>
  <p ALIGN="JUSTIFY">Ścieśniać i coraz bardziej ku ziemi przybliżać,</p>
  <p ALIGN="JUSTIFY">Aż oboje, skrywszy się pod zasłonę ciemną</p>
  <p ALIGN="JUSTIFY">Jak kochankowie, wszczęli rozmowę tajemną,</p>
  <p ALIGN="JUSTIFY">Tłumacząc swe uczucia w westchnieniach tłumionych,</p>
  <p ALIGN="JUSTIFY">Szeptach, szmerach i słowach na wpół wymówionych,</p>
  <p ALIGN="JUSTIFY">Z których składa się dziwna muzyka wieczoru.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaczął ją puszczyk, jęcząc na poddaszu dworu;</p>
  <p ALIGN="JUSTIFY">Szepnęły wiotkiem skrzydłem niedoperze, lecą</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pod dom, gdzie szyby okien, twarze ludzi świecą;</p>
  <p ALIGN="JUSTIFY">Niżej zaś - niedoperzów siostrzyczki, ćmy, rojem</p>
  <p ALIGN="JUSTIFY">Wiją się, przywabione białym kobiet strojem.</p>
  <p ALIGN="JUSTIFY">Mianowicie przykrzą się Zosi, bijąc w lice</p>
  <p ALIGN="JUSTIFY">I w jasne oczki, które biorą za dwie świ?ce.</p>
  <p ALIGN="JUSTIFY">Na powietrzu owadów wielki krąg się zbiera,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kręci się, grając jako harmoniki sfera;</p>
  <p ALIGN="JUSTIFY">Ucho Zosi rozróżnia wśród tysiąca gwarów</p>
  <p ALIGN="JUSTIFY">Akord muszek i półton fałszywy komarów.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W polu koncert wieczorny ledwie jest zaczęty;</p>
  <p ALIGN="JUSTIFY">Właśnie muzycy kończą stroić instrumenty.</p>
  <p ALIGN="JUSTIFY">Już trzykroć wrzasnął derkacz, pierwszy skrzypak łąki,</p>
  <p ALIGN="JUSTIFY">Już mu z dala wtórują z bagien basem bąki,</p>
  <p ALIGN="JUSTIFY">Już bekasy do góry porwawszy się wiją</p>
  <p ALIGN="JUSTIFY">I bekając raz po raz jak w bębenki biją.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na finał szmerów muszych i ptaszęcej wrzawy</p>
  <p ALIGN="JUSTIFY">Odezwały się chórem podwójnym dwa stawy,</p>
  <p ALIGN="JUSTIFY">Jako zaklęte w górach kaukaskich jeziora,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Milczące przez dzień cały, grające z wieczora.</p>
  <p ALIGN="JUSTIFY">Jeden staw, co toń jasną i brzeg miał piaszczysty,</p>
  <p ALIGN="JUSTIFY">Modrą piersią jęk wydał cichy, uroczysty;</p>
  <p ALIGN="JUSTIFY">Drugi staw, z dnem błotnistem i gardzielem mętnym,</p>
  <p ALIGN="JUSTIFY">Odpowiedział mu krzykiem żałośnie namiętnym;</p>
  <p ALIGN="JUSTIFY">W obu stawach piały żab niezliczone hordy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Oba chory zgodzone w dwa wielkie akordy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ten fortissimo zabrzmiał, tamten nuci z cicha,</p>
  <p ALIGN="JUSTIFY">Ten zdaje się wyrzekać, tamten tylko wzdycha;</p>
  <p ALIGN="JUSTIFY">Tak dwa stawy gadały do siebie przez pola,</p>
  <p ALIGN="JUSTIFY">Jak grające na przemian dwie arfy Eola.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Mrok gęstniał; tylko w gaju i około rzeczki,</p>
  <p ALIGN="JUSTIFY">W łozach, błyskały wilcze oczy jako świeczki,</p>
  <p ALIGN="JUSTIFY">A dalej, u ścieśnionych widnokręgu brzegów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tu i ówdzie ogniska pastuszych noclegów.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nareszcie księżyc srebrną pochodnię zaniecił,</p>
  <p ALIGN="JUSTIFY">Wyszedł z boru i niebo i ziemię oświecił.</p>
  <p ALIGN="JUSTIFY">One teraz, z pomroku odkryte w połowie,</p>
  <p ALIGN="JUSTIFY">Drzemały obok siebie jako małżonkowie</p>
  <p ALIGN="JUSTIFY">Szczęśliwi: niebo w czyste objęło ramiona</p>
  <p ALIGN="JUSTIFY">Ziemi pierś, co księżycem świeci posrebrzona.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Już naprzeciw księżyca gwiazda jedna, druga</p>
  <p ALIGN="JUSTIFY">Błysnęła; już ich tysiąc, już milijon mruga.</p>
  <p ALIGN="JUSTIFY">Kastor z bratem Polluksem jaśnieli na czele,</p>
  <p ALIGN="JUSTIFY">Zwani niegdyś u Sławian: Lele i Polele;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Teraz ich w zodyjaku gminnym znów przechrzczono,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jeden zowie się L i t w ą, a drugi K o r o n ą.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dalej niebieskiej W a g i dwie szale błyskają;</p>
  <p ALIGN="JUSTIFY">Na nich Bóg w dniu stworzenia (starzy powiadają)</p>
  <p ALIGN="JUSTIFY">Ważył z kolei wszystkie planety i ziemie,</p>
  <p ALIGN="JUSTIFY">Nim w przepaściach powietrza osadził ich brzemię;</p>
  <p ALIGN="JUSTIFY">Potem wagi złociste zawiesił na niebie:</p>
  <p ALIGN="JUSTIFY">Z nich to ludzie wag i szal wzór wzięli dla siebie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na północ świeci okrąg gwiaździstego S i t a,</p>
  <p ALIGN="JUSTIFY">Przez które Bóg (jak mówią) przesiał ziarnka żyta,</p>
  <p ALIGN="JUSTIFY">Kiedy je z nieba zrucał dla Adama ojca,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wygnanego za grzechy z rozkoszy ogrojca.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nieco wyżej D a w i d a w ó z, gotów do jazdy,</p>
  <p ALIGN="JUSTIFY">Długi dyszel kieruje do Polarnej Gwiazdy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Starzy Litwini wiedzą o rydwanie owym,</p>
  <p ALIGN="JUSTIFY">Że niesłusznie pospólstwo zwie go Dawidowym,</p>
  <p ALIGN="JUSTIFY">Gdyż to jest wóz Anielski. Na nim to przed czasy</p>
  <p ALIGN="JUSTIFY">Jechał Lucyper, Boga gdy wyzwał w zapasy,</p>
  <p ALIGN="JUSTIFY">Mlecznym gościńcem pędząc w cwał w niebieskie progi,</p>
  <p ALIGN="JUSTIFY">Aż go Michał zbił z wozu, a wóz zrucił z drogi.</p>
  <p ALIGN="JUSTIFY">Teraz, popsuty, między gwiazdami się wala,</p>
  <p ALIGN="JUSTIFY">Naprawiać go archanioł Michał nie pozwala.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I to wiadomo także u starych Litwinów</p>
  <p ALIGN="JUSTIFY">(A wiadomość tę pono wzięli od rabinów),</p>
  <p ALIGN="JUSTIFY">Że ów zodyjakowy S m o k, długi i gruby,</p>
  <p ALIGN="JUSTIFY">Który gwiaździste wije po niebie przeguby,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Którego mylnie W ę ż e m chrzczą astronomowie,</p>
  <p ALIGN="JUSTIFY">Jest nie wężem, lecz rybą. Lewiatan się zowie.</p>
  <p ALIGN="JUSTIFY">Przed czasy mieszkał w morzach, ale po potopie</p>
  <p ALIGN="JUSTIFY">Zdechł z niedostatku wody; więc na niebios stropie,</p>
  <p ALIGN="JUSTIFY">Tak dla osobliwości, jako dla pamiątki,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Anieli zawiesili jego martwe szczątki.</p>
  <p ALIGN="JUSTIFY">Podobnie pleban mirski zawiesił w kościele</p>
  <p ALIGN="JUSTIFY">Wykopane olbrzymów żebra i piszczele.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Takie gwiazd historyje, które z książek zbadał</p>
  <p ALIGN="JUSTIFY">Albo słyszał z podania, Wojski opowiadał;</p>
  <p ALIGN="JUSTIFY">Chociaż wieczorem słaby miał wzrok Wojski stary</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I nie mógł w niebie dojrzeć nic przez okulary,</p>
  <p ALIGN="JUSTIFY">Lecz na pamięć znał imię i kształt każdej gwiazdy;</p>
  <p ALIGN="JUSTIFY">Wskazywał palcem miejsca i drogę ich jazdy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziś mało go słuchano, nie zważano wcale</p>
  <p ALIGN="JUSTIFY">Na Sito ni na Smoka, ani też na Szale;</p>
  <p ALIGN="JUSTIFY">Dziś oczy i myśl wszystkich pociąga do siebie</p>
  <p ALIGN="JUSTIFY">Nowy gość, dostrzeżony niedawno na niebie:</p>
  <p ALIGN="JUSTIFY">Był to k o m e t a pierwszej wielkości i mocy,</p>
  <p ALIGN="JUSTIFY">Zjawił się na zachodzie, leciał ku północy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Krwawym okiem z ukosa na rydwan spoziera,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jakby chciał zająć puste miejsce Lucypera,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Warkocz długi w tył rzucił i część nieba trzecią</p>
  <p ALIGN="JUSTIFY">Obwinął nim, gwiazd krocie zagarnął jak siecią</p>
  <p ALIGN="JUSTIFY">I ciągnie je za sobą, a sam wyżej głową</p>
  <p ALIGN="JUSTIFY">Mierzy, na północ, prosto w gwiazdę biegunową.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z niewymownym przeczuciem cały lud litewski</p>
  <p ALIGN="JUSTIFY">Poglądał każdej nocy na ten cud niebieski,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Biorąc złą wróżbę z niego tudzież z innych
  znaków;</p>
  <p ALIGN="JUSTIFY">Bo zbyt często słyszano krzyk złowieszczych ptaków,</p>
  <p ALIGN="JUSTIFY">Które na pustych polach gromadząc się w kupy,</p>
  <p ALIGN="JUSTIFY">Ostrzyły dzioby, jakby czekając na trupy.</p>
  <p ALIGN="JUSTIFY">Zbyt często postrzegano, że psy ziemię ryły</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I jak gdyby śmierć wietrząc, przeraźliwie wyły:</p>
  <p ALIGN="JUSTIFY">Co wróży głód lub wojnę; a strażnicy boru</p>
  <p ALIGN="JUSTIFY">Widzieli, jak przez smętarz szła dziewica moru,</p>
  <p ALIGN="JUSTIFY">Która wznosi się czołem nad najwyższe drzewa,</p>
  <p ALIGN="JUSTIFY">A w lewym ręku chustką skrwawioną powiewa.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Różne stąd wnioski tworzył stojący przy płocie</p>
  <p ALIGN="JUSTIFY">Cywun, co przyszedł zdawać sprawę o robocie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I pisarz prowentowy w szeptach z ekonomem.</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz Podkomorzy siedział na przyźbie przed domem.</p>
  <p ALIGN="JUSTIFY">Przerwał rozmowę gości, znać, że głos zabiera;</p>
  <p ALIGN="JUSTIFY">Błysnęła przy księżycu wielka tabakiera</p>
  <p ALIGN="JUSTIFY">(Cała z szczerego złota, z brylantów oprawa,</p>
  <p ALIGN="JUSTIFY">We środku za szkłem portret króla Stanisława);</p>
  <p ALIGN="JUSTIFY">Zadzwonił w nią palcami, zażył i rzekł: &quot;Panie</p>
  <p ALIGN="JUSTIFY">Tadeuszu, Waścine o gwiazdach gadanie</p>
  <p ALIGN="JUSTIFY">Jest tylko echem tego, co słyszałeś w szkole.</p>
  <p ALIGN="JUSTIFY">Ja o cudzie - prostaków poradzić się wolę.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I ja astronomiji słuchałem dwa lata</p>
  <p ALIGN="JUSTIFY">W Wilnie, gdzie Puzynina, mądra i bogata</p>
  <p ALIGN="JUSTIFY">Pani, oddała dochód z wioski dwiestu chłopów</p>
  <p ALIGN="JUSTIFY">Na zakupienie różnych szkieł i teleskopów;</p>
  <p ALIGN="JUSTIFY">Ksiądz Poczobut, człek sławny, był obserwatorem</p>
  <p ALIGN="JUSTIFY">I całej Akademiji naonczas rektorem,</p>
  <p ALIGN="JUSTIFY">Przecież w końcu katedrę i teleskop rzucił,</p>
  <p ALIGN="JUSTIFY">Do klasztoru, do cichej celi swej powrócił</p>
  <p ALIGN="JUSTIFY">I tam umarł przykładnie. Znam się też z Śniadeckim,</p>
  <p ALIGN="JUSTIFY">Który jest mądrym bardzo człekiem, chociaż świeckim.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Owoż astronomowie planetę, kometę,</p>
  <p ALIGN="JUSTIFY">Uważają tak jako mieszczanie karetę;</p>
  <p ALIGN="JUSTIFY">Wiedzą, czyli zajeżdża przed króla stolicę,</p>
  <p ALIGN="JUSTIFY">Czyli z rogatek miejskich rusza za granicę;</p>
  <p ALIGN="JUSTIFY">Lecz kto w niej jechał? po co? co z królem rozmawiał?</p>
  <p ALIGN="JUSTIFY">Czy król posła z pokojem, czy z wojną wyprawiał?</p>
  <p ALIGN="JUSTIFY">O to ani pytają. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pomnę, za mych czasów,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy Branecki karetą swą ruszył do Jassów</p>
  <p ALIGN="JUSTIFY">I za tą niepoczciwą pociągnął karetą</p>
  <p ALIGN="JUSTIFY">Ogon targowiczanów, jak za tą kometą -</p>
  <p ALIGN="JUSTIFY">Lud prosty, choć w publiczne nie mieszał się rady,</p>
  <p ALIGN="JUSTIFY">Zgadnął zaraz, że ogon ów jest wróżbą zdrady.</p>
  <p ALIGN="JUSTIFY">Słychać, że lud dał imię m i o t ł y tej komecie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I powiada, że ona milijon wymiecie&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A na to rzekł z ukłonem Wojski: &quot;Prawda, Jaśnie</p>
  <p ALIGN="JUSTIFY">Wielmożny Podkomorzy; przypominam właśnie,</p>
  <p ALIGN="JUSTIFY">Co mnie mówiono niegdyś, małemu dziecięciu,</p>
  <p ALIGN="JUSTIFY">Pamiętam, choć nie miałem wówczas lat dziesięciu,</p>
  <p ALIGN="JUSTIFY">Kiedy widziałem w domu naszym nieboszczyka</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sapiehę, pancernego znaku porucznika,</p>
  <p ALIGN="JUSTIFY">Co potem był nadwornym marszałkiem królewskim,</p>
  <p ALIGN="JUSTIFY">Na koniec umarł wielkim kanclerzem litewskim,</p>
  <p ALIGN="JUSTIFY">Miawszy lat sto i dziesięć. Ten, za króla Jana</p>
  <p ALIGN="JUSTIFY">Trzeciego był pod Wiedniem w chorągwi hetmana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jabłonowskiego; owoż ów kanclerz powiadał,</p>
  <p ALIGN="JUSTIFY">Że właśnie kiedy na koń król Jan Trzeci siadał,</p>
  <p ALIGN="JUSTIFY">Gdy nuncjusz papieski żegnał go na drogę,</p>
  <p ALIGN="JUSTIFY">A poseł austryjacki całował mu nogę,</p>
  <p ALIGN="JUSTIFY">Podając strzemię (poseł zwał się Wilczek hrabia),</p>
  <p ALIGN="JUSTIFY">Król krzyknął: &lt;&lt;Patrzcie, co się na niebie wyrabia&gt;&gt;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Spójrzą, alić nad głowy suwał się kometa</p>
  <p ALIGN="JUSTIFY">Drogą, jaką ciągnęły wojska Mahometa:</p>
  <p ALIGN="JUSTIFY">Z wschodu na zachód; potem i ksiądz Bartochowski,</p>
  <p ALIGN="JUSTIFY">Składając panegiryk na tryumf krakowski,</p>
  <p ALIGN="JUSTIFY">Pod godłem <i>Orientis Fulmen</i>, prawił wiele</p>
  <p ALIGN="JUSTIFY">O tym komecie; także czytam o nim w dziele</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pod tytułem <i>Janina</i>, gdzie jest opisana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Cała wyprawa króla nieboszczyka Jana</p>
  <p ALIGN="JUSTIFY">I wyryta chorągiew wielka Mahometa,</p>
  <p ALIGN="JUSTIFY">I ów taki, jak dziś go widzimy, kometa&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Amen - rzekł na to Sędzia - ja wróżbę Waszeci</p>
  <p ALIGN="JUSTIFY">Przyjmuję; oby z gwiazdą zjawił się Jan Trzeci!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jest na zachodzie wielki dziś bohater; może</p>
  <p ALIGN="JUSTIFY">Kometa go przywiedzie do nas; co daj Boże!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na to rzekł Wojski, głowę pochyliwszy smutnie:</p>
  <p ALIGN="JUSTIFY">&quot;Kometa czasem wojny, czasem wróży kłótnie!</p>
  <p ALIGN="JUSTIFY">Niedobrze, iż się zjawił tuż nad Soplicowem:</p>
  <p ALIGN="JUSTIFY">Może nam grozi jakiem nieszczęściem domowem.</p>
  <p ALIGN="JUSTIFY">Mieliśmy wczora dosyć rozterku i zwady,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak w czasie polowania, jako i biesiady,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rejent kłócił się z rana z panem Asesorem,</p>
  <p ALIGN="JUSTIFY">A pan Tadeusz wyzwał Hrabiego wieczorem.</p>
  <p ALIGN="JUSTIFY">Pono spór ten ze skóry niedźwiedziej pochodził;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I gdyby mnie Dobrodziej Sędzia nie przeszkodził,</p>
  <p ALIGN="JUSTIFY">Ja bym u stołu obu przeciwników zgodził.</p>
  <p ALIGN="JUSTIFY">Bo chciałem opowiedzieć wypadek ciekawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podobny do zdarzenia wczorajszej wyprawy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co trafił się najpierwszym strzelcom za mych czasów,</p>
  <p ALIGN="JUSTIFY">Posłowi Rejtanowi i księciu Denassów.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przypadek był takowy: </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jenerał Podolskich</p>
  <p ALIGN="JUSTIFY">Ziem przejeżdżał z Wołynia do swoich dóbr polskich,</p>
  <p ALIGN="JUSTIFY">Czy też, gdy dobrze pomnę, na sejm do Warszawy.</p>
  <p ALIGN="JUSTIFY">Po drodze zwiedzał szlachtę, już to dla zabawy,</p>
  <p ALIGN="JUSTIFY">Już dla popularności; wstąpił więc do pana</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusza, dziś świętej pamięci, Rejtana,</p>
  <p ALIGN="JUSTIFY">Który był potem naszym nowogrodzkim posłem</p>
  <p ALIGN="JUSTIFY">I w którego ja domu od dzieciństwa wzrosłem.</p>
  <p ALIGN="JUSTIFY">Owoż Rejtan na przyjazd księcia Jenerała</p>
  <p ALIGN="JUSTIFY">Zaprosił gości - liczna szlachta się zebrała,</p>
  <p ALIGN="JUSTIFY">Było teatrum (Książę kochał się w teatrze);</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Fajerwerk dawał Kaszyc, który mieszka w Jatrze,</p>
  <p ALIGN="JUSTIFY">Pan Tyzenhauz tancerzy przysłał, a kapele</p>
  <p ALIGN="JUSTIFY">Ogiński i pan Sołtan, co mieszka w Zdzięciele.</p>
  <p ALIGN="JUSTIFY">Słowem, dawano huczne nad spodziw zabawy</p>
  <p ALIGN="JUSTIFY">W domu, a w lasach wielkie robiono obławy.</p>
  <p ALIGN="JUSTIFY">Wiadomo zaś Waszmościom jest, że prawie wszyscy,</p>
  <p ALIGN="JUSTIFY">Ile ich zapamiętać można, Czartoryscy,</p>
  <p ALIGN="JUSTIFY">Choć idą z Jagiellonów krwi, lecz do myślistwa</p>
  <p ALIGN="JUSTIFY">Nie są bardzo pochopni, pewno nie z lenistwa,</p>
  <p ALIGN="JUSTIFY">Lecz z gustów cudzoziemskich; i książę Jenerał</p>
  <p ALIGN="JUSTIFY">Częściej do książek niźli do psiarni zazierał,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I do alkówek damskich częściej niż do lasów.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W świcie Księcia był książę niemiecki Denassów,</p>
  <p ALIGN="JUSTIFY">O którym powiadano, że w libijskiej ziemi</p>
  <p ALIGN="JUSTIFY">Goszcząc, polował niegdyś z królmi murzyńskiemi</p>
  <p ALIGN="JUSTIFY">I tam tygrysa śpisą w ręcznym boju zwalił,</p>
  <p ALIGN="JUSTIFY">Z czego się bardzo książę ów Denassów chwalił.</p>
  <p ALIGN="JUSTIFY">U nas zaś polowano na dziki w tę porę;</p>
  <p ALIGN="JUSTIFY">Rejtan zabił ze sztucca ogromną maciorę,</p>
  <p ALIGN="JUSTIFY">Z wielkim niebezpieczeństwem, bo z bliska wypalił.</p>
  <p ALIGN="JUSTIFY">Każdy z nas trafność strzału wydziwiał i chwalił,</p>
  <p ALIGN="JUSTIFY">Tylko Niemiec Denassów obojętnie słuchał</p>
  <p ALIGN="JUSTIFY">Pochwał takich i, chodząc, pod nos sobie dmuchał:</p>
  <p ALIGN="JUSTIFY">Że trafny strzał dowodzi tylko śmiałe oko,</p>
  <p ALIGN="JUSTIFY">Biała broń śmiałą rękę; i zaczął szeroko</p>
  <p ALIGN="JUSTIFY">Znowu gadać o swojej Libiji i śpisie,</p>
  <p ALIGN="JUSTIFY">O swych królach murzyńskich i o swym tygrysie.</p>
  <p ALIGN="JUSTIFY">Markotno to się stało panu Rejtanowi,</p>
  <p ALIGN="JUSTIFY">Był człek żywy, uderzył po szabli i mówi:</p>
  <p ALIGN="JUSTIFY">&lt;&lt;Mości Książę! kto patrzy śmiele, walczy śmiele;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Warte dziki tygrysów, a spis karabele&gt;&gt; - </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I zaczynali z Niemcem dyskurs nazbyt żwawy.</p>
  <p ALIGN="JUSTIFY">Szczęściem, książę Jenerał przerwał te rozprawy,</p>
  <p ALIGN="JUSTIFY">Godząc ich po francusku. Co tam gadał, nie wiem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale ta zgoda był to popioł nad żarzewiem,</p>
  <p ALIGN="JUSTIFY">Bo Rejtan wziął do serca, okazyi czekał</p>
  <p ALIGN="JUSTIFY">I dobrą sztukę spłatać Niemcowi przyrzekał;</p>
  <p ALIGN="JUSTIFY">Tej sztuki ledwie własnym nie przypłacił zdrowiem,</p>
  <p ALIGN="JUSTIFY">A spłatał ją nazajutrz, jak to wnet opowiem&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tu Wojski umilknąwszy prawą rękę wznosił</p>
  <p ALIGN="JUSTIFY">I u Podkomorzego tabakiery prosił;</p>
  <p ALIGN="JUSTIFY">Długo zażywa, kończyć powieści nie raczy,</p>
  <p ALIGN="JUSTIFY">Jak gdyby chciał zaostrzyć ciekawość słuchaczy.</p>
  <p ALIGN="JUSTIFY">Zaczynał wreszcie, kiedy znowu mu przerwano</p>
  <p ALIGN="JUSTIFY">Powieść taką ciekawą, tak pilnie słuchaną!</p>
  <p ALIGN="JUSTIFY">Bo do Sędziego nagle któś przysłał człowieka,</p>
  <p ALIGN="JUSTIFY">Donosząc, że z niezwłocznym interesem czeka.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sędzia, dając dobranoc, żegnał całe grono;</p>
  <p ALIGN="JUSTIFY">Natychmiast się po różnych stronach rozpierzchniono:</p>
  <p ALIGN="JUSTIFY">Ci spać do domu, tamci w stodole na sianie;</p>
  <p ALIGN="JUSTIFY">Sędzia szedł podróżnemu dawać posłuchanie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Inni już śpią. Tadeusz po sieniach się zwija,</p>
  <p ALIGN="JUSTIFY">Chodząc jako wartownik około drzwi stryja,</p>
  <p ALIGN="JUSTIFY">Bo musi w ważnych rzeczach rady jego szukać</p>
  <p ALIGN="JUSTIFY">Dziś jeszcze, nim spać pójdzie; nie śmie do drzwi stukać.</p>
  <p ALIGN="JUSTIFY">Sędzia drzwi na klucz zamknął, z kimś tajnie rozmawia;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz końca czeka, a ucha nadstawia.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Słyszy wewnątrz szlochanie; nie trącając klamek,</p>
  <p ALIGN="JUSTIFY">Ostróżnie dziurką klucza zagląda przez zamek.</p>
  <p ALIGN="JUSTIFY">Widzi rzecz dziwną! Sędzia i Robak na ziemi</p>
  <p ALIGN="JUSTIFY">Klęczeli objąwszy się i łzami rzewnemi</p>
  <p ALIGN="JUSTIFY">Płakali, Robak ręce Sędziego całował,</p>
  <p ALIGN="JUSTIFY">Sędzia Księdza za szyję płacząc obejmował;</p>
  <p ALIGN="JUSTIFY">Wreszcie po ćwierćgodzinnem przerwaniu rozmowy</p>
  <p ALIGN="JUSTIFY">Robak po cichu tymi odezwał się słowy:</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Bracie; Bóg wie, żem dotąd tajemnic dochował,</p>
  <p ALIGN="JUSTIFY">Którem z żalu za grzechy w spowiedzi ślubował;</p>
  <p ALIGN="JUSTIFY">Że Bogu i Ojczyźnie poświęcony cały,</p>
  <p ALIGN="JUSTIFY">Nie służąc pysze, ziemskiej nie szukając chwały,</p>
  <p ALIGN="JUSTIFY">Żyłem dotąd i chciałem umrzeć bernardynem,</p>
  <p ALIGN="JUSTIFY">Nie wydając nazwiska nie tylko przed gminem,</p>
  <p ALIGN="JUSTIFY">Ale nawet przed tobą i przed własnym synem!</p>
  <p ALIGN="JUSTIFY">Wszakże ksiądz prowincyjał dał mi pozwolenie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">In articulo mortis zrobić objawienie.</p>
  <p ALIGN="JUSTIFY">Kto wie, czy wrócę żywy! Kto wie, co się stanie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W Dobrzynie! Bracie! wielkie, wielkie zamieszanie!</p>
  <p ALIGN="JUSTIFY">Francuz jeszcze daleko; nim przeminie zima,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Trzeba czekać, a szlachta pono nie dotrzyma.</p>
  <p ALIGN="JUSTIFY">Możem zanadto czynnie z powstaniem się krzątał!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Pono źle zrozumieli! Klucznik wszystko splątał!</p>
  <p ALIGN="JUSTIFY">Ten wariat Hrabia! słyszę, pobiegł do Dobrzyna!</p>
  <p ALIGN="JUSTIFY">Nie mogłem go uprzedzić, ważna w tym przyczyna:</p>
  <p ALIGN="JUSTIFY">Stary Maciek mnie poznał, a jeśli odkryje,</p>
  <p ALIGN="JUSTIFY">Potrzeba będzie oddać pod Scyzoryk szyję.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nic Klucznika nie wstrzyma! mniejsza o mą głowę,</p>
  <p ALIGN="JUSTIFY">Lecz tym odkryciem spisku zerwałbym osnowę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przecież dziś tam być muszę! widzieć, co się
  dzieje,</p>
  <p ALIGN="JUSTIFY">Choćbym zginął; beze mnie szlachta oszaleje!</p>
  <p ALIGN="JUSTIFY">Bądź zdrów, najmilszy bracie, bądź zdrów, śpieszyć muszę.</p>
  <p ALIGN="JUSTIFY">Jeśli zginę, ty jeden westchniesz za mą duszę;</p>
  <p ALIGN="JUSTIFY">W przypadku wojny tobie cała tajemnica</p>
  <p ALIGN="JUSTIFY">Wiadoma; kończ, com zaczął, pomnij, żeś Soplica!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tu Ksiądz łzy otarł, habit zapiął, kaptur włożył</p>
  <p ALIGN="JUSTIFY">I okienicę tylną po cichu otworzył,</p>
  <p ALIGN="JUSTIFY">Widać było, że oknem do ogrodu skakał;</p>
  <p ALIGN="JUSTIFY">Sędzia, zostawszy jeden, siadł w krześle i płakał.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Chwilę czekał Tadeusz, nim w klamkę zadzwonił;</p>
  <p ALIGN="JUSTIFY">Otworzono mu; cicho wszedł, nisko się skłonił:</p>
  <p ALIGN="JUSTIFY">&quot;Stryjaszku Dobrodzieju - rzekł - ledwie dni kilka</p>
  <p ALIGN="JUSTIFY">Przebawiłem tu, dni te minęły jak chwilka;</p>
  <p ALIGN="JUSTIFY">Nie miałem czasu z twoim domem się nacieszyć</p>
  <p ALIGN="JUSTIFY">I z tobą, a odjeżdżać muszę, muszę śpieszyć</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaraz, dzisiaj, Stryjaszku, a jutro najdal?j:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszak pamiętacie, żeśmy Hrabiego wyzwali.</p>
  <p ALIGN="JUSTIFY">Bić się z nim to rzecz moja, posłałem wyzwanie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W Litwie jest zakazane pojedynkowanie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jadę więc na granicę Warszawskiego Księstwa;</p>
  <p ALIGN="JUSTIFY">Hrabia, prawda, fanfaron, lecz mu nie brak męstwa,</p>
  <p ALIGN="JUSTIFY">Na miejsce naznaczone zapewne się stawi,</p>
  <p ALIGN="JUSTIFY">Rozprawim się; a jeśli Bóg pobłogosławi,</p>
  <p ALIGN="JUSTIFY">Ukarzę go, a potem za Łososny brzegi</p>
  <p ALIGN="JUSTIFY">Przepłynę, gdzie mnie bratnie czekają szeregi.</p>
  <p ALIGN="JUSTIFY">Słyszałem, że mi ojciec testamentem kazał</p>
  <p ALIGN="JUSTIFY">Służyć w wojsku, a nie wiem, kto testament zmazał&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Mój Tadeuszku - rzekł stryj - czy Waszeć
  kąpany</p>
  <p ALIGN="JUSTIFY">W gorącej wodzie, czy też kręcisz jak lis szczwany,</p>
  <p ALIGN="JUSTIFY">Co indziej kitą wije, a sam indziej bieży?</p>
  <p ALIGN="JUSTIFY">Wyzwaliśmy, zapewne, i bić się należy.</p>
  <p ALIGN="JUSTIFY">Ale jechać dziś, skądżeś Waszeć tak się zaciął?</p>
  <p ALIGN="JUSTIFY">Przed pojedynkiem zwyczaj jest posłać przyjacioł,</p>
  <p ALIGN="JUSTIFY">Układać się, wszak Hrabia może nas przeprosić,</p>
  <p ALIGN="JUSTIFY">Deprekować; czekaj Waść, czasu jeszcze dosyć.</p>
  <p ALIGN="JUSTIFY">Chyba inny giez jaki Waści stąd wygania,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">To gadaj szczerze, po co takie omawiania?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jestem twój stryj; choć stary, znam, co serce młode;</p>
  <p ALIGN="JUSTIFY">Byłem ci ojcem (mówiąc gładził go pod brodę).</p>
  <p ALIGN="JUSTIFY">Już w ucho szepnął o tem mnie mój palec mały,</p>
  <p ALIGN="JUSTIFY">Że Waszeć masz tu jakieś z damami kabały.</p>
  <p ALIGN="JUSTIFY">Za katy, prędko teraz młodź do dam się bierze!</p>
  <p ALIGN="JUSTIFY">No, Tadeuszku, przyznaj mi się Waść, a szczerze&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Jużci - bąknął Tadeusz - prawda, są przyczyny</p>
  <p ALIGN="JUSTIFY">Inne, kochany Stryju! może z mojej winy!</p>
  <p ALIGN="JUSTIFY">Omyłka! cóż? nieszczęście! już trudno naprawić!</p>
  <p ALIGN="JUSTIFY">Nie, drogi Stryju, dłużej nie mogę tu bawić!</p>
  <p ALIGN="JUSTIFY">Błąd młodości! Stryjaszku, nie pytaj o więcej,</p>
  <p ALIGN="JUSTIFY">Ja muszę z Soplicowa wyjeżdżać co prędzej&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Ho - rzekł stryj - pewnie jakieś miłośne
  zatargi!</p>
  <p ALIGN="JUSTIFY">Uważałem, że Waszeć wczora gryzłeś wargi</p>
  <p ALIGN="JUSTIFY">Poglądając spode łba na pewną dziewczynkę,</p>
  <p ALIGN="JUSTIFY">Widziałem, że i ona miała kwaśną minkę.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Znam ja te wszystkie głupstwa; kiedy dzieci para</p>
  <p ALIGN="JUSTIFY">Kocha się; to tam u nich nieszczęść co niemiara;</p>
  <p ALIGN="JUSTIFY">To cieszą się, to znowu trapią się i smucą;</p>
  <p ALIGN="JUSTIFY">To znowu Bóg wie o co do zębów się skłócą;</p>
  <p ALIGN="JUSTIFY">To stojąc w kątkach jakby mruki, nie gadają</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Do siebie, czasem nawet w pole uciekają.</p>
  <p ALIGN="JUSTIFY">Jeżeli na was raptus podobny napada,</p>
  <p ALIGN="JUSTIFY">Bądźcie tylko cierpliwi, już jest na to rada;</p>
  <p ALIGN="JUSTIFY">Biorę na siebie wkrótce przywieść was do zgody.</p>
  <p ALIGN="JUSTIFY">Znam ja te wszystkie głupstwa, wszakże byłem młody.</p>
  <p ALIGN="JUSTIFY">Powiedz mi Wasze wszystko; ja może nawzajem</p>
  <p ALIGN="JUSTIFY">Coś odkryję i tak się oba poprzyznajem&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Stryjaszku - rzekł Tadeusz (całując mu rękę</p>
  <p ALIGN="JUSTIFY">I rumieniąc się) - powiem prawdę; tę panienkę,</p>
  <p ALIGN="JUSTIFY">Zosię, wychowanicę Stryja, podobałem</p>
  <p ALIGN="JUSTIFY">Bardzo, choć tylko parę razy ją widziałem;</p>
  <p ALIGN="JUSTIFY">A mówią, że Stryj dla mnie za żonę przeznacza</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Podkomorzankę, piękną i córkę bogacza.</p>
  <p ALIGN="JUSTIFY">Teraz nie mógłbym z panną Różą się ożenić,</p>
  <p ALIGN="JUSTIFY">Kiedy kocham tę Zosię; trudno serce zmienić!</p>
  <p ALIGN="JUSTIFY">Nieuczciwie, żeniąc się z jedną, kochać drugą,</p>
  <p ALIGN="JUSTIFY">Czas może mnie uleczy; wyjadę - na długo&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Tadeuszku! - stryj przerwał - to mi dziwny
  sposób</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kochania się: uciekać od kochanych osób!</p>
  <p ALIGN="JUSTIFY">Dobrze, żeś szczery; widzisz, głupstwo byś wypłatał</p>
  <p ALIGN="JUSTIFY">Odjeżdżając: a co Waść powiesz, gdybym swatał</p>
  <p ALIGN="JUSTIFY">Sam Waci Zosię! He! cóż, nie skoczysz z radości?&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz rzekł po chwili: &quot;Dobroć Jegomości</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziwi mnie! Lecz cóż? łaska Stryja Dobrodzieja</p>
  <p ALIGN="JUSTIFY">Nie przyda się już na nic! Ach! próżna nadzieja!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo pani Telimena nie odda mi Zosi!&quot;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Będziem prosić&quot; - rzekł Sędzia. </font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Nikt jej nie uprosi -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Przerwał prędko Tadeusz - nie, czekać nie mogę,</p>
  <p ALIGN="JUSTIFY">Stryjaszku, muszę prędko, jutro jechać w drogę.</p>
  <p ALIGN="JUSTIFY">Daj mi, 5tryjaszku, tylko twe błogosławieństwo,</p>
  <p ALIGN="JUSTIFY">Wszystko przygotowałem, jadę zaraz w Księstwo&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sędzia wąs kręcąc, z gniewem na chłopca spozierał:</p>
  <p ALIGN="JUSTIFY">&quot;To Waść tak szczery? takeś mi serce otwierał?</p>
  <p ALIGN="JUSTIFY">Naprzód ów pojedynek! Potem znowu miłość</p>
  <p ALIGN="JUSTIFY">I ten wyjazd, oj! jest tu w tem jakaś zawiłość.</p>
  <p ALIGN="JUSTIFY">Już mnie gadano, jużem kroki Waści badał!</p>
  <p ALIGN="JUSTIFY">Asan bałamut i trzpiot, Asan kłamstwa gadał.</p>
  <p ALIGN="JUSTIFY">A gdzież to Asan chodził onegdaj wieczorem?</p>
  <p ALIGN="JUSTIFY">Czego Asan jak wyżeł tropił pode dworem?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">O Tadeuszku! jeśli może Asan Zosię</p>
  <p ALIGN="JUSTIFY">Zbałamucił i teraz uciekasz? młokosie,</p>
  <p ALIGN="JUSTIFY">To się Waci nie uda; lubisz czy nie lubisz,</p>
  <p ALIGN="JUSTIFY">Zapowiadam Asanu, że Zosię poślubisz,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A nie, to bizun - jutro staniesz na kobiercu!</p>
  <p ALIGN="JUSTIFY">I gada mnie o czuciach! o niezmiennym sercu!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Łgarz jesteś! pfe! ja z Waści, Panie Tadeuszu,</p>
  <p ALIGN="JUSTIFY">Zrobię śledztwo, ja Waści jeszcze natrę uszu!</p>
  <p ALIGN="JUSTIFY">Dziś dość miałem kłopotów! Aż mi głowa boli!</p>
  <p ALIGN="JUSTIFY">Ten mi jeszcze spokojnie zasnąć nie dozwoli!</p>
  <p ALIGN="JUSTIFY">Idź mi Waść spać!&quot;</p>
  <p ALIGN="JUSTIFY">To mówiąc, drzwi na wściąż otwierał</p>
  <p ALIGN="JUSTIFY">I zawołał Woźnego, żeby go rozbierał.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz cicho wyszedł, opuściwszy głowę;</p>
  <p ALIGN="JUSTIFY">Rozbierał w myśli przykrą ze stryjem rozmowę,</p>
  <p ALIGN="JUSTIFY">Pierwszy raz połajany tak ostro!... ocenił</p>
  <p ALIGN="JUSTIFY">Słuszność wyrzutów, sam się przed sobą rumienił.</p>
  <p ALIGN="JUSTIFY">Co począć? jeśli Zosia o wszystkiem się dowie?</p>
  <p ALIGN="JUSTIFY">Prosić o rękę? a cóż Telimena powie?</p>
  <p ALIGN="JUSTIFY">Nie - czuł, że nie mógł dłużej zostać w Soplicowie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak zadumany, ledwie zrobił kroków parę,</p>
  <p ALIGN="JUSTIFY">Gdy mu coś drogę zaszło; spójrzał, widzi marę,</p>
  <p ALIGN="JUSTIFY">Całą w bieliźnie, długą, wysmukłą i cienką.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Suwała się ku niemu z wyciągniętą ręką,</p>
  <p ALIGN="JUSTIFY">Od której odbijał się drżący blask miesięczny,</p>
  <p ALIGN="JUSTIFY">I przystąpiwszy, cicho jęknęła: &quot;Niewdzięczny!</p>
  <p ALIGN="JUSTIFY">Szukałeś wzroku mego, teraz go unikasz,</p>
  <p ALIGN="JUSTIFY">Szukałeś rozmów ze mną, dziś uszy zamykasz,</p>
  <p ALIGN="JUSTIFY">Jakby w słowach, we wzroku mym była trucizna!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dobrze mi tak, wiedziałam, kto jesteś! - mężczyzna!</p>
  <p ALIGN="JUSTIFY">Nie znając kokieterii, nie chciałam cię dręczyć,</p>
  <p ALIGN="JUSTIFY">Uszczęśliwiłam; takżeś umiał mnie zawdzięczyć!</p>
  <p ALIGN="JUSTIFY">Tryumf nad miękkim sercem serce twe zatwardził;</p>
  <p ALIGN="JUSTIFY">Żeś je zdobył zbyt łacno, zbyt prędkoś niem wzgardził!</p>
  <p ALIGN="JUSTIFY">Dobrze mi tak! lecz straszną nauczona probą,</p>
  <p ALIGN="JUSTIFY">Wierz mi, iż więcej niż ty - gardzę sama sobą!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Telimeno - Tadeusz rzekł - dalbóg, nietwarde</p>
  <p ALIGN="JUSTIFY">Mam serce ani ciebie unikam przez wzgardę,</p>
  <p ALIGN="JUSTIFY">Ale uważ no sama, wszak nas widzą, śledzą,</p>
  <p ALIGN="JUSTIFY">Czyż można tak otwarcie? cóż ludzie powiedzą?</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wszak to nieprzyzwoicie, to, dalbóg, jest
  grzechem&quot;.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Grzechem! - odpowiedziała mu z gorzkim uśmiechem
  -</p>
  <p ALIGN="JUSTIFY">Niewiniątko! baranek! Ja, będąc kobi?tą,</p>
  <p ALIGN="JUSTIFY">Jeśli z miłości nie dbam, choćby mnie odkryto,</p>
  <p ALIGN="JUSTIFY">Choćby mnie osławiono; a ty, ty mężczyzna?</p>
  <p ALIGN="JUSTIFY">Cóż szkodzi z was któremu, chociaż się i przyzna,</p>
  <p ALIGN="JUSTIFY">Że ma romans z dziesięciu razem kochankami?</p>
  <p ALIGN="JUSTIFY">Mów prawdę: chcesz mnie rzucić?&quot; - Zalała się łzami.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Telimeno, cóż by świat mówił o człowieku -</p>
  <p ALIGN="JUSTIFY">Rzekł Tadeusz - który by teraz, w moim wieku,</p>
  <p ALIGN="JUSTIFY">Zdrów, żył na wsi, kochał się - kiedy tyle młodzi,</p>
  <p ALIGN="JUSTIFY">Tylu żonatych od żon, od dzieci uchodzi</p>
  <p ALIGN="JUSTIFY">Za granicę, pod znaki narodowe bieży?</p>
  <p ALIGN="JUSTIFY">Choćbym chciał zostać, czy to ode mnie zależy?</p>
  <p ALIGN="JUSTIFY">Ojciec mnie testamentem kazał, abym służył</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W wojsku polskiem, teraz stryj ten rozkaz powtórzył.</p>
  <p ALIGN="JUSTIFY">Jutro jadę, zrobiłem już postanowienie,</p>
  <p ALIGN="JUSTIFY">I dalbóg, Telimeno, już go nie odmienię&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Ja - rzekła Telimena - nie chcę ci zagradzać</p>
  <p ALIGN="JUSTIFY">Drogi do sławy, szczęściu twojemu przeszkadzać!</p>
  <p ALIGN="JUSTIFY">Jesteś mężczyzną, znajdziesz kochankę godniejszą</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Serca twojego, znajdziesz bogatszą, piękniejszą!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tylko dla mej pociechy niech wiem przed rozstaniem,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Że twoja skłonność była prawdziwem kochaniem,</p>
  <p ALIGN="JUSTIFY">Że to nie był żart tylko, nie rozpusta płocha,</p>
  <p ALIGN="JUSTIFY">Lecz miłość; niech wiem, że mnie mój Tadeusz kocha!</p>
  <p ALIGN="JUSTIFY">Niech słowo &lt;&lt;kocham&gt;&gt; jeszcze raz z ust twych usłyszę,</p>
  <p ALIGN="JUSTIFY">Niech je w sercu wyryję i w myśli zapiszę;</p>
  <p ALIGN="JUSTIFY">Przebaczę łacniej, chociaż przestaniesz mnie kochać,</p>
  <p ALIGN="JUSTIFY">Pomnąc, jakeś mnie kochał...&quot; - I zaczęła szlochać.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz, widząc, że tak płacze i tak błaga</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Czule, i tylko takiej drobnostki wymaga,</p>
  <p ALIGN="JUSTIFY">Wzruszył się, przejęły go szczery żal i litość,</p>
  <p ALIGN="JUSTIFY">I jeżeliby badał serca swego skrytość,</p>
  <p ALIGN="JUSTIFY">Może by się w tej chwili i sam nie dowiedział,</p>
  <p ALIGN="JUSTIFY">Czyli ją kochał, czy nie. - Więc żywo powiedział:</p>
  <p ALIGN="JUSTIFY">&quot;Telimeno, bogdaj mnie jasny piorun ubił,</p>
  <p ALIGN="JUSTIFY">Jeśli nieprawda, żem cię, dalbóg, bardzo lubił</p>
  <p ALIGN="JUSTIFY">Czy kochał; krótkie z sobą spędziliśmy chwile,</p>
  <p ALIGN="JUSTIFY">Ale one mnie przeszły tak słodko, tak mile,</p>
  <p ALIGN="JUSTIFY">Że będą długo, zawsze myśli mej przytomne,</p>
  <p ALIGN="JUSTIFY">I dalibógże, nigdy ciebie nie zapomnę&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Telimena skoczywszy padła mu na szyję:</p>
  <p ALIGN="JUSTIFY">&quot;Tegom się spodziewała, kochasz mnie, więc żyję!</p>
  <p ALIGN="JUSTIFY">Bo dzisiaj miałam dni me własną ręką skrócić!</p>
  <p ALIGN="JUSTIFY">Gdy mnie kochasz, mój drogi, czyż możesz mnie rzucić?</p>
  <p ALIGN="JUSTIFY">Tobie oddałam serce, oddam ci majątek,</p>
  <p ALIGN="JUSTIFY">Pójdę za tobą wszędzie; każdy świata kątek</p>
  <p ALIGN="JUSTIFY">Będzie mnie z tobą miły! Z najdzikszej pustyni</p>
  <p ALIGN="JUSTIFY">Miłość, wierzaj mi, ogród rozkoszy uczyni&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tadeusz, wydarłszy się z objęcia przemocą:</p>
  <p ALIGN="JUSTIFY">&quot;Jak to? - rzekł - czyś z rozumu obrana? gdzie? po co?</p>
  <p ALIGN="JUSTIFY">Jechać ze mną? Ja, będąc sam prostym żołnierzem,</p>
  <p ALIGN="JUSTIFY">Włóczyć, czy markietankę?&quot; &quot;To my się pobierzem&quot; -</p>
  <p ALIGN="JUSTIFY">Rzekła mu Telimena. &quot;Nie, nigdy! - zawoła</p>
  <p ALIGN="JUSTIFY">Tadeusz. Ja żenić się nie mam teraz zgoła</p>
  <p ALIGN="JUSTIFY">Zamiaru ni kochać się - fraszki! dajmy pokój!</p>
  <p ALIGN="JUSTIFY">Proszę cię, moja droga, rozmyśl się! uspokój!</p>
  <p ALIGN="JUSTIFY">Ja jestem tobie wdzięczen, ale niepodobna</p>
  <p ALIGN="JUSTIFY">Żenić się, kochajmy się, ale tak - z osobna.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zostać dłużej nie mogę; nie, nie, jechać muszę,</p>
  <p ALIGN="JUSTIFY">Bądź zdrowa, Telimeno moja, jutro ruszę&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzekł, nasuwał kapelusz, odwracał się bokiem,</p>
  <p ALIGN="JUSTIFY">Chcąc iść; lecz go wstrzymała Telimena okiem</p>
  <p ALIGN="JUSTIFY">I twarzą, jak Meduzy głową; musiał zostać</p>
  <p ALIGN="JUSTIFY">Mimowolnie; poglądał z trwogą na jej postać,</p>
  <p ALIGN="JUSTIFY">Stała blada, bez ruchu, bez tchu i bez życia!</p>
  <p ALIGN="JUSTIFY">Aż wyciągając rękę jak miecz do przebicia,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z palcem zmierzonym prosto w Tadeusza oczy:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Tego chciałam - krzyknęła - ha, języku smoczy!</p>
  <p ALIGN="JUSTIFY">Serce jaszczurcze! To nic, żem tobą zajęta</p>
  <p ALIGN="JUSTIFY">Wzgardziła Asesora, Hrabię i Rejenta,</p>
  <p ALIGN="JUSTIFY">Żeś mnie uwiódł i teraz porzucasz sierotę,</p>
  <p ALIGN="JUSTIFY">To nic! Jesteś mężczyzną, znam waszą niecnotę,</p>
  <p ALIGN="JUSTIFY">Wiem, że jak inni, tak ty mógłbyś wiarę złamać,</p>
  <p ALIGN="JUSTIFY">Lecz nie wiedziałam, że tak podle umiesz kłamać!</p>
  <p ALIGN="JUSTIFY">Słuchałam pode drzwiami stryja! więc to dziecko?</p>
  <p ALIGN="JUSTIFY">Zosia? wpadła ci w oko? i na nią zdradziecko</p>
  <p ALIGN="JUSTIFY">Dybiesz! Zaledwieś jedną nieszczęsną oszukał,</p>
  <p ALIGN="JUSTIFY">A jużeś pod jej bokiem nowych ofiar szukał!</p>
  <p ALIGN="JUSTIFY">Uciekaj, lecz cię moje dościgną przeklęctwa -</p>
  <p ALIGN="JUSTIFY">Lub zostań, wydam światu twoje bezeceństwa;</p>
  <p ALIGN="JUSTIFY">Twe sztuki już nie zwiodą innych, jak mnie zwiodły!</p>
  <p ALIGN="JUSTIFY">Precz! gardzę tobą! jesteś kłamca, człowiek podły!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Na obelgę śmiertelną dla uszu szlachcica,</p>
  <p ALIGN="JUSTIFY">I której żaden nigdy nie słyszał Soplica,</p>
  <p ALIGN="JUSTIFY">Zadrżał Tadeusz, twarz mu pobladła jak trupia,</p>
  <p ALIGN="JUSTIFY">Tupnąwszy nogą, usta przyciąwszy, rzekł: &quot;Głupia!&quot;</p>
  </font><p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Odszedł; lecz wyraz &quot;podłość&quot; echem się
  powtórzył</p>
  <p ALIGN="JUSTIFY">W sercu, wzdrygnął się młodzian, czuł, że nań zasłużył;</p>
  <p ALIGN="JUSTIFY">Czuł, że wyrządził wielką krzywdę Telimenie,</p>
  <p ALIGN="JUSTIFY">Że go słusznie skarżyła, mówiło sumnienie;</p>
  <p ALIGN="JUSTIFY">Lecz czuł, że po tych skargach tem mocniej ją zbrzydził;</p>
  <p ALIGN="JUSTIFY">O Zosi, ach! pomyślić nie ważył się, wstydził.</p>
  <p ALIGN="JUSTIFY">Przecież ta Zosia, taka piękna, taka miła!</p>
  <p ALIGN="JUSTIFY">Stryj swatał ją! może by jego żoną była,</p>
  <p ALIGN="JUSTIFY">Gdyby nie szatan, co go plącząc w grzech za grzechem,</p>
  <p ALIGN="JUSTIFY">W kłamstwo za kłamstwem, wreszcie odstąpił z uśmiechem.</p>
  <p ALIGN="JUSTIFY">Złajany, pogardzony od wszystkich! w dni parę</p>
  <p ALIGN="JUSTIFY">Zmarnował przyszłość! Uczuł słuszną zbrodni karę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W tej burzy uczuć, jakby kotwica spoczynku,</p>
  <p ALIGN="JUSTIFY">Zabłysnęła mu nagle myśl o pojedynku:</p>
  <p ALIGN="JUSTIFY">&quot;Zamordować Hrabiego! łotra! - krzyknął w gniewie. -</p>
  <p ALIGN="JUSTIFY">Zginąć albo zemścić się!&quot; A za co? Sam nie wie!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I ten gniew wielki, jak się zajął w mgnieniu oka,</p>
  <p ALIGN="JUSTIFY">Tak wywietrzał; znow zdjęła go żałość głęboka.</p>
  <p ALIGN="JUSTIFY">Myślił: &quot;Jeśli prawdziwe było postrzeżenie,</p>
  <p ALIGN="JUSTIFY">Że Hrabia z Zosią jakieś ma porozumienie,</p>
  <p ALIGN="JUSTIFY">I cóż stąd? Może Hrabia kocha Zosię szczerze,</p>
  <p ALIGN="JUSTIFY">Może go ona kocha? za męża wybierze!</p>
  <p ALIGN="JUSTIFY">Jakimże prawem chciałbym zerwać to zamęście</p>
  <p ALIGN="JUSTIFY">I, sam nieszczęśnik, wszystkich mam zaburzać szczęście?&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wpadł w rozpacz i nie widział innego sposobu,</p>
  <p ALIGN="JUSTIFY">Chyba ucieczkę prędką; gdzie? chyba do grobu!</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Więc kułak przycisnąwszy na schylonem czole,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Biegł ku łąkom, gdzie stawy błyszczały się w dole,</p>
  <p ALIGN="JUSTIFY">I stanął nad błotnistym; w zielonawe tonie</p>
  <p ALIGN="JUSTIFY">Łakomy wzrok utopił i błotniste wonie</p>
  <p ALIGN="JUSTIFY">Z rozkoszą ciągnął piersią, i otworzył usta</p>
  <p ALIGN="JUSTIFY">Ku nim: bo samobójstwo jak każda rozpusta</p>
  <p ALIGN="JUSTIFY">Jest wymyślną; on w głowy szalonym zawrocie</p>
  <p ALIGN="JUSTIFY">Czuł niewymowny pociąg utopić się w błocie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz Telimena, z dzikiej młodzieńca postawy</p>
  <p ALIGN="JUSTIFY">Zgadując rozpacz, widząc, że pobiegł nad stawy,</p>
  <p ALIGN="JUSTIFY">Chociaż ku niemu takim słusznym gniewem pała,</p>
  <p ALIGN="JUSTIFY">Przelękła się; w istocie dobre serce miała.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Żal jej było, że inną śmiał Tadeusz lubić,</p>
  <p ALIGN="JUSTIFY">Chciała go skarać, ale nie myśliła zgubić;</p>
  <p ALIGN="JUSTIFY">Więc puściła się za nim, wznosząc ręce obie,</p>
  <p ALIGN="JUSTIFY">Krzycząc: &quot;Stój! głupstwo! kochaj czy nie! żeń się sobie</p>
  <p ALIGN="JUSTIFY">Czy jedź! tylko stój!&quot; - Ale on już szybkim biegiem</p>
  <p ALIGN="JUSTIFY">Wyprzedził ją daleko; już - stanął nad brzegiem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dziwnym zrządzeniem losów, po tym samym brzegu</p>
  <p ALIGN="JUSTIFY">Jechał Hrabia na czele dżokejów szeregu,</p>
  <p ALIGN="JUSTIFY">A zachwycony wdziękiem nocy tak pogodnej</p>
  <p ALIGN="JUSTIFY">I harmoniją cudną orkiestry podwodnej,</p>
  <p ALIGN="JUSTIFY">Owych chorów, co brzmiały jak arfy eolskie</p>
  <p ALIGN="JUSTIFY">(Żadne żaby nie grają tak pięknie jak polskie),</p>
  <p ALIGN="JUSTIFY">Wstrzymał konia i o swej zapomniał wyprawie,</p>
  <p ALIGN="JUSTIFY">Zwrócił ucho do stawu i słuchał ciekawie.</p>
  <p ALIGN="JUSTIFY">Oczy wodził po polach, po niebios obszarze:</p>
  <p ALIGN="JUSTIFY">Pewnie układał w myśli nocne peizaże.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Zaiste, okolica była malownicza!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dwa stawy pochyliły ku sobie oblicza</p>
  <p ALIGN="JUSTIFY">Jako para kochanków: prawy staw miał wody</p>
  <p ALIGN="JUSTIFY">Gładkie i czyste jako dziewicze jagody;</p>
  <p ALIGN="JUSTIFY">Lewy, ciemniejszy nieco, jako twarz młodziana</p>
  <p ALIGN="JUSTIFY">Smagława i już męskim puchem osypana.</p>
  <p ALIGN="JUSTIFY">Prawy złocistym piaskiem połyskał się wkoło</p>
  <p ALIGN="JUSTIFY">Jak gdyby włosem jasnym; a lewego czoło</p>
  <p ALIGN="JUSTIFY">Najeżone łozami, wierzbami czubate;</p>
  <p ALIGN="JUSTIFY">Oba stawy ubrane w zieloności szatę.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Z nich dwa strugi, jak ręce związane pospołu,</p>
  <p ALIGN="JUSTIFY">Ściskają się; strug dalej upada do dołu;</p>
  <p ALIGN="JUSTIFY">Upada, lecz nie ginie, bo w rowu ciemnotę</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Unosi na swych falach księżyca pozłotę;</p>
  <p ALIGN="JUSTIFY">Woda warstami spada, a na każdej warście</p>
  <p ALIGN="JUSTIFY">Połyskają się blasku miesięcznego garście,</p>
  <p ALIGN="JUSTIFY">Światło w rowie na drobne drzazgi się roztrąca,</p>
  <p ALIGN="JUSTIFY">Chwyta je i w głąb niesie toń uciekająca,</p>
  <p ALIGN="JUSTIFY">A z góry znów garściami spada blask miesiąca.</p>
  <p ALIGN="JUSTIFY">Myślałbyś, że u stawu siedzi Świtezianka,</p>
  <p ALIGN="JUSTIFY">Jedną ręką zdrój leje z bezdennego dzbanka,</p>
  <p ALIGN="JUSTIFY">A drugą ręką w wodę dla zabawki miota</p>
  <p ALIGN="JUSTIFY">Brane z fartuszka garście zaklętego złota.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Dalej, z rowu wybiegłszy, strumień na równinie</p>
  <p ALIGN="JUSTIFY">Rozkręca się, ucisza, lecz widać, że płynie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Bo na jego ruchomej, drgającej powłoce</p>
  <p ALIGN="JUSTIFY">Wzdłuż miesięczne światełko drgające migoce.</p>
  <p ALIGN="JUSTIFY">Jako piękny wąż żmudzki, zwany g i w o j t o s e m,</p>
  <p ALIGN="JUSTIFY">Chociaż zdaje się drzemać, leżąc między wrzosem,</p>
  <p ALIGN="JUSTIFY">Pełźnie, bo na przemiany srebrzy się i złoci,</p>
  <p ALIGN="JUSTIFY">Aż nagle zniknie z oczu we mchu lub paproci:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tak strumień kręcący się chował się w olszynach,</p>
  <p ALIGN="JUSTIFY">Które na widnokręgu czerniały kończynach,</p>
  <p ALIGN="JUSTIFY">Wznosząc swe kształty lekkie, niewyraźne oku,</p>
  <p ALIGN="JUSTIFY">Jak duchy na wpół widne, na poły w obłoku.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Między stawami w rowie młyn ukryty siedzi;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jako stary opiekun, co kochanków śledzi,</p>
  <p ALIGN="JUSTIFY">Podsłuchał ich rozmowę, gniewa się, szamoce,</p>
  <p ALIGN="JUSTIFY">Trzęsie głową, rękami, i groźby bełkoce:</p>
  <p ALIGN="JUSTIFY">Tak ów młyn nagle zatrząsł mchem obrosłe czoło</p>
  <p ALIGN="JUSTIFY">I palczastą swą pięścią wykręcając wkoło,</p>
  <p ALIGN="JUSTIFY">Ledwo kleknął i szczęki zębowate ruszył,</p>
  <p ALIGN="JUSTIFY">Zaraz miłośną stawów rozmowę zagłuszył</p>
  <p ALIGN="JUSTIFY">I zbudził Hrabię. </font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia, widząc, że tak blisko</p>
  <p ALIGN="JUSTIFY">Tadeusz naszedł jego zbrojne stanowisko,</p>
  <p ALIGN="JUSTIFY">Krzyczy: &quot;Do broni! łapaj!&quot; Skoczyli dżokeje;</p>
  <p ALIGN="JUSTIFY">Nim Tadeusz rozeznać mógł, co się z nim dzieje,</p>
  <p ALIGN="JUSTIFY">Już go chwycili; biegą do dworu, w podwórze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wpadają; dwór budzi się, psy w hałas, w krzyk
  stróże.</p>
  <p ALIGN="JUSTIFY">Wyskoczył wpół ubrany Sędzia; widzi zgraję</p>
  <p ALIGN="JUSTIFY">Zbrojną, myśli, że zbójcy, aż Hrabię poznaje.</p>
  <p ALIGN="JUSTIFY">&quot;Co to jest?&quot; - pyta. Hrabia szpadą nad nim mignął,</p>
  <p ALIGN="JUSTIFY">Lecz widząc bezbronnego w zapale ostygnął.</p>
  <p ALIGN="JUSTIFY">&quot;Soplico! - rzekł - odwieczny wrogu mej rodziny.</p>
  <p ALIGN="JUSTIFY">Dziś skarzę cię za dawne i za świeże winy,</p>
  <p ALIGN="JUSTIFY">Dziś zdasz mi sprawę z mojej fortuny zaboru,</p>
  <p ALIGN="JUSTIFY">Nim pomszczę się obelgi mojego honoru!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Lecz Sędzia żegnając się krzyknął: &quot;W imię
  Ojca</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I Syna! tfu! Mospanie Hrabia, czy waść zbojca?</p>
  <p ALIGN="JUSTIFY">Przebóg! czy to się zgadza z Pana urodzeniem,</p>
  <p ALIGN="JUSTIFY">Wychowaniem i z Pana na świecie znaczeniem?</p>
  <p ALIGN="JUSTIFY">Nie pozwolę skrzywdzić się!&quot; - Wtem Sędziego słudzy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Biegli, jedni z kijami, ze strzelbami drudzy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wojski, stojąc z daleka, poglądał ciekawie</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">W oczy panu Hrabiemu, a nóż miał w rękawie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Już mieli zacząć bitwę, lecz Sędzia przeszkodził;</p>
  <p ALIGN="JUSTIFY">Próżno było bronić się, nowy wróg nadchodził:</p>
  <p ALIGN="JUSTIFY">Postrzeżono w olszynie blask, wystrzał rusznicy!</p>
  <p ALIGN="JUSTIFY">Most na rzece zahuczał tętentem konnicy</p>
  <p ALIGN="JUSTIFY">I &quot;Hajże na Soplicę!&quot; tysiąc głosów wrzasło.</p>
  <p ALIGN="JUSTIFY">Wzdrygnął się Sędzia, poznał Gerwazego hasło.</p>
  <p ALIGN="JUSTIFY">&quot;Nic to - zawołał Hrabia - będzie tu nas więc?j,</p>
  <p ALIGN="JUSTIFY">Poddaj się, Sędzio, to są moi sprzymierzeńcy&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem Asesor nadbiegał krzycząc: &quot;Areszt kładę</p>
  <p ALIGN="JUSTIFY">W imię Imperatorskiej Mości; oddaj szpadę,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Panie Hrabio, bo wezwę wojskowej pomocy!</p>
  <p ALIGN="JUSTIFY">A wiesz Pan, że kto zbrojnie śmie napadać w nocy,</p>
  <p ALIGN="JUSTIFY">Zastrzeżono tysiącznym dwóchsetnym ukazem,</p>
  <p ALIGN="JUSTIFY">Że jak zło...&quot; Wtem go Hrabia w twarz uderzył płazem.</p>
  <p ALIGN="JUSTIFY">Padł zgłuszony Asesor i skrył się w pokrzywy;</p>
  <p ALIGN="JUSTIFY">Wszyscy myśleli, że był ranny lub nieżywy.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Widzę - rzekł Sędzia - że się na rozbój
  zanosi&quot;.</p>
  <p ALIGN="JUSTIFY">Jęknęli wszyscy; wszystkich zagłuszył wrzask Zosi,</p>
  <p ALIGN="JUSTIFY">Która krzyczała, Sędzię objąwszy rękami,</p>
  <p ALIGN="JUSTIFY">Jako dziecko od Żydów kłute igiełkami.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tymczasem Telimena wpadła między konie,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wyciągnęła ku Hrabi załamane dłonie:</p>
  <p ALIGN="JUSTIFY">&quot;Na twój honor! - krzyknęła przeraźliwym głosem,</p>
  <p ALIGN="JUSTIFY">Z głową w tył wychyloną, z rozpuszczonym włosem -</p>
  <p ALIGN="JUSTIFY">Przez wszystko, co jest świętem, na klęczkach błagamy!</p>
  <p ALIGN="JUSTIFY">Hrabio, śmieszże odmówić? proszą ciebie damy;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Okrutniku, nas pierwej musisz zamordować!&quot;</p>
  <p ALIGN="JUSTIFY">Padła zemdlona - Hrabia skoczył ją ratować,</p>
  <p ALIGN="JUSTIFY">Zadziwiony i nieco zmieszany tą sceną.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Panno Zofijo - rzecze - Pani Telimeno!</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nigdy się krwią bezbronnych ta szpada nie splami;</p>
  <p ALIGN="JUSTIFY">Soplicowie, jesteście mojemi więźniami.</p>
  <p ALIGN="JUSTIFY">Tak zrobiłem we Włoszech, kiedy pod opoką,</p>
  <p ALIGN="JUSTIFY">Którą Sycylijanie zwą Birbante-rokką,</p>
  <p ALIGN="JUSTIFY">Zdobyłem tabor zbójców; zbrojnych mordowałem,</p>
  <p ALIGN="JUSTIFY">Rozbrojonych zabrałem i związać kazałem:</p>
  <p ALIGN="JUSTIFY">Szli za końmi i tryumf mój zdobili świetny,</p>
  <p ALIGN="JUSTIFY">Potem ich powieszono u podnoża Etny&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Było to osobliwe szczęście dla Sopliców,</p>
  <p ALIGN="JUSTIFY">Że Hrabia, mając lepsze konie od szlachciców</p>
  <p ALIGN="JUSTIFY">I chcąc spotkać się pierwszy, zostawił ich w tyle</p>
  <p ALIGN="JUSTIFY">I biegł przed resztą jazdy, przynajmniej o milę</p>
  <p ALIGN="JUSTIFY">Ze swym dżokejstwem, które, posłuszne i karne,</p>
  <p ALIGN="JUSTIFY">Stanowiło niejako wojsko regularne,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gdy inna szlachta była, zwyczajem powstania,</p>
  <p ALIGN="JUSTIFY">Burzliwa i nieźmiernie skora do wieszania.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Hrabia miał czas ostygnąć z zapału i gniewu,</p>
  <p ALIGN="JUSTIFY">Przemyślał, jak by skończyć bój bez krwi rozlewu;</p>
  <p ALIGN="JUSTIFY">Więc rodzinę Sopliców w domu zamknąć każe</p>
  <p ALIGN="JUSTIFY">Jako więźniów wojennych; u drzwi stawi straże.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wtem &quot;Hajże na Sopliców!&quot; wpada szlachta
  hurmem,</p>
  <p ALIGN="JUSTIFY">Obstępuje dwór wkoło i bierze go szturmem,</p>
  <p ALIGN="JUSTIFY">Tym łacniej, że wódz wzięty i pierzchła załoga;</p>
  <p ALIGN="JUSTIFY">Lecz zdobywcy chcą bić się, wyszukują wroga.</p>
  <p ALIGN="JUSTIFY">Do domu nie wpuszczeni, biegą do folwarku,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Do kuchni. </p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Gdy do kuchni weszli, widok garków,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ogień ledwie zagasły, potraw zapach świeży,</p>
  <p ALIGN="JUSTIFY">Chrupanie psów, gryzących ostatki wieczerzy,</p>
  <p ALIGN="JUSTIFY">Chwyta wszystkich za serca, myśl wszystkich odmienia,</p>
  <p ALIGN="JUSTIFY">Studzi gniewy, zapala potrzebę jedzenia.</p>
  <p ALIGN="JUSTIFY">Marszem i całodziennym znużeni sejmikiem,</p>
  <p ALIGN="JUSTIFY">&quot;Jeść! jeść!&quot; - po trzykroć zgodnym wezwali okrzykiem,</p>
  <p ALIGN="JUSTIFY">Odpowiedziano: &quot;Pić! pić!&quot; Między szlachty zgrają</p>
  <p ALIGN="JUSTIFY">Stają dwa chory: ci pić, a ci jeść wołają;</p>
  <p ALIGN="JUSTIFY">Odgłos leci echami; gdzie tylko dochodzi,</p>
  <p ALIGN="JUSTIFY">Wzbudza oskomę w ustach, głód w żołądkach rodzi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I tak na dane z kuchni hasło, niespodzianie</p>
  <p ALIGN="JUSTIFY">Rozeszła się armija na furażowanie.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Gerwazy, od pokojów Sędziego odparty,</p>
  <p ALIGN="JUSTIFY">Ustąpić musiał przez wzgląd dla hrabiowskiej warty.</p>
  <p ALIGN="JUSTIFY">Więc nie mogąc zemścić się na nieprzyjacielu,</p>
  <p ALIGN="JUSTIFY">Myślił o drugim wielkim tej wyprawy celu.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jako człek doświadczony i biegły w prawnictwie,</p>
  <p ALIGN="JUSTIFY">Chce Hrabiego osadzić na nowym dziedzictwie</p>
  <p ALIGN="JUSTIFY">Legalnie i formalnie; więc za Woźnym biega,</p>
  <p ALIGN="JUSTIFY">Aż go po długich śledztwach za piecem dostrzega.</p>
  <p ALIGN="JUSTIFY">Wnet porywa za kołnierz, na dziedziniec wlecze</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I zmierzywszy mu w piersi Scyzoryk, tak rzecze:</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Panie Woźny, pan Hrabia śmie Waćpana prosić,</p>
  <p ALIGN="JUSTIFY">Abyś raczył przed szlachtą bracią wnet ogłosić</p>
  <p ALIGN="JUSTIFY">Intromisyją Hrabi do zamku, do dworu</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Sopliców, do wsi, gruntów zasianych, ugoru,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Słowem, cum gais, boris et graniciebus,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kmetonibus, scultetis et omnibus rebus</p>
  <p ALIGN="JUSTIFY">Et quibusdam alijis. Jak tam wiesz, tak szczekaj,</p>
  <p ALIGN="JUSTIFY">Nic nie opuszczaj!&quot; </p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">&quot;Panie Kluczniku, zaczekaj! -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Rzekł śmiało, ręce za pas włożywszy Protazy -</p>
  <p ALIGN="JUSTIFY">Gotów jestem wypełniać wszelkie stron rozkazy,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale ostrzegam, że akt nie będzie miał mocy,</p>
  <p ALIGN="JUSTIFY">Wymuszony przez gwałty, ogłoszony w nocy&quot;.</p>
  <p ALIGN="JUSTIFY">&quot;Co za gwałty? - rzekł Klucznik - tu nie ma napaści,</p>
  <p ALIGN="JUSTIFY">Wszak proszę Pana grzecznie; jeśli ciemno Waści,</p>
  <p ALIGN="JUSTIFY">To Scyzorykiem skrzesam ognia, że Waszeci</p>
  <p ALIGN="JUSTIFY">Zaraz w ślepiach jak w siedmiu kościołach zaświeci&quot;.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Gerwazeńku - rzekł Woźny - po co się tak
  dąsać?</p>
  <p ALIGN="JUSTIFY">Jestem woźny, nie moja rzecz sprawę roztrząsać;</p>
  <p ALIGN="JUSTIFY">Wszak wiadomo, że strona woźnego zaprasza</p>
  <p ALIGN="JUSTIFY">I dyktuje mu, co chce, a woźny ogłasza.</p>
  <p ALIGN="JUSTIFY">Woźny jest posłem prawa, a posłów nie karzą,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nie wiem tedy, za co mnie trzymacie pod strażą;</p>
  <p ALIGN="JUSTIFY">Wnet akt spiszę, niech mi kto latarkę przyniesie,</p>
  <p ALIGN="JUSTIFY">A tymczasem ogłaszam: Bracia, uciszcie się!&quot;</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I by donośniej mówić, wstąpił na stos wielki</p>
  <p ALIGN="JUSTIFY">Belek (pod płotem sadu suszyły się belki),</p>
  <p ALIGN="JUSTIFY">Wlazł na nie i zarazem, jakby go wiatr zdmuchnął,</p>
  <p ALIGN="JUSTIFY">Zniknął z oczu; słyszano, jak w kapustę buchnął;</p>
  <p ALIGN="JUSTIFY">Widziano, po konopiach ciemnych jego biała</p>
  <p ALIGN="JUSTIFY">Konfederatka niby gołąb przeleciała.</p>
  <p ALIGN="JUSTIFY">Konewka strzelił w czapkę, ale chybił celu;</p>
  <p ALIGN="JUSTIFY">Wtem zatrzeszczały tyki, już Protazy w chmielu -</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&quot;Protestuję!&quot; - zawołał; pewny był
  ucieczki,</p>
  <p ALIGN="JUSTIFY">Bo za sobą miał łozę i bagniska rzeczki.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Po tej protestacyi, która się ozwała</p>
  <p ALIGN="JUSTIFY">Jak na zdobytych wałach ostatni strzał działa,</p>
  <p ALIGN="JUSTIFY">Ustał już wszelki opor w Soplicowskim dworze;</p>
  <p ALIGN="JUSTIFY">Szlachta głodna plądruje, zabiera, co może.</p>
  <p ALIGN="JUSTIFY">Kropiciel, stanowisko zająwszy w oborze,</p>
  <p ALIGN="JUSTIFY">Jednego wołu i dwa cielce w łby zakropił,</p>
  <p ALIGN="JUSTIFY">A Brzytewka im szablę w gardzielach utopił.</p>
  <p ALIGN="JUSTIFY">Szydełko równie czynnie używał swej szpadki,</p>
  <p ALIGN="JUSTIFY">Kabany i prosięta koląc pod łopatki.</p>
  <p ALIGN="JUSTIFY">Już rzeź zagraża ptastwu. Czujne gęsi stado,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Co niegdyś ocaliło Rzym przed Gallów zdradą,</p>
  <p ALIGN="JUSTIFY">Darmo gęga o pomoc; zamiast Manlijusza</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Wpada w kotuch Konewka, jedne ptaki zdusza,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">A drugie żywcem wiąże do pasa kontusza.</p>
  <p ALIGN="JUSTIFY">Próżno gęsi, szyjami wywijając, chrypią,</p>
  <p ALIGN="JUSTIFY">Próżno gęsiory sycząc napastnika szczypią.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">On bieży; osypany iskrzącym się puchem,</p>
  <p ALIGN="JUSTIFY">Unoszony jak kółmi gęsich skrzydeł ruchem,</p>
  <p ALIGN="JUSTIFY">Zdaje się być chochlikiem, skrzydlatym złym duchem.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Ale rzeź najstraszniejsza, chociaż najmniej krzyku,</p>
  <p ALIGN="JUSTIFY">Między kurami. Młody Sak wpadł do kurniku</p>
  <p ALIGN="JUSTIFY">I z drabinek, stryczkami łowiąc, ciągnie z góry</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kogutki i szurpate i czubate kury;</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Jedne po drugich dusi i składa do kupy,</p>
  <p ALIGN="JUSTIFY">Ptastwo piękne, karmione perłowemi krupy.</p>
  <p ALIGN="JUSTIFY">Niebaczny Saku, jakiż zapał cię unosi!</p>
  <p ALIGN="JUSTIFY">Nigdy już odtąd gniewnej nie przebłagasz Zosi.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">&nbsp;</p>
  <p ALIGN="JUSTIFY">Gerwazy przypomina starodawne czasy.</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Każe sobie podawać od kontuszów pasy</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">I nimi z Soplicowskiej piwnicy dobywa</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Beczki starej siwuchy, dębniaku i piwa.</p>
  <p ALIGN="JUSTIFY">Jedne wnet odgwożdżono, a drugie ochoczo</p>
  <p ALIGN="JUSTIFY">Szlachta, gęsta jak mrówie, porywają, toczą</p>
  <p ALIGN="JUSTIFY">Do zamku; tam na nocleg cały tłum się zbiera,</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Tam założona główna Hrabiego kwatera.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Nakładają sto ognisk, warzą, skwarzą, pieką,</p>
  <p ALIGN="JUSTIFY">Gną się stoły pod mięsem, trunek płynie rzeką;</p>
  <p ALIGN="JUSTIFY">Chce szlachta noc tę przepić, przejeść i prześpiewać.</p>
  <p ALIGN="JUSTIFY">Lecz powoli zaczęli drzemać i poziewać;</p>
  <p ALIGN="JUSTIFY">Oko gaśnie za okiem, i cała gromada</font></p>
  <font SIZE="4"><p ALIGN="JUSTIFY">Kiwa głowami, każdy, gdzie siedział, tam pada:</p>
  <p ALIGN="JUSTIFY">Ten z misą, ten nad kuflem, ten przy wołu ćwierci.</p>
  <p ALIGN="JUSTIFY">Tak zwyciężców zwyciężył w końcu sen, brat śmierci.</font></p>
  <p ALIGN="JUSTIFY">&nbsp;</p>
  <hr>
  <div align="center"><center><table border="0" cellpadding="0" width="100%">
    <tr>
      <td width="33%"><p align="center"><a href="k7"><strong>KSIĘGA SIÓDMA</strong></a></td>
	  <td width="33%"><p align="center"><a href="{{ path('index') }}"><strong>PAN TADEUSZ</strong></a></td>
      <td width="34%"><p align="center"><a href="k9"><strong>KSIĘGA DZIEWIĄTA</strong></a></td>
    </tr>
  </table>
  </center></div>
</blockquote>
{% endblock %}

