<html>
	<head>
		<title>Hello World!!!</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<header>
			<h1>Hello {{imie}} {{nazwisko}}!!!</h1>
		</header>
		<footer>
			<p> (c) Bartlomiej Zajac </p>
		</footer>
	</body>
</html>
